openapi: 3.0.0
info:
  title: Interoperability APIs - Financial Address Mapper Mgmt
  description: Financial [Address Mapper](https://g2pconnect.cdpi.dev/protocol/interfaces/beneficiary-management/mapper-architecture) Mgmt APIs
  version: 1.0.0
  contact:
    name: G2P Connect
    email: info@g2pconnect.global
  license:
   name: CDPI CC BY-SA 4.0e
   url: 'https://github.com/G2P-Connect/specs/blob/main/LICENSE'
servers:
  - url: "https://sandbox.dpg.org/namespace/v1.0.0"
    description: Sandbox Server
tags: 
  - name: Async
    description: Async endpoints
  - name: Sync 
    description: Sync endpoints
  - name: Schemas
    description: Schemas
  - name: Status Codes
    description: Status Codes
  - name: LinkRequest
    x-displayName: LinkRequest
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/LinkRequest" />    
  - name: LinkResponse
    x-displayName: LinkResponse
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/LinkResponse" />    
  - name: LinkStatusReasonCode
    x-displayName: LinkStatusReasonCode
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/LinkStatusReasonCode" />   
  - name: ResolveRequest
    x-displayName: ResolveRequest
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/ResolveRequest" />    
  - name: ResolveResponse
    x-displayName: ResolveResponse
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/ResolveResponse" />    
  - name: ResolveStatusReasonCode
    x-displayName: ResolveStatusReasonCode
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/ResolveStatusReasonCode" />
  - name: UpdateRequest
    x-displayName: UpdateRequest
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/UpdateRequest" />    
  - name: UpdateResponse
    x-displayName: UpdateResponse
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/UpdateResponse" />   
  - name: UpdateStatusReasonCode
    x-displayName: UpdateStatusReasonCode
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/UpdateStatusReasonCode" /> 
  - name: UnlinkRequest
    x-displayName: UnlinkRequest
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/UnlinkRequest" />    
  - name: UnlinkResponse
    x-displayName: UnlinkResponse
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/UnlinkResponse" />   
  - name: UnlinkStatusReasonCode
    x-displayName: UnlinkStatusReasonCode
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/UnlinkStatusReasonCode" />  
  - name: TxnStatusRequest
    x-displayName: TxnStatusRequest
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/TxnStatusRequest" />    
  - name: TxnStatusResponse
    x-displayName: TxnStatusResponse
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/TxnStatusResponse" />    
  - name: EncryptedMessage
    x-displayName: EncryptedMessage
    description: |
      <SchemaDefinition schemaRef="#/components/schemas/EncryptedMessage" />    
x-tagGroups:
  - name: API Definitions
    tags:
      - Async
      - Sync
  - name: Schema Objects
    tags:
      - LinkRequest
      - LinkResponse 
      - ResolveRequest
      - ResolveResponse
      - UpdateRequest
      - UpdateResponse
      - UnlinkRequest
      - UnlinkResponse
      - TxnStatusRequest
      - TxnStatusResponse
  - name: Status Codes
    tags: 
      - LinkStatusReasonCode
      - ResolveStatusReasonCode
      - UpdateStatusReasonCode
      - UnlinkStatusReasonCode  
paths:
 /mapper/link:
  post: 
    summary: "/mapper/link"
    description: Linking ID to Financial Address in the mapper registry
    operationId: post_mapper_link
    tags:
      - Async
    requestBody:
      description: ""
      required: true
      content:
        application/json:
          schema:
              type: object
              properties:
                signature:  
                  $ref: "#/components/schemas/MsgSignature"
                header:
                  allOf:
                    - $ref: "#/components/schemas/MsgHeader_V1.0.0"
                    - properties:
                        action:
                          enum:
                            - link
                message:
                  type: object
                  description: The search data using which registry search to be performed
                  oneOf:
                    - $ref: "#/components/schemas/LinkRequest"
                    - $ref: "#/components/schemas/EncryptedMessage"
              required:
                - header
                - message
        multipart/form-data:
          schema:
            allOf:
              - $ref: "#/components/schemas/FileInfo"
              - properties:
                  action:
                    enum:
                      - link
    responses:
        default:
          $ref: "#/components/responses/Response"
        '401':
          $ref: "#/components/responses/HttpErrorResponse"
        '403':
          $ref: "#/components/responses/HttpErrorResponse"
        '500':
          $ref: "#/components/responses/HttpErrorResponse"
    security:
      - x-access-token: [ ]
      # - Signature: [ ]
    deprecated: false
 /mapper/on-link:
  post: 
    summary: "/mapper/on-link"
    description: Linking response throuhg callback 
    operationId: post_mapper_on-link
    tags: 
      -  Async
    requestBody:
      description: ""
      required: true
      content:
        application/json:
          schema:
              type: object
              properties:
                signature:  
                  $ref: "#/components/schemas/MsgSignature"
                header:
                  allOf:
                    - $ref: "#/components/schemas/MsgCallbackHeader_V1.0.0"
                    - properties:
                        action:
                          enum:
                            - on-link
                message:
                  type: object
                  oneOf:
                    - $ref: '#/components/schemas/LinkResponse'
                    - $ref: '#/components/schemas/EncryptedMessage'
              required:
                - header
        multipart/form-data:
          schema:
            allOf:
              - $ref: "#/components/schemas/FileInfo"
              - properties:
                  action:
                    enum:
                      - on-link
    responses:
        default:
          $ref: "#/components/responses/Response"
        '401':
          $ref: "#/components/responses/HttpErrorResponse"
        '403':
          $ref: "#/components/responses/HttpErrorResponse"
        '500':
          $ref: "#/components/responses/HttpErrorResponse"
    security:
      - x-access-token: [ ]
      # - Signature: [ ]
    deprecated: false
 /mapper/update:
  post: 
    summary: "/mapper/update"
    description: Updating fa details against an id in mapper registry
    operationId: put_g2p_mapper_update
    tags: 
      -  Async
    requestBody:
      description: ""
      required: true
      content:
        application/json:
          schema:
              type: object
              properties:
                signature:  
                  $ref: "#/components/schemas/MsgSignature"
                header:
                  allOf:
                    - $ref: "#/components/schemas/MsgHeader_V1.0.0"
                    - properties:
                        action:
                          enum:
                            - update
                
                message:
                  type: object
                  description: The search data using which registry search to be performed
                  oneOf:
                    - $ref: "#/components/schemas/UpdateRequest"
                    - $ref: "#/components/schemas/EncryptedMessage"
              required:
                - header
                - message
        multipart/form-data:
          schema:
            allOf:
              - $ref: "#/components/schemas/FileInfo"
              - properties:
                  action:
                    enum:
                      - update
    responses:
        default:
          $ref: "#/components/responses/Response"
        '401':
          $ref: "#/components/responses/HttpErrorResponse"
        '403':
          $ref: "#/components/responses/HttpErrorResponse"
        '500':
          $ref: "#/components/responses/HttpErrorResponse"
    security:
      - x-access-token: [ ]
      # - Signature: [ ]
    deprecated: false
 /mapper/on-update:
  post: 
    summary: "/mapper/on-update"
    description: Update response through callback
    operationId: put_mapper_on-update
    tags: 
      -  Async
    requestBody:
      description: ""
      required: true
      content:
        application/json:
          schema:
              type: object
              properties:
                signature:  
                  $ref: "#/components/schemas/MsgSignature"
                header:
                  allOf:
                    - $ref: "#/components/schemas/MsgCallbackHeader_V1.0.0"
                    - properties:
                        action:
                          enum:
                            - on-update
                message:
                  type: object
                  oneOf:
                    - $ref: '#/components/schemas/UpdateResponse'
                    - $ref: '#/components/schemas/EncryptedMessage'
              required:
                - header
        multipart/form-data:
          schema:
            allOf:
              - $ref: "#/components/schemas/FileInfo"
              - properties:
                  action:
                    enum:
                      - on-update
    responses:
        default:
          $ref: "#/components/responses/Response"
        '401':
          $ref: "#/components/responses/HttpErrorResponse"
        '403':
          $ref: "#/components/responses/HttpErrorResponse"
        '500':
          $ref: "#/components/responses/HttpErrorResponse"
    security:
      - x-access-token: [ ]
      # - Signature: [ ]
    deprecated: false
 /mapper/unlink:
  post: 
    summary: "/mapper/unlink"
    description: "Unlinking id from mapper registry"
    operationId: post_mapper_unlink
    tags: 
      -  Async
    requestBody:
      description: ""
      required: true
      content:
        application/json:
          schema:
              type: object
              properties:
                signature:  
                  $ref: "#/components/schemas/MsgSignature"
                header:
                  allOf:
                    - $ref: "#/components/schemas/MsgHeader_V1.0.0"
                    - properties:
                        action:
                          enum:
                            - unlink
                message:
                  type: object
                  oneOf:
                    - $ref: '#/components/schemas/UnlinkRequest'
                    - $ref: '#/components/schemas/EncryptedMessage'
              required:
                - header
                - message
        multipart/form-data:
          schema:
            allOf:
              - $ref: "#/components/schemas/FileInfo"
              - properties:
                  action:
                    enum:
                      - unlink
    responses:
        default:
          $ref: "#/components/responses/Response"
        '401':
          $ref: "#/components/responses/HttpErrorResponse"
        '403':
          $ref: "#/components/responses/HttpErrorResponse"
        '500':
          $ref: "#/components/responses/HttpErrorResponse"
    security:
      - x-access-token: [ ]
      # - Signature: [ ]
    deprecated: false
 /mapper/on-unlink:
  post: 
    summary: "/mapper/on-unlink"
    description: "Unlinking response through callback end point"
    operationId: post_mapper_on-unlink
    tags: 
      -  Async
    requestBody:
      description: ""
      required: true
      content:
        application/json:
          schema:
              type: object
              properties:
                signature:  
                  $ref: "#/components/schemas/MsgSignature"
                header:
                  allOf:
                    - $ref: "#/components/schemas/MsgCallbackHeader_V1.0.0"
                    - properties:
                        action:
                          enum:
                            - on-unlink
                message:
                  type: object
                  oneOf:
                    - $ref: '#/components/schemas/UnlinkResponse'
                    - $ref: '#/components/schemas/EncryptedMessage'
              required:
                - header
        multipart/form-data:
          schema:
            allOf:
              - $ref: "#/components/schemas/FileInfo"
              - properties:
                  action:
                    enum:
                      - on-unlink
    responses:
        default:
          $ref: "#/components/responses/Response"
        '401':
          $ref: "#/components/responses/HttpErrorResponse"
        '403':
          $ref: "#/components/responses/HttpErrorResponse"
        '500':
          $ref: "#/components/responses/HttpErrorResponse"
    security:
      - x-access-token: [ ]
      # - Signature: [ ]
    deprecated: false
 /mapper/resolve:
  post: 
    summary: "/mapper/resolve"
    description: "Resolve fa / beneficiary id to a store of value"
    operationId: post_mapper_resolve
    tags: 
      -  Async
    requestBody:
      description: ""
      required: true
      content:
        application/json:
          schema:
              type: object
              properties:
                signature:  
                  $ref: "#/components/schemas/MsgSignature"
                header:
                  allOf:
                    - $ref: "#/components/schemas/MsgHeader_V1.0.0"
                    - properties:
                        action:
                          enum:
                            - resolve
                message:
                  type: object
                  oneOf:
                    - $ref: '#/components/schemas/ResolveRequest'
                    - $ref: '#/components/schemas/EncryptedMessage'
              required:
                - header
                - message
        multipart/form-data:
          schema:
            allOf:
              - $ref: "#/components/schemas/FileInfo"
              - properties:
                  action:
                    enum:
                      - resolve
    responses:
        default:
          $ref: "#/components/responses/Response"
        '401':
          $ref: "#/components/responses/HttpErrorResponse"
        '403':
          $ref: "#/components/responses/HttpErrorResponse"
        '500':
          $ref: "#/components/responses/HttpErrorResponse"
    security:
      - x-access-token: [ ]
      # - Signature: [ ]
    deprecated: false
 /mapper/on-resolve:
  post: 
    summary: "/mapper/on-resolve"
    description: "Resolve response through callback end point"
    operationId: post_mapper_on-resolve
    tags: 
      -  Async
    requestBody:
      description: ""
      required: true
      content:
        application/json:
          schema:
              type: object
              properties:
                signature:  
                  $ref: "#/components/schemas/MsgSignature"
                header:
                  allOf:
                    - $ref: "#/components/schemas/MsgCallbackHeader_V1.0.0"
                    - properties:
                        action:
                          enum:
                            - on-resolve
                message:
                  type: object
                  oneOf:
                    - $ref: '#/components/schemas/ResolveResponse'
                    - $ref: '#/components/schemas/EncryptedMessage'
              required:
                - header
        multipart/form-data:
          schema:
            allOf:
              - $ref: "#/components/schemas/FileInfo"
              - properties:
                  action:
                    enum:
                      - on-resolve
    responses:
        default:
          $ref: "#/components/responses/Response"
        '401':
          $ref: "#/components/responses/HttpErrorResponse"
        '403':
          $ref: "#/components/responses/HttpErrorResponse"
        '500':
          $ref: "#/components/responses/HttpErrorResponse"
    security:
      - x-access-token: [ ]
      # - Signature: [ ]
    deprecated: false
 /mapper/txn/status:
  post: 
    summary: "/mapper/txn/status"
    description: |
      Perform async status check of previous mapper transanctions using transaction_id and/or reference_id(s)
    operationId: post_mapper_txnstatus
    tags: 
      -  Async
    requestBody:
      description: ""
      required: true
      content:
        application/json:
          schema:
              type: object
              properties:
                signature:  
                  $ref: "#/components/schemas/MsgSignature"
                header:
                  allOf:
                    - $ref: "#/components/schemas/MsgHeader_V1.0.0"
                    - properties:
                        action:
                          enum:
                            - txn-status
                message:
                  type: object
                  oneOf:
                    - $ref: '#/components/schemas/TxnStatusRequest'
                    - $ref: '#/components/schemas/EncryptedMessage'
              required:
                - header
                - message
        multipart/form-data:
          schema:
            allOf:
              - $ref: "#/components/schemas/FileInfo"
              - properties:
                  action:
                    enum:
                      - txn-status
    responses:
        default:
          $ref: "#/components/responses/Response"
        '401':
          $ref: "#/components/responses/HttpErrorResponse"
        '403':
          $ref: "#/components/responses/HttpErrorResponse"
        '500':
          $ref: "#/components/responses/HttpErrorResponse"
    security:
      - x-access-token: [ ]
      # - Signature: [ ]
    deprecated: false
 /mapper/txn/on-status:
  post: 
    summary: "/mapper/txn/on-status"
    description: "Response to async status check of previous mapper transanctions using callback"
    operationId: post_mapper_on-txnstatus
    tags: 
      -  Async
    requestBody:
      description: ""
      required: true
      content:
        application/json:
          schema:
              type: object
              properties:
                signature:  
                  $ref: "#/components/schemas/MsgSignature"
                header:
                  allOf:
                    - $ref: "#/components/schemas/MsgCallbackHeader_V1.0.0"
                    - properties:
                        action:
                          enum:
                            - txn-on-status
                message:
                  type: object
                  oneOf:
                    - $ref: '#/components/schemas/TxnStatusResponse'
                    - $ref: '#/components/schemas/EncryptedMessage'
              required:
                - header
        multipart/form-data:
          schema:
            allOf:
              - $ref: "#/components/schemas/FileInfo"
              - properties:
                  action:
                    enum:
                      - txn-on-status
    responses:
        default:
          $ref: "#/components/responses/Response"
        '401':
          $ref: "#/components/responses/HttpErrorResponse"
        '403':
          $ref: "#/components/responses/HttpErrorResponse"
        '500':
          $ref: "#/components/responses/HttpErrorResponse"
    security:
      - x-access-token: [ ]
      # - Signature: [ ]
    deprecated: false
 /mapper/sync/link:
  post: 
    summary: "/mapper/sync/link"
    description: Linking ID to Financial Address in the mapper registry
    operationId: post_reg_sync_link
    tags: 
      -  Sync
    requestBody:
      description: ""
      required: true
      content:
        application/json:
          schema:
              type: object
              properties:
                signature:  
                  $ref: "#/components/schemas/MsgSignature"
                header:
                  allOf:
                    - $ref: "#/components/schemas/MsgHeader_V1.0.0"
                    - properties:
                        action:
                          enum:
                            - link
                message:
                  type: object
                  description: The link data to map id to fa
                  anyOf:
                    - $ref: '#/components/schemas/LinkRequest'
                    - $ref: '#/components/schemas/EncryptedMessage'
              required:
                - header
                - message
    responses:
        default:
          description: Linking response throuhg callback 
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature:  
                    $ref: "#/components/schemas/MsgSignature"
                  header:
                    allOf:
                      - $ref: "#/components/schemas/MsgCallbackHeader_V1.0.0"
                      - properties:
                          action:
                            enum:
                              - on-search
                  message:
                    type: object
                    oneOf:
                      - $ref: '#/components/schemas/LinkResponse'
                      - $ref: '#/components/schemas/EncryptedMessage'
                required:
                  - header
        '401':
          $ref: "#/components/responses/HttpErrorResponse"
        '403':
          $ref: "#/components/responses/HttpErrorResponse"
        '500':
          $ref: "#/components/responses/HttpErrorResponse"
    security:
      - x-access-token: [ ]
    deprecated: false
 /mapper/sync/update:
  post: 
    summary: "/mapper/sync/update"
    description: Update ID or Financial Address in the mapper registry
    operationId: post_reg_sync_update
    tags: 
      -  Sync
    requestBody:
      description: ""
      required: true
      content:
        application/json:
          schema:
              type: object
              properties:
                signature:  
                  $ref: "#/components/schemas/MsgSignature"
                header:
                  allOf:
                    - $ref: "#/components/schemas/MsgHeader_V1.0.0"
                    - properties:
                        action:
                          enum:
                            - link
                message:
                  type: object
                  description: The link data to map id to fa
                  anyOf:
                    - $ref: '#/components/schemas/UpdateRequest'
                    - $ref: '#/components/schemas/EncryptedMessage'
              required:
                - header
                - message
    responses:
        default:
          description: Linking response throuhg callback 
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature:  
                    $ref: "#/components/schemas/MsgSignature"
                  header:
                    allOf:
                      - $ref: "#/components/schemas/MsgCallbackHeader_V1.0.0"
                      - properties:
                          action:
                            enum:
                              - on-search
                  message:
                    type: object
                    oneOf:
                      - $ref: '#/components/schemas/UpdateResponse'
                      - $ref: '#/components/schemas/EncryptedMessage'
                required:
                  - header
        '401':
          $ref: "#/components/responses/HttpErrorResponse"
        '403':
          $ref: "#/components/responses/HttpErrorResponse"
        '500':
          $ref: "#/components/responses/HttpErrorResponse"
    security:
      - x-access-token: [ ]
    deprecated: false
 /mapper/sync/unlink:
  post: 
    summary: "/mapper/sync/unlink"
    description: Unlink ID to Financial Address in the mapper registry
    operationId: post_reg_sync_unlink
    tags: 
      -  Sync
    requestBody:
      description: ""
      required: true
      content:
        application/json:
          schema:
              type: object
              properties:
                signature:  
                  $ref: "#/components/schemas/MsgSignature"
                header:
                  allOf:
                    - $ref: "#/components/schemas/MsgHeader_V1.0.0"
                    - properties:
                        action:
                          enum:
                            - link
                message:
                  type: object
                  description: Request message to unlink id from fa 
                  anyOf:
                    - $ref: '#/components/schemas/UnlinkRequest'
                    - $ref: '#/components/schemas/EncryptedMessage'
              required:
                - header
                - message
    responses:
        default:
          description: Unlink response throuhg callback 
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature:  
                    $ref: "#/components/schemas/MsgSignature"
                  header:
                    allOf:
                      - $ref: "#/components/schemas/MsgCallbackHeader_V1.0.0"
                      - properties:
                          action:
                            enum:
                              - on-search
                  message:
                    type: object
                    oneOf:
                      - $ref: '#/components/schemas/UnlinkResponse'
                      - $ref: '#/components/schemas/EncryptedMessage'
                required:
                  - header
        '401':
          $ref: "#/components/responses/HttpErrorResponse"
        '403':
          $ref: "#/components/responses/HttpErrorResponse"
        '500':
          $ref: "#/components/responses/HttpErrorResponse"
    security:
      - x-access-token: [ ]
    deprecated: false
 /mapper/sync/resolve:
  post: 
    summary: "/mapper/sync/resolve"
    description: Resolve ID to a Financial Address in the mapper registry
    operationId: post_reg_sync_resolve
    tags: 
      -  Sync
    requestBody:
      description: ""
      required: true
      content:
        application/json:
          schema:
              type: object
              properties:
                signature:  
                  $ref: "#/components/schemas/MsgSignature"
                header:
                  allOf:
                    - $ref: "#/components/schemas/MsgHeader_V1.0.0"
                    - properties:
                        action:
                          enum:
                            - link
                message:
                  type: object
                  description: Request message to resolve id to a fa 
                  anyOf:
                    - $ref: '#/components/schemas/ResolveRequest'
                    - $ref: '#/components/schemas/EncryptedMessage'
              required:
                - header
                - message
    responses:
        default:
          description: Resolve response through callback 
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature:  
                    $ref: "#/components/schemas/MsgSignature"
                  header:
                    allOf:
                      - $ref: "#/components/schemas/MsgCallbackHeader_V1.0.0"
                      - properties:
                          action:
                            enum:
                              - on-search
                  message:
                    type: object
                    oneOf:
                      - $ref: '#/components/schemas/ResolveResponse'
                      - $ref: '#/components/schemas/EncryptedMessage'
                required:
                  - header
        '401':
          $ref: "#/components/responses/HttpErrorResponse"
        '403':
          $ref: "#/components/responses/HttpErrorResponse"
        '500':
          $ref: "#/components/responses/HttpErrorResponse"
    security:
      - x-access-token: [ ]
    deprecated: false
 /registry/sync/txn/status:
  post: 
    summary: "/registry/sync/txn/status"
    description: Perform sync status check of previous civil registry transanctions using transaction_id and/or reference_id(s)
    operationId: post_reg_sync_txnstatus
    tags: 
      -  Sync
    requestBody:
      description: ""
      required: true
      content:
        application/json:
          schema:
              type: object
              properties:
                signature:  
                  $ref: "#/components/schemas/MsgSignature"
                header:
                  allOf:
                    - $ref: "#/components/schemas/MsgHeader_V1.0.0"
                    - properties:
                        action:
                          enum:
                            - txn-status
                message:
                  type: object
                  oneOf:
                    - $ref: '#/components/schemas/TxnStatusRequest'
                    - $ref: '#/components/schemas/EncryptedMessage'
              required:
                - header
                - message
    responses:
        default:
          description: "Transaction status check response"
          content:
            application/json:
              schema:
                  type: object
                  properties:
                    signature:  
                      $ref: "#/components/schemas/MsgSignature"
                    header:
                      allOf:
                        - $ref: "#/components/schemas/MsgCallbackHeader_V1.0.0"
                        - properties:
                            action:
                              enum:
                                - txn-on-status
                    message:
                      type: object
                      oneOf:
                        - $ref: '#/components/schemas/TxnStatusResponse'
                        - $ref: '#/components/schemas/EncryptedMessage'
                  required:
                    - header
        '401':
          $ref: "#/components/responses/HttpErrorResponse"
        '403':
          $ref: "#/components/responses/HttpErrorResponse"
        '500':
          $ref: "#/components/responses/HttpErrorResponse"
    security:
      - x-access-token: [ ]
    deprecated: false
components:
  schemas:
    ###### src/extensions/cdpi schema objects
    cdpi_PersonId: 
      $ref: ../extensions/cdpi/PersonId.yaml
    cdpi_FinancialAddress: 
      $ref: ../extensions/cdpi/FinancialAddress.yaml
    cdpi_FinancialAddressList: 
      $ref: ../extensions/cdpi/FinancialAddressList.yaml
    
    ###### src/extensions/dci schema objects
    ###### src/extensions/fhir schema objects
    
    ###### src/extensions/google schema objects
    GooglePlusCode: 
      $ref: ../extensions/google/GooglePlusCode.yaml

    ###### src/extensions/mosip schema objects
    ###### src/extensions/nid schema objects      
    ###### src/extensions/openid schema objects
    openid_Address: 
      $ref: ../extensions/openid/Address.yaml
    openid_PersonRecord:
      $ref: ../extensions/openid/PersonRecord.yaml
    openid_PersonDocDetails: 
      $ref: ../extensions/openid/PersonDocDetails.yaml
    
    ###### src/registry/schema/core schema objects
    AccountProviderInfo: 
      $ref: schema/AccountProviderInfo.yaml
    LinkRequest: 
      $ref: schema/LinkRequest.yaml
    LinkResponse: 
      $ref: schema/LinkResponse.yaml 
    LinkStatusReasonCode: 
      $ref: schema/LinkStatusReasonCode.yaml
    ResolveRequest: 
      $ref: schema/ResolveRequest.yaml
    ResolveResponse: 
      $ref: schema/ResolveResponse.yaml
    ResolveStatusReasonCode: 
      $ref: schema/ResolveStatusReasonCode.yaml
    TxnStatusRequest: 
      $ref: schema/TxnStatusRequest.yaml            
    TxnStatusResponse: 
      $ref: schema/TxnStatusResponse.yaml 
    UnlinkRequest: 
      $ref: schema/UnlinkRequest.yaml
    UnlinkResponse: 
      $ref: schema/UnlinkResponse.yaml                             
    UnlinkStatusReasonCode: 
      $ref: schema/UnlinkStatusReasonCode.yaml  
    UpdateRequest: 
      $ref: schema/UpdateRequest.yaml
    UpdateResponse: 
      $ref: schema/UpdateResponse.yaml                             
    UpdateStatusReasonCode: 
      $ref: schema/UpdateStatusReasonCode.yaml               
                    
      
  
    ###### Common schema objects
    Ack: 
      $ref: ../common/schema/Ack.yaml
    AdditionalInfo:
      $ref: ../common/schema/AdditionalInfo.yaml
    AttributeNameValue: 
      $ref: ../common/schema/AttributeNameValue.yaml
    AttributeNameValueList: 
      $ref: ../common/schema/AttributeNameValueList.yaml
    AttributeValue: 
      $ref: ../common/schema/AttributeValue.yaml
    Consent: 
      $ref: ../common/schema/Consent.yaml
    DateTime: 
      $ref: ../common/schema/DateTime.yaml
    EncryptedMessage: 
      $ref: ../common/schema/EncryptedMessage.yaml
    Error: 
      $ref: ../common/schema/Error.yaml
    ExpCondition: 
      $ref: ../common/schema/ExpCondition.yaml
    ExpOperator: 
      $ref: ../common/schema/ExpOperator.yaml
    ExpPredicate: 
      $ref: ../common/schema/ExpPredicate.yaml
    ExpPredicateList: 
      $ref: ../common/schema/ExpPredicateList.yaml
    ExpPredicateWithCondition: 
      $ref: ../common/schema/ExpPredicateWithCondition.yaml
    ExpPredicateWithConditionList: 
      $ref: ../common/schema/ExpPredicateWithConditionList.yaml
    ExpTemplate:
      $ref: ../common/schema/ExpTemplate.yaml
    FileInfo: 
      $ref: ../common/schema/FileInfo.yaml
    LanguageCode: 
      $ref: ../common/schema/LanguageCode.yaml
    LatLong: 
      $ref: ../common/schema/LatLong.yaml
    MsgCallbackHeader_V1.0.0: 
      $ref: ../common/schema/MsgCallbackHeader_V1.0.0.yaml
    MsgHeader_V1.0.0: 
      $ref: ../common/schema/MsgHeader_V1.0.0.yaml
    MsgHeaderStatusReasonCode: 
      $ref: ../common/schema/MsgHeaderStatusReasonCode.yaml
    MsgSignature: 
      $ref:  ../common/schema/MsgSignature.yaml
    Pagination: 
      $ref: ../common/schema/Pagination.yaml
    PaginationRequest: 
      $ref: ../common/schema/PaginationRequest.yaml
    ReferenceId: 
      $ref: ../common/schema/ReferenceId.yaml
    ReferenceIdList: 
      $ref: ../common/schema/ReferenceIdList.yaml
    RequestStatus: 
      $ref: ../common/schema/RequestStatus.yaml
    SearchSort: 
      $ref: ../common/schema/SearchSort.yaml
    SearchSortList: 
      $ref: ../common/schema/SearchSortList.yaml
    TransactionId:  
      $ref: ../common/schema/TransactionId.yaml

  parameters:
    accept-language:
      $ref: ../common/parameter/accept-language.yaml
    timestamp:
      $ref: ../common/parameter/timestamp.yaml
    transaction_id:
      $ref: ../common/parameter/transaction_id.yaml
    summary_only:
      $ref: ../common/parameter/summary_only.yaml
    beneficiary_id:
      $ref: ../common/parameter/beneficiary_id.yaml
  responses: 
    HttpErrorResponse:
      $ref: ../common/response/HttpErrorResponse.yaml       
    Response:
      $ref: ../common/response/Response.yaml       
  securitySchemes:
    x-access-token:
      $ref: ../common/security/x-access-token.yaml