openapi: 3.0.0
info:
  title: Manage ID to financial address mapper registry
  description: "<br>
    <b>Reference Links:</b> <br>
      1. G2P Connect Specifications <a href=\"https://github.com/G2P-Connect/specs/wiki \" >wiki pages</a><br>
      2. G2P Connect GitHub <a href=\"https://github.com/G2P-Connect/specs/ \" >links</a><br>
      3. Disbursement feature relate <a href= \"https://github.com/G2P-Connect/.github/discussions\">discussion thread</a> <br>

    <br><b>TODOs</b>: <br>
    1. Define reversal APIs <br>
    2. Standardisae <a href=\"https://github.com/G2P-Connect/specs/blob/draft/docs/specs-draft/G2PConnect-001-Error-Codes-Draft-01.md\">errror codes</a> <br>
    "
  version: 0.1.0
  contact:
    name: G2P Connect
    email: info@g2pconnect.global
  license:
   name: G2P Connect License
   url: 'https://github.com/G2P-Connect/specs/blob/main/LICENSE'
servers:
  - url: https://sandbox.dpg.org/v0.1.0
    description: Sandbox Server
 
tags:
- name: 1. Financial Address Mapper Linking/Unlinking
- name: 2. Financial Address Mapper lookups

paths:
 /g2p/mapper/link:
  post: 
    tags: 
      - 1. Financial Address Mapper Linking/Unlinking
    summary: "MAPPER-001 : Linking id / fa to mapper registry"
    description: ""
    operationId: post_g2p_mapper_link
    parameters:
      - $ref: "../components/parameters/date.yaml"
      - $ref: "../components/parameters/x-request-id.yaml"
      - $ref: "../components/parameters/accept-language.yaml"
    requestBody:
      description: ""
      required: true
      content:
        application/json:
          schema:
            $ref: "../components/schemas/Beneficiary2AccountMap.yaml"
    responses:  
      '200':
        $ref: "../components/responses/200Response.yaml"
      '400':
        $ref: "../components/responses/mapper/400AccountMapperErrorResponse.yaml"
      '401':
        $ref: "../components/responses/401Response.yaml"
      '500':
        $ref: "../components/responses/500Response.yaml"
    security:
      - x-access-token: [ ]
    deprecated: false
 /g2p/mapper/update:
  put: 
    tags: 
      - 1. Financial Address Mapper Linking/Unlinking
    summary: "Updating fa or scheme details to mapper registry"
    description: ""
    operationId: put_g2p_mapper_update
    parameters:
      - $ref: "../components/parameters/date.yaml"
      - $ref: "../components/parameters/x-request-id.yaml"
      - $ref: "../components/parameters/accept-language.yaml"
    requestBody:
      description: ""
      required: true
      content:
        application/json:
          schema:
            $ref: "../components/schemas/Beneficiary2AccountMapUpdate.yaml"
    responses:  
      '200':
        $ref: "../components/responses/200Response.yaml"
      '400':
        $ref: "../components/responses/mapper/400AccountMapperErrorResponse.yaml"
      '401':
        $ref: "../components/responses/401Response.yaml"
      '500':
        $ref: "../components/responses/500Response.yaml"
    security:
      - x-access-token: [ ]
    deprecated: false
 /g2p/mapper/unlink/payment_address/{payment_address}:
  delete: 
    tags: 
      - 1. Financial Address Mapper Linking/Unlinking
    summary: "Social protection or Payment Processing/Rails or Banking systems initiated unlinking"
    description: ""
    operationId: delete_g2p_mapper_unlink
    parameters:
      - $ref: "../components/parameters/date.yaml"
      - $ref: "../components/parameters/x-request-id.yaml"
      - $ref: "../components/parameters/accept-language.yaml"
      - $ref: "../components/parameters/payment_address.yaml"
    responses:  
      '200':
        $ref: "../components/responses/200Response.yaml"
      '400':
        $ref: "../components/responses/mapper/400AccountMapperErrorResponse.yaml"
      '401':
        $ref: "../components/responses/401Response.yaml"
      '500':
        $ref: "../components/responses/500Response.yaml"
    security:
      - x-access-token: [ ]
    deprecated: false
 /g2p/mapper/resolve/beneficairy_id/{beneficiary_id}:
  get: 
    tags: 
      - 2. Financial Address Mapper lookups
    summary: "Resolve payment address to store of value account provider details."
    description: ""
    operationId: get_g2p_mapper_resolve_beneficiaryid
    parameters:
      - $ref: "../components/parameters/x-request-id.yaml"
      - $ref: "..//components/parameters/date.yaml"
      - $ref: "../components/parameters/accept-language.yaml"
      - $ref: "../components/parameters/beneficiary_id.yaml"
    responses:
      '200':
        $ref: "../components/responses/mapper/200AccountProviderInfoResponse.yaml"
      '400':
        $ref: "../components/responses/mapper/400AccountMapperErrorResponse.yaml"
      '401':
        $ref: "../components/responses/401Response.yaml"
      '500':
        $ref: "../components/responses/500Response.yaml"
    security:
      - x-access-token: [ ]
    deprecated: false
 /g2p/mapper/resolve/payment_address/{payment_address}:
  get: 
    tags: 
      - 2. Financial Address Mapper lookups
    summary: "Resolve payment address to store of value account details."
    description: ""
    operationId: get_g2p_mapper_resolve_pymtaddr
    parameters:
      - $ref: "../components/parameters/x-request-id.yaml"
      - $ref: "..//components/parameters/date.yaml"
      - $ref: "../components/parameters/accept-language.yaml"
      - $ref: "../components/parameters/payment_address.yaml"
    responses:
      '200':
        $ref: "../components/responses/mapper/200AccountInfoResponse.yaml"
      '400':
        $ref: "../components/responses/mapper/400AccountMapperErrorResponse.yaml"
      '401':
        $ref: "../components/responses/401Response.yaml"
      '500':
        $ref: "../components/responses/500Response.yaml"
    security:
      - x-access-token: [ ]
    deprecated: false
 /g2p/mapper/status/by/payment_address/{payment_address}:
  get: 
    tags: 
      - 2. Financial Address Mapper lookups
    summary: "Get payment disbursement status."
    description: "Beneficiary id to account map link status lookup using beneficiary payment address"
    operationId: get_g2p_mapper_status_by_pymtaddr
    parameters:
      - $ref: "../components/parameters/x-request-id.yaml"
      - $ref: "..//components/parameters/date.yaml"
      - $ref: "../components/parameters/accept-language.yaml"
      - $ref: "../components/parameters/payment_address.yaml"
    responses:
      '200':
        $ref: "../components/responses/mapper/200LinkingStatusResponse.yaml"
      '400':
        $ref: "../components/responses/mapper/400AccountMapperErrorResponse.yaml"
      '401':
        $ref: "../components/responses/401Response.yaml"
      '500':
        $ref: "../components/responses/500Response.yaml"
    security:
      - x-access-token: [ ]
    deprecated: false
 /g2p/mapper/status/by/transaction_id/{transaction_id}:
  get: 
    tags: 
      - 2. Financial Address Mapper lookups
    summary: "Get payment disbursement status."
    description: "Beneficiary id to account map link status lookup using link/unlink request transaction_id"
    operationId: get_g2p_mapper_status_by_txnid
    parameters:
      - $ref: "../components/parameters/x-request-id.yaml"
      - $ref: "../components/parameters/date.yaml"
      - $ref: "../components/parameters/accept-language.yaml"
      - $ref: "../components/parameters/transaction_id.yaml"
    responses:
      '200':
        $ref: "../components/responses/mapper/200LinkingStatusResponse.yaml"
      '400':
        $ref: "../components/responses/mapper/400AccountMapperErrorResponse.yaml"
      '401':
        $ref: "../components/responses/401Response.yaml"
      '500':
        $ref: "../components/responses/500Response.yaml"
    security:
      - x-access-token: [ ]
    deprecated: false
components:
  schemas:
    $ref: "./schemas/index.yaml"
  parameters:
    accept-language:
      $ref: "../../../component/parameter/accept-language.yaml"
    timestamp:
      $ref: "../../../component/parameter/timestamp.yaml"
    message_id:
      $ref: "../../../component/parameter/message_id.yaml"
    summary_only:
      $ref: "../../../component/parameter/summary_only.yaml"
    request_id:
      $ref: "./io/request_id.yaml"
  responses:
    HttpErrorResponse:
      $ref: "../../../component/response/HttpErrorResponse.yaml"        
  securitySchemes:
    $ref: "../../../component/security/index.yaml"