openapi: 3.0.3
info:
  title: Interoperability APIs - Foundational/Functional registries
  description: |-
    The CRVS interoperability APIs describes different APIs some of them are usecase specific and other are generalized APIs to perform interoperable operations between CRVS registry and SP system.
    You can now help us improve the API whether it's by making changes to the definition itself or to the code.
    That way, with time, we can improve the API in general, and expose some of the new features in upcoming version.

    1. Search: The Search API provides functionality to search based on demographic, identifiers and custom query
    2. Event subscription: The Event subscription APIs describe APIs useful to subscribe / unsubscribe events. When any event happens in crvs registry it sends event details on notify end point
    3. Request status check: The request status checking APIs implement to check status of request sent in any above APIs

    Gitbook reference link:
    - [CRVS - V1.0 ](https://digital-convergence-initiative-d.gitbook.io/dci-standards-1/wUwmJRFD0Hn6jI5xMat1/standards/1.-crvs)

    Code directory links:
    - [Identifiers](https://digital-convergence-initiative-d.gitbook.io/dci-standards-1/wUwmJRFD0Hn6jI5xMat1/standards/1.-crvs/4.2-data-standards/4.2.2-code-directory#cd.01-identifier_type)
    - [Marital Status](https://digital-convergence-initiative-d.gitbook.io/dci-standards-1/wUwmJRFD0Hn6jI5xMat1/standards/1.-crvs/4.2-data-standards/4.2.2-code-directory#cd.02-marital_status)
    - [Sex](https://digital-convergence-initiative-d.gitbook.io/dci-standards-1/wUwmJRFD0Hn6jI5xMat1/standards/1.-crvs/4.2-data-standards/4.2.2-code-directory#cd.03-sex)
    - [Vital event types](https://digital-convergence-initiative-d.gitbook.io/dci-standards-1/wUwmJRFD0Hn6jI5xMat1/standards/1.-crvs/4.2-data-standards/4.2.2-code-directory#cd.04-vital_events)   

    Each request is build up of three parts
    - signature 
    - header 
    - message
  version: 1.0.0
  contact:
    name: DCI Social Protection
    email: info@spdci.org
  license:
    name: DCI Social Protection License
    url: 'https://github.com/spdci/standards/blob/draft/LICENSE.md'
servers:
  - url: 'https://sandbox.spdci.org/namespace/v1.0.0'
    description: Sandbox Server
tags:
  - name: Async
    description: Async endpoints
  - name: Sync
    description: Sync endpoints
  - name: Schemas
    description: Schemas
paths:
  /registry/search:
    post:
      summary: /registry/search
      description: Search person(s) in registry using identifier or custome attributes
      operationId: post_reg_search
      tags:
        - Async
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgHeader_V1.0.0'
                    - properties:
                        action:
                          enum:
                            - search
                message:
                  type: object
                  description: The search data using which registry search to be performed
                  oneOf:
                    - $ref: '#/components/schemas/SearchRequest'
                    - $ref: '#/components/schemas/EncryptedMessage'
              required:
                - header
                - message
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - search
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /registry/on-search:
    post:
      summary: /registry/on-search
      description: Search results through callback
      operationId: post_reg_on-search
      tags:
        - Async
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgCallbackHeader_V1.0.0'
                    - properties:
                        action:
                          enum:
                            - on-search
                message:
                  type: object
                  oneOf:
                    - $ref: '#/components/schemas/SearchResponse'
                    - $ref: '#/components/schemas/EncryptedMessage'
              required:
                - header
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - on-search
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /registry/subscribe:
    post:
      summary: /registry/subscribe
      description: Subscribe to a life event with registry
      operationId: post_reg_subscribe
      tags:
        - Async
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgHeader_V1.0.0'
                    - properties:
                        action:
                          enum:
                            - subscribe
                message:
                  type: object
                  description: The search data using which registry search to be performed
                  oneOf:
                    - $ref: '#/components/schemas/SubscribeRequest'
                    - $ref: '#/components/schemas/EncryptedMessage'
              required:
                - header
                - message
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - subscribe
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /registry/notify:
    post:
      summary: /registry/notify
      description: Registry to notify a life event to subscrbiers
      operationId: post_reg_notify
      tags:
        - Async
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgCallbackHeader_V1.0.0'
                    - properties:
                        action:
                          enum:
                            - notify
                message:
                  type: object
                  oneOf:
                    - $ref: '#/components/schemas/NotifyEventRequest'
                    - $ref: '#/components/schemas/EncryptedMessage'
              required:
                - header
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - notify
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/HttpErrorResponse'
      security:
        - x-access-token: []
      deprecated: false
  /registry/txn/status:
    post:
      summary: /registry/txn/status
      description: Perform async status check of previous civil registry transanctions using transaction_id and/or reference_id(s)
      operationId: post_reg_txnstatus
      tags:
        - Async
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgHeader_V1.0.0'
                    - properties:
                        action:
                          enum:
                            - subscribe
                            - notify
                            - on-search
                message:
                  type: object
                  oneOf:
                    - $ref: '#/components/schemas/TxnStatusRequest'
                    - $ref: '#/components/schemas/EncryptedMessage'
              required:
                - header
                - message
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - subscribe
                        - notify
                        - on-search
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /registry/txn/on-status:
    post:
      summary: /registry/txn/on-status
      description: Response to async status check of previous civil registrt transanctions using callback
      operationId: post_reg_on-txnstatus
      tags:
        - Async
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgCallbackHeader_V1.0.0'
                    - properties:
                        action:
                          enum:
                            - subscribe
                            - notify
                            - on-search
                message:
                  type: object
                  oneOf:
                    - $ref: '#/components/schemas/TxnStatusResponse'
                    - $ref: '#/components/schemas/EncryptedMessage'
              required:
                - header
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - subscribe
                        - notify
                        - on-search
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /registry/sync/search:
    post:
      summary: /registry/sync/search
      description: Search person(s) in registry using identifier or custome attributes
      operationId: post_reg_sync_search
      tags:
        - Sync
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgHeader_V1.0.0'
                    - properties:
                        action:
                          enum:
                            - search
                message:
                  type: object
                  description: The search data using which registry search to be performed
                  anyOf:
                    - $ref: '#/components/schemas/SearchRequest'
                    - $ref: '#/components/schemas/EncryptedMessage'
              required:
                - header
                - message
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          description: Registry search response
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature:
                    $ref: '#/components/schemas/MsgSignature'
                  header:
                    allOf:
                      - $ref: '#/components/schemas/MsgCallbackHeader_V1.0.0'
                      - properties:
                          action:
                            enum:
                              - on-search
                  message:
                    type: object
                    oneOf:
                      - $ref: '#/components/schemas/SearchResponse'
                      - $ref: '#/components/schemas/EncryptedMessage'
                required:
                  - header
      security:
        - x-access-token: []
      deprecated: false
  /registry/sync/txn/status:
    post:
      summary: /registry/sync/txn/status
      description: Perform async status check of previous civil registry transanctions using transaction_id and/or reference_id(s)
      operationId: post_reg_sync_txnstatus
      tags:
        - Sync
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgHeader_V1.0.0'
                    - properties:
                        action:
                          enum:
                            - subscribe
                            - notify
                            - on-search
                message:
                  type: object
                  oneOf:
                    - $ref: '#/components/schemas/TxnStatusRequest'
                    - $ref: '#/components/schemas/EncryptedMessage'
              required:
                - header
                - message
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          description: Transaction status check response
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature:
                    $ref: '#/components/schemas/MsgSignature'
                  header:
                    allOf:
                      - $ref: '#/components/schemas/MsgCallbackHeader_V1.0.0'
                      - properties:
                          action:
                            enum:
                              - on-search
                              - subscribe
                              - notify
                  message:
                    type: object
                    oneOf:
                      - $ref: '#/components/schemas/TxnStatusResponse'
                      - $ref: '#/components/schemas/EncryptedMessage'
                required:
                  - header
      security:
        - x-access-token: []
      deprecated: false
components:
  schemas:
    dci_IdentifierType:
      type: string
      description: |
        An identifier type includes unique numbers legally assigned to individuals.
        Reference: <a href="https://id4d.worldbank.org/guide/types-id-systems">Types of ID</a><br>

        UIN : Unique Identification Number
        BRN : Birth Registration Number or Birth Serial Number
        MRN : Marriage Registration Number
        DRN : Death Registration Number
      enum:
        - UIN
        - BRN
        - MRN
        - DRN
    dci_IdentifierTypeValue:
      properties:
        identifier_type:
          $ref: '#/components/schemas/dci_IdentifierType'
        identifier_value:
          type: string
          description: Value of the identifier
    dci_MaritalStatus:
      type: string
      description: |
        Marital status reference database: Standardized codes/values representing different marital status categories
        Reference: <a href="https://hl7.org/fhir/DSTU2/valueset-marital-status.html">FHIR Marital Status</a><br>

        Code : Values - Description
        S : Never Married - No marriage contract has ever been entered
        M : Married - A current marriage contract is active
        W : Widow - The spouse has died
        A : Annulled - Marriage contract has been declared null and to not have existed
        D : Divorced - Marriage contract has been declared dissolved and inactive
        L : Legally Separated - Legally Separated
        U : Unmarried - The person is not presently married. The marital history is not known or stated.
      enum:
        - S
        - M
        - W
        - A
        - D
        - L
        - U
    dci_Name:
      type: object
      description: |
        The name data object represents a person's name with various components. 
        Reference: <a href="https://v2plus.hl7.org/2021Jan/data-type/XPN.html#XPN-1">FHIR XPN - extended person name</a> <br>
        Note: Note: In some cultures, people can have multiple Surname(s), Given name(s), Second name(s), Suffix(s), or Prefix(s) to their name; all can be present in the respective attributes, being separated by separator character like space or /.
      properties:
        sur_name:
          type: string
          description: Surname(s) or last name(s) of the applicant
        given_name:
          type: string
          description: Given name(s) or first name(s) of the applicant
        second_name:
          type: string
          description: Second name(s) or middle name(s) of the applicant
        suffix:
          type: string
          description: Suffix part of the applicant's name
        prefix:
          type: string
          description: Prefix part of the applicant's name
    dci_Person:
      type: object
      description: |
        1. Attributes of a person to create fetch records, create verifiable credentials or use in search criteria.
        3. Allowes Country/Registry specific implementation extensions using Attribute Name/Value pairs.
      properties:
        identifier_type:
          $ref: '#/components/schemas/dci_IdentifierType'
        identifier:
          type: string
          description: Value of the identifier
        name:
          $ref: '#/components/schemas/dci_Name'
        phone_number:
          description: 'Applicant preferred phone number. <a href="https://www.itu.int/rec/T-REC-E.164-201011-I/en">E.164</a> is recommended as the format, for more details refer'
          type: string
        email:
          description: 'Applicant preferred e-mail address. <a href="https://datatracker.ietf.org/doc/html/rfc5322">RFC 5322</a> [<a href="https://datatracker.ietf.org/doc/html/rfc5322#section-3.4.1">addr-spec</a> <a href="https://datatracker.ietf.org/doc/html/rfc5322#section-3.4.1">specification</a>] is recommended as the format'
          type: string
        sex:
          $ref: '#/components/schemas/dci_Sex'
        birthdate:
          description: 'Represents Date and time of the applicant''s birth. <a href="https://www.iso.org/standard/40874.html">ISO 8601:2004</a> is recommended as the date and time format. For more details on format refer'
          type: string
        birthplace:
          $ref: '#/components/schemas/openid_Address'
        deathdate:
          $ref: '#/components/schemas/DateTime'
        deathplace:
          $ref: '#/components/schemas/openid_Address'
        address:
          $ref: '#/components/schemas/openid_Address'
        marital_status:
          $ref: '#/components/schemas/dci_MaritalStatus'
        marriagedate:
          $ref: '#/components/schemas/DateTime'
        divorcedate:
          $ref: '#/components/schemas/DateTime'
        parent1_identifier:
          type: object
          properties:
            identifier_type:
              $ref: '#/components/schemas/dci_IdentifierType'
            identifier:
              type: string
              description: Value of the identifier
        parent2_identifier:
          type: object
          properties:
            identifier_type:
              $ref: '#/components/schemas/dci_IdentifierType'
            identifier:
              type: string
              description: Value of the identifier
    dci_Sex:
      type: string
      description: |
        Standardized codes/values representing diverse Sex categories.
        Reference: <a href="https://www.iso.org/standard/81682.html">ISO/IEC 5218:2022</a> <br>

        1 : Male
        2 : Female
        3 : Others
        4 : Unknown
      enum:
        - '1'
        - '2'
        - '3'
        - '4'
    dci_VitalEvents:
      type: string
      description: |
        Standardized codes/values represent vital events in an individual's life. 
        Reference: <a href="https://mospi.gov.in/sites/default/files/publication_reports/vital_statistics_2010_0.pdf">Vital Events Statistics</a> <br>

        1 : Live Birth
        2 : Death
        3 : Fetal death
        4 : Marriage
        5 : Divorce
        6 : Adoption
      enum:
        - '1'
        - '2'
        - '3'
        - '4'
        - '5'
        - '6'
    openid_Address:
      title: Address
      description: 'Address info as per OpenID <a href="https://openid.net/specs/openid-connect-core-1_0.html#AddressClaim">specs</a>'
      properties:
        address_line1:
          description: 'Full mailing address, formatted for display or use on a mailing label. This field MAY contain multiple lines, separated by newlines. Newlines can be represented either as a carriage return/line feed pair ("\r\n") or as a single line feed character ("\n").'
          type: string
          example: ''
        address_line_2:
          description: 'Full street address component, which MAY include house number, street name, Post Office Box, and multi-line extended street address information. This field MAY contain multiple lines, separated by newlines. Newlines can be represented either as a carriage return/line feed pair ("\r\n") or as a single line feed character ("\n").'
          type: string
          example: ''
        locality:
          description: City or locality component.
          type: string
          example: ''
        sub_region_code:
          description: District or sub-regional code
          type: string
        region_code:
          description: 'State, province, prefecture, or region component.'
          type: string
          example: ''
        postal_code:
          description: Zip code or postal code component.
          type: string
          example: ''
        country_code:
          description: 'Country part of an address represented using an ISO 3-letter code [ISO3166-3], e.g., "USA" or "JPN". 2-letter ISO codes [ISO3166-1] e.g. ,e.g. US, JP'
          type: string
          example: ''
        geo_location:
          description: |
            Refer https://github.com/google/open-location-code/wiki/Plus-codes-API for more details
          $ref: '#/components/schemas/GooglePlusCode'
    openid_Person:
      description: |
        1. Attributes of a person to create fetch records, create verifiable credentials or use in search criteria.
        2. Allowes Country/Registry specific implementation extensions using Attribute Name/Value pairs.
        3. Person info as per OpenID <a href="https://openid.net/specs/openid-connect-core-1_0.html#Claims">specs</a>
        4. Person additional info based on OpenID <a href="https://openid.net/specs/openid-connect-4-identity-assurance-1_0-13.html#name-additional-claims-about-end">specs</a>
      properties:
        sub:
          type: string
          description: Subject - Identifier for the End-User at the Issuer.
        name:
          description: 'End-User''s full name in displayable form including all name parts, possibly including titles and suffixes, ordered according to the End-User''s locale and preferences.'
          type: string
        given_name:
          description: 'Given name(s) or first name(s) of the End-User. Note that in some cultures, people can have multiple given names; all can be present, with the names being separated by space characters.'
          type: string
        family_name:
          description: 'Surname(s) or last name(s) of the End-User. Note that in some cultures, people can have multiple family names or no family name; all can be present, with the names being separated by space characters.'
          type: string
        middle_name:
          description: 'Middle name(s) of the End-User. Note that in some cultures, people can have multiple middle names; all can be present, with the names being separated by space characters. Also note that in some cultures, middle names are not used.'
          type: string
        nickname:
          description: 'Casual name of the End-User that may or may not be the same as the given_name. For instance, a nickname value of Mike might be returned alongside a given_name value of Michael.'
          type: string
        preferred_username:
          description: 'Shorthand name by which the End-User wishes to be referred to at the RP, such as janedoe or j.doe. This value MAY be any valid JSON string including special characters such as @, /, or whitespace. The RP MUST NOT rely upon this value being unique, as discussed in'
          type: string
        profile:
          description: URL of the End-User's profile page. The contents of this Web page SHOULD be about the End-User.
          type: string
        picture:
          description: 'URL of the End-User''s profile picture. This URL MUST refer to an image file (for example, a PNG, JPEG, or GIF image file), rather than to a Web page containing an image. Note that this URL SHOULD specifically reference a profile photo of the End-User suitable for displaying when describing the End-User, rather than an arbitrary photo taken by the End-User.'
          type: string
        website:
          description: URL of the End-User's Web page or blog. This Web page SHOULD contain information published by the End-User or an organization that the End-User is affiliated with.
          type: string
        email:
          description: 'End-User''s preferred e-mail address. Its value MUST conform to the RFC 5322 [RFC5322] addr-spec syntax. The RP MUST NOT rely upon this value being unique, as discussed in Section 5.7.'
          type: string
        email_verified:
          description: 'address was controlled by the End-User at the time the verification was performed. The means by which an e-mail address is verified is context-specific, and dependent upon the trust framework or contractual agreements within which the parties are operating.'
          type: boolean
        gender:
          description: End-User's gender. Values defined by this specification are female and male. Other values MAY be used when neither of the defined values are applicable.
          type: string
        birthdate:
          description: 'YYYY format is allowed. Note that depending on the underlying platform''s date related function, providing just year can result in varying month and day, so the implementers need to take this factor into account to correctly process the dates.'
          type: string
        place_of_birth:
          description: End-User's place of birth. The value of this member is a JSON structure containing some or all of the following members
          type: object
        deathdate:
          description: 'YYYY format is allowed. Note that depending on the underlying platform''s date related function, providing just year can result in varying month and day, so the implementers need to take this factor into account to correctly process the dates.'
          type: string
        place_of_death:
          description: End-User's place of birth. The value of this member is a JSON structure containing some or all of the following members
          type: object
        phone_number:
          description: 'number contains an extension, it is RECOMMENDED that the extension be represented using the RFC 3966 [RFC3966] extension syntax, for example, +1 (604) 555-1234;ext=5678.'
          type: string
        phone_number_verified:
          description: 'True if the End-User''s phone number has been verified; otherwise false. When this Claim Value is true, this means that the OP took affirmative steps to ensure that this phone number was controlled by the End-User at the time the verification was performed. The means by which a phone number is verified is context-specific, and dependent upon the trust framework or contractual agreements within which the parties are operating. When true, the phone_number Claim MUST be in E.164 format and any extensions MUST be represented in RFC 3966 format.'
          type: string
        address:
          $ref: '#/components/schemas/openid_Address'
        zoneinfo:
          description: 'String from zoneinfo [zoneinfo] time zone database representing the End-User''s time zone. For example, Europe/Paris or America/Los_Angeles.'
          type: string
        locale:
          description: 'Alpha-2 [ISO3166‑1] country code in uppercase, separated by a dash. For example, en-US or fr-CA. As a compatibility note, some implementations have used an underscore as the separator rather than a dash, for example, en_US; Relying Parties MAY choose to accept this locale syntax as well.'
          type: string
        nationalities:
          description: 'End-User''s nationalities using ICAO 3-letter codes [ICAO-Doc9303], e.g., "USA" or "JPN". 2-letter ICAO codes MAY be used in some circumstances for compatibility reasons.'
          type: array
          items:
            type: string
        updated_at:
          description: 'Time the End-User''s information was last updated. Its value is a JSON number representing the number of seconds from 1970-01-01T0:0:0Z as measured in UTC until the date/time'
          type: number
        birth_family_name:
          description: 'End-User''s family name(s) when they were born, or at least from the time they were a child. This term can be used by a person who changes the family name later in life for any reason. Note that in some cultures, people can have multiple family names or no family name; all can be present, with the names being separated by space characters.'
          type: string
        birth_given_name:
          description: 'End-User''s given name(s) when they were born, or at least from the time they were a child. This term can be used by a person who changes the given name later in life for any reason. Note that in some cultures, people can have multiple given names; all can be present, with the names being separated by space characters.'
          type: string
        birth_middle_name:
          description: 'End-User''s middle name(s) when they were born, or at least from the time they were a child. This term can be used by a person who changes the middle name later in life for any reason. Note that in some cultures, people can have multiple middle names; all can be present, with the names being separated by space characters. Also note that in some cultures, middle names are not used.'
          type: string
        salutation:
          description: 'End-User''s salutation, e.g., "Mr."'
          type: string
        title:
          description: 'End-User''s title, e.g., "Dr."'
          type: string
        msisdn:
          description: 'End-User''s mobile phone number formatted according to ITU-T recommendation [E.164], e.g., "1999550123"'
          type: string
        also_known_as:
          description: 'Stage name, religious name or any other type of alias/pseudonym with which a person is known in a specific context besides its legal name. This must be part of the applicable legislation and thus the trust framework (e.g., be an attribute on the identity card).'
          type: string
        additional_attributes:
          $ref: '#/components/schemas/AttributeNameValueList'
    openid_PersonDocDetails:
      type: object
      description: |
        1. Person document detials as per OpenID <a href"https://openid.net/specs/openid-connect-4-identity-assurance-1_0-13.html#name-evidence-element">specs</a>
        2. JSON object representing the document used to perform the identity verification. 
      properties:
        type:
          description: 'String denoting the type of the document. The OP MAY use other than the predefined values in which case the RPs will either be unable to process the assertion, just store this value for audit purposes, or apply bespoken business logic to it.'
          type: string
        document_number:
          description: 'String Representing an identifier/number that uniquely identifies a document that was issued to the End-User. This is used on one document and will change if it is reissued, e.g., a passport number, certificate number, etc. Note, number can be used as an alias for ''document_number'' for backward compatibility purposes but will be deprecated in future releases, implementers are recommended to use document_number.'
          type: string
        personal_number:
          description: 'String representing an identifier that is assigned to the End-User and is not limited to being used in one document, for example a national identification number, personal identity number, citizen number, social security number, driver number, account number, customer number, licensee number, etc.'
          type: string
        serial_number:
          description: String representing an identifier/number that identifies the document irrespective of any personalization information (this usually only applies to physical artifacts and is present before personalization).
          type: string
        date_of_issuance:
          description: 'The date the document was issued as ISO 8601 [ISO8601] YYYY-MM-DD format.'
          type: string
        date_of_expiry:
          description: 'The date the document will expire as ISO 8601 [ISO8601] YYYY-MM-DD format.'
          type: string
        issuer:
          description: JSON object containing information about the issuer of this document. This object consists of the following properties
          type: object
          properties:
            name:
              description: Designation of the issuer of the document
              type: string
            address:
              $ref: '#/components/schemas/openid_Address'
            country_code:
              description: 'String denoting the country or supranational organization that issued the document as ISO 3166/ICAO 3-letter codes [ICAO-Doc9303], e.g., "USA" or "JPN". 2-letter ICAO codes MAY be used in some circumstances for compatibility reasons.'
              type: string
            jurisdiction:
              description: String containing the name of the region(s)/state(s)/province(s)/municipality(ies) that issuer has jurisdiction over (if this information is not common knowledge or derivable from the address).
              type: string
      required:
        - type
    EventType:
      description: Civil registry event types
      type: string
      enum:
        - birth
        - death
        - marriage
        - divorce
        - annulment
        - seperation
        - adoption
        - demographic_change
        - unregister
    civilRegistryRecord:
      description: |
        1. Civil registry record
        2. Allows Country/Registry specific implementation extensions as new custom defined objects
      allOf:
        - $ref: '#/components/schemas/openid_Person'
        - properties:
            issue_date:
              type: string
              format: date-time
            status:
              description: Civil registry status
              type: string
            registration_type:
              $ref: '#/components/schemas/EventType'
            registration_number:
              description: Registration number
              type: string
            registration_date:
              description: Registration date
            link_registration_number:
              description: 'Registration number to related record. e.g birth registration no for death, marriage registration no for divorce/annulment, etc.,'
              type: string
            related_persons:
              items:
                - $ref: '#/components/schemas/RelatedPerson'
    RelatedPerson:
      type: object
      description: 'Related person details '
      properties:
        sub:
          type: string
          description: Subject - Identifier for the End-User at the Issuer.
        name:
          description: 'End-User''s full name in displayable form including all name parts, possibly including titles and suffixes, ordered according to the End-User''s locale and preferences.'
          type: string
        relationship:
          type: string
          enum:
            - mother
            - father
            - gaurdian
            - bride
            - groom
            - wife
            - husband
            - spouse
            - partner
            - other
    NotifyEventRequest:
      type: object
      description: Registry to notify a event to subscrbiers
      properties:
        transaction_id:
          $ref: '#/components/schemas/TransactionId'
        notify_event:
          type: array
          items:
            type: object
            properties:
              reference_id:
                $ref: '#/components/schemas/ReferenceId'
              timestamp:
                $ref: '#/components/schemas/DateTime'
              registry_type:
                $ref: '#/components/schemas/RegistryType'
              event_type:
                anyOf:
                  - $ref: '#/components/schemas/RegistryEventType'
                  - $ref: '#/components/schemas/EventType'
                  - $ref: '#/components/schemas/dci_VitalEvents'
              registry_data:
                items:
                  - $ref: '#/components/schemas/SearchRecord'
              locale:
                $ref: '#/components/schemas/LanguageCode'
            required:
              - reference_id
              - timestamp
              - registry_data
      required:
        - transaction_id
        - notify_event
    RegistryEventType:
      description: Functional registry event types
      type: string
      enum:
        - read
        - link
        - update
        - unlink
    RegistryType:
      type: string
      description: |
        1. Registry types like civil, population, family, household, school, college, farmer, land, utitlity, etc., 
        2. Country specific implementations should extend and allow custom types.
      enum:
        - civil
        - population
        - family
        - household
        - school
        - college
        - farmer
        - land
        - utility
        - other
    SearchRecord:
      type: object
      description: |
        1. Pre defined Search Record type to return upon successful processing of search request
        2. Value is agreed as part of the api integration between sender and receiver
        3. e.g "person-record", "birth-record", "death-record", "farmer-record", "student-record"
    SearchRequest:
      type: object
      description: |
        1. Functional registry specific extension to search.
        2. Additional checks using conditioanl expressions is possible.
        3. Allows Country/Registry specific implementation extensions using key/value pairs.
      properties:
        transaction_id:
          $ref: '#/components/schemas/TransactionId'
        search_request:
          type: array
          items:
            type: object
            properties:
              reference_id:
                $ref: '#/components/schemas/ReferenceId'
              timestamp:
                $ref: '#/components/schemas/DateTime'
              registry_type:
                $ref: '#/components/schemas/RegistryType'
              event_type:
                anyOf:
                  - $ref: '#/components/schemas/RegistryEventType'
                  - $ref: '#/components/schemas/EventType'
                  - $ref: '#/components/schemas/dci_VitalEvents'
              search_criteria:
                type: object
                properties:
                  query:
                    oneOf:
                      - $ref: '#/components/schemas/dci_IdentifierTypeValue'
                      - $ref: '#/components/schemas/PersonId'
                      - $ref: '#/components/schemas/ExpressionWithConditionList'
                  filter:
                    anyOf:
                      - properties:
                          attributes:
                            description: Attribute(s) to send in response
                            items:
                              type: string
                      - properties:
                          record_type:
                            type: string
                            description: |
                              1. Pre defined Search Record type to return upon successful processing of search request
                              2. Value is agreed as part of the api integration between sender and receiver
                              3. e.g "person-record", "birth-record", "death-record", "farmer-record", "student-record"
                            example: birth-record
                  sort:
                    $ref: '#/components/schemas/SearchSortList'
                  pagination:
                    $ref: '#/components/schemas/PaginationRequest'
                required:
                  - query
                  - filter
              consent:
                $ref: '#/components/schemas/Consent'
              locale:
                $ref: '#/components/schemas/LanguageCode'
            required:
              - reference_id
              - timestamp
              - search_criteria
      required:
        - transaction_id
        - search_request
    SearchResponse:
      type: object
      description: Response to search request. Multiple repsonses for each page can be pushed to the caller as an implementation!
      properties:
        transaction_id:
          $ref: '#/components/schemas/TransactionId'
        search_response:
          type: array
          items:
            type: object
            properties:
              reference_id:
                $ref: '#/components/schemas/ReferenceId'
              timestamp:
                $ref: '#/components/schemas/DateTime'
              status:
                $ref: '#/components/schemas/RequestStatus'
              status_reason_code:
                $ref: '#/components/schemas/SearchStatusReasonCode'
              status_reason_message:
                description: Status reason code message. Helps actionanble messaging for systems/end users
                type: string
                maxLength: 999
              registry_type:
                $ref: '#/components/schemas/RegistryType'
              event_type:
                anyOf:
                  - $ref: '#/components/schemas/RegistryEventType'
                  - $ref: '#/components/schemas/EventType'
                  - $ref: '#/components/schemas/dci_VitalEvents'
              registry_data:
                items:
                  - $ref: '#/components/schemas/SearchRecord'
              pagination:
                $ref: '#/components/schemas/Pagination'
              locale:
                $ref: '#/components/schemas/LanguageCode'
            required:
              - reference_id
              - timestamp
              - status
      required:
        - transaction_id
        - search_response
    SearchStatusReasonCode:
      type: string
      description: Identity verification request status reason codes
      enum:
        - rjct.reference_id.invalid
        - rjct.reference_id.duplicate
        - rjct.timestamp.invalid
        - rjct.search_criteria.invalid
        - rjct.filter.invalid
        - rjct.sort.invalid
        - rjct.pagination.invalid
        - rjct.search.too_many_records_found
    SubscribeRequest:
      type: object
      description: Subscribe to a life event with crvs
      properties:
        transaction_id:
          $ref: '#/components/schemas/TransactionId'
        subscribe_request:
          type: array
          items:
            type: object
            properties:
              reference_id:
                $ref: '#/components/schemas/ReferenceId'
              timestamp:
                $ref: '#/components/schemas/DateTime'
              registry_type:
                $ref: '#/components/schemas/RegistryType'
              event_type:
                anyOf:
                  - $ref: '#/components/schemas/RegistryEventType'
                  - $ref: '#/components/schemas/EventType'
                  - $ref: '#/components/schemas/dci_VitalEvents'
              subscribe_criteria:
                type: object
                properties:
                  query:
                    oneOf:
                      - $ref: '#/components/schemas/dci_IdentifierTypeValue'
                      - $ref: '#/components/schemas/PersonId'
                      - $ref: '#/components/schemas/ExpressionWithConditionList'
                  filter:
                    anyOf:
                      - properties:
                          attributes:
                            description: Attribute(s) to send in response
                            items:
                              type: string
                      - properties:
                          record_type:
                            type: string
                            description: |
                              1. Pre defined Search Record type to return upon successful processing of search request
                              2. Value is agreed as part of the api integration between sender and receiver
                              3. e.g "person-record", "birth-record", "death-record", "farmer-record", "student-record"
                            example: birth-record
                required:
                  - query
                  - filter
              locale:
                $ref: '#/components/schemas/LanguageCode'
            required:
              - reference_id
              - timestamp
              - subscribe_criteria
      required:
        - transaction_id
        - subscribe_request
    SubscribeStatusReasonCode:
      type: string
      description: Identity verification request status reason codes
      enum:
        - rjct.reference_id.invalid
        - rjct.reference_id.duplicate
        - rjct.timestamp.invalid
        - rjct.notify_types.invalid
        - rjct.notify_details.invalid
        - rjct.person_id.invalid
        - rjct.event.already_subscribed
    TxnStatusRequest:
      type: object
      description: Request to search identity service requests
      properties:
        transaction_id:
          $ref: '#/components/schemas/TransactionId'
        txnstatus_request:
          type: object
          properties:
            reference_id:
              $ref: '#/components/schemas/ReferenceId'
            search_type:
              type: string
              enum:
                - transaction_id
                - reference_id_list
            search_attribute:
              oneOf:
                - $ref: '#/components/schemas/TransactionId'
                - $ref: '#/components/schemas/ReferenceIdList'
            locale:
              $ref: '#/components/schemas/LanguageCode'
          required:
            - reference_id
            - search_type
            - search_attribute
      required:
        - transaction_id
        - txnstatus_request
    TxnStatusResponse:
      properties:
        transaction_id:
          $ref: '#/components/schemas/TransactionId'
        txnstatus_response:
          type: array
          properties:
            oneOf:
              - $ref: '#/components/schemas/SubscribeRequest'
              - $ref: '#/components/schemas/NotifyEventRequest'
              - $ref: '#/components/schemas/SearchResponse'
          example:
            txnstatus_response:
              reference_id: test
              status: SUCC
      required:
        - transaction_id
        - txnstatus_response
    Ack:
      type: string
      description: |
        1. ACK: If the request is valid (for basic checks) and async callback (i.e webhook) will be invoked by reciever back to the sender.
        2. NACK: If the request is valid (for basic checks) and there is no futher updates from reciever back to the sender.
        3. ERR: If the reuqest is invalid and reciver can't process the request. error object holds error code, message.
      enum:
        - ACK
        - NACK
        - ERR
    AdditionalInfo:
      type: object
      description: Additional JSON property oject to hold custom user defined contextual data
    AttributeNameValue:
      type: object
      description: Attribute name value object
      properties:
        name:
          type: string
          maxLength: 99
          example: ''
        value:
          oneOf:
            - type: string
            - type: integer
            - type: number
            - type: boolean
            - format: data-time
          example: ''
      required:
        - name
        - value
    AttributeNameValueList:
      type: array
      description: List of attribute Name/Value
      items:
        $ref: '#/components/schemas/AttributeNameValue'
    Consent:
      type: object
      description: Consent artefact. TODO - enrich consent object!
      properties:
        id:
          type: string
          format: uri or did
          description: consent id
        ts:
          $ref: '#/components/schemas/DateTime'
        purpose:
          type: object
          properties:
            text:
              type: string
            code:
              type: string
              description: 'From a fixed set, documented at refUri'
            refUri:
              type: string
              format: uri
              description: Uri to provide more info on consent codes
    DateTime:
      description: |
        1. All dates and timestamps are represented in ISO 8601 format including timezone.
        2. Reference: ISO 8601 Date & Time for example 2022-12-04T17:20:07-04:00. 
        3. Refer https://www.iso.org/standard/40874.html'
      type: string
      format: date-time
      example: ''
    EncryptedMessage:
      description: Encrypted payload
      type: object
      properties:
        header:
          type: object
          properties:
            alg:
              type: string
              description: The JWE algorithm used for encryption
            enc:
              type: string
              description: The encryption algorithm used for encrypting the plaintext
            kid:
              type: string
              description: The key identifier for the encryption key
          required:
            - alg
            - enc
            - kid
        data:
          type: string
          description: This is the result of encrypting the plaintext using the CEK and the IV. It's Base64Url-encoded.
        encrypted_key:
          type: string
          description: The base64-url encoded encrypted key
        auth_tag:
          type: string
          description: 'This is a Base64Url-encoded value that provides evidence of the integrity and authenticity of the ciphertext, Initialization Vector, and Additional Authenticated Data'
        iv:
          type: string
          description: This is a Base64Url-encoded random bit string to be used as the Initialization Vector (IV) when encrypting the plaintext to produce the ciphertext. The size of the IV depends on the encryption algorithm used.
      required:
        - header
        - data
        - encrypted_key
        - auth_tag
        - iv
    Error:
      description: |
        Describes an error object that is returned to standard post call request. <br>
        1. This object shall be sent when any request received by a participant is not parsable or message integrity check fails. <br>
        2. This object may be used across all transport protocols to acknowledge the receipt of a message i.e HTTPS, FTP, Messaging etc., <br>"
      type: object
      properties:
        code:
          type: string
          description: Standard error code
          enum:
            - err.request.bad
            - err.request.unauthorized
            - err.request.forbidden
            - err.request.not_found
            - err.request.timeout
            - err.version.not_supported
            - err.request.too_many_requests
            - err.sender_id.invalid
            - err.sender_uri.invalid
            - err.receiver_id.invalid
            - err.signature.missing
            - err.signature.invalid
            - err.encryption.invalid
            - err.service.unavailable
        message:
          type: string
          description: message to describe above error code
          maxLength: 999
    ExpCondition:
      description: Condition in an expression
      type: string
      enum:
        - and
        - or
        - not
      example: and
    ExpOperator:
      description: Operator in an expression
      type: string
      enum:
        - gt
        - lt
        - eq
        - ge
        - le
      example: eq
    Expression:
      description: Expression
      properties:
        seq_num:
          description: expression seq number for correlation
          type: number
          example: 1
        attribute_name:
          type: string
          description: attribute name
        operator:
          $ref: '#/components/schemas/ExpOperator'
        attribute_value:
          oneOf:
            - type: string
            - type: integer
            - type: number
            - type: boolean
      required:
        - seq_num
        - attribute_name
        - operator
        - attribute_value
    ExpressionList:
      description: list of attributes with matching conditions
      items:
        $ref: '#/components/schemas/Expression'
    ExpressionResult:
      description: Expression result
      properties:
        seq_num:
          description: expression seq number for correlation
          type: number
          example: 1
        result:
          type: string
          enum:
            - 'y'
            - 'n'
          example: 'y'
      required:
        - seq_num
        - result
    ExpressionResultList:
      items:
        $ref: '#/components/schemas/ExpressionResult'
    ExpressionWithCondition:
      description: Expression with a condition
      type: object
      properties:
        expression1:
          $ref: '#/components/schemas/Expression'
        condition:
          $ref: '#/components/schemas/ExpCondition'
        expression2:
          $ref: '#/components/schemas/Expression'
      required:
        - expression1
    ExpressionWithConditionList:
      items:
        $ref: '#/components/schemas/ExpressionWithCondition'
    FileInfo:
      type: object
      description: File info. Used in file upload feature using HTTPS
      properties:
        action:
          description: G2P Connect specific actions. Usually verb from the URI should go here to help store and fwd kind of processing requirements.
          type: string
        fileName:
          description: Disbursement instruction file representing Disburse or OnDisburse end point elements i.e signature/header/message entities as a file record
          type: string
          format: binary
        fileFormat:
          description: 'File content format. e.g json, csv, etc.,'
          type: string
          default: json
          example: csv
      required:
        - action
        - fileName
    GooglePlusCode:
      type: object
      properties:
        global_code:
          type: string
          example: ''
        geometry:
          type: object
          properties:
            bounds:
              type: object
              properties:
                northeast:
                  $ref: '#/components/schemas/LatLong'
                southwest:
                  $ref: '#/components/schemas/LatLong'
            location:
              $ref: '#/components/schemas/LatLong'
    LanguageCode:
      description: indicates language code. G2P Connect supports country codes as per ISO 639.3 standard
      type: string
      pattern: '^[a-z]{3,3}$'
      example: en
    LatLong:
      type: object
      properties:
        latitude:
          type: string
          format: float
          example: ''
        longitude:
          type: string
          format: float
          example: ''
    MsgCallbackHeader_V1.0.0:
      type: object
      description: Message header
      properties:
        version:
          description: Messaing protocol specification version being used
          type: string
          example: 0.1.0
        message_id:
          description: Unique message id to communicate between sender and receiver systems. Receiving system should echo the orignial message_id for correlations.
          type: string
          example: '123456789020211216223812'
        message_ts:
          description: Time of message generation in RFC3339 format
          type: string
          format: date-time
          example: '2022-12-04T18:02:35+00:00'
        action:
          description: G2P Connect specific action. Usually verb from the URI should go here to help store and fwd kind of processing requirements.
          type: string
        status:
          $ref: '#/components/schemas/RequestStatus'
        status_reason_code:
          $ref: '#/components/schemas/MsgHeaderStatusReasonCode'
        status_reason_message:
          description: 'Status reascon code message, if any, Helps actionanble messaging for system/end users'
          type: string
          maxLength: 999
        total_count:
          description: Total no of requests present in the message request
          type: integer
          example: 21800
        completed_count:
          description: No of requests in complteed state. Complete includes success and error requests due to funcational errors
          type: integer
          example: 50
        sender_id:
          description: 'send id registered with the receiving system. Used for authorization, encryption, digital sign verfication, etc., functions.'
          type: string
          example: pymts.example.org
        sender_uri:
          description: sender url to accept callbacks
          type: string
          format: uri
          example: ''
        receiver_id:
          description: 'receiver id registered with the calling system. Used for authorization, encryption, digital sign verfication, etc., functions.'
          type: string
          example: registry.example.org
        receiver_uri:
          description: receiver url to accept callbacks
          type: string
          format: uri
          example: ''
        encryption_algo:
          description: 'If message is encrypted, Ecnryption alog used for receiver to decrypt the message payload'
          type: string
          example:
            - aes
            - rsa
            - aes+rsa
            - ecc
            - other
      required:
        - message_id
        - message_ts
        - action
        - status
    MsgHeader_V1.0.0:
      type: object
      description: Message header
      properties:
        version:
          description: Messaing protocol specification version being used
          type: string
          example: 0.1.0
        message_id:
          description: 'Unique message id to communicate between sender and receiver systems to realiable deliver the message over any transport layer i.e https, pub/sub, sftp etc.,'
          type: string
          example: '123456789020211216223812'
        message_ts:
          description: Time of message generation in RFC3339 format
          type: string
          format: date-time
          example: '2022-12-04T18:01:07+00:00'
        action:
          description: 'G2P Connect specific action. Usually verb from the URI. Helps in sync, async, store/fwd processing. Helps identity payload type in message property.'
          type: string
        sender_id:
          description: 'send id registered with the receiving system. Used for authorization, encryption, digital sign verfication, etc., functions.'
          type: string
          example: registry.example.org
        sender_uri:
          description: sender url to accept callbacks
          type: string
          format: uri
          example: 'https://registry.sender.org/g2p/callback/on-disburse'
        receiver_id:
          description: 'receiver id registered with the calling system. Used for authorization, encryption, digital sign verfication, etc., functions.'
          type: string
          example: pymts.example.org
        total_count:
          description: Total no of requests present in the message request
          type: integer
          example: 21800
        encryption_algo:
          description: 'If message is encrypted, Ecnryption alog used for receiver to decrypt the message payload'
          type: string
          example:
            - aes
            - rsa
            - ecc
            - other
      required:
        - message_id
        - message_ts
        - action
        - sender_id
        - total_count
    MsgHeaderStatusReasonCode:
      type: string
      description: Message header related common status reason codes
      enum:
        - rjct.version.invalid
        - rjct.message_id.duplicate
        - rjct.message_ts.invalid
        - rjct.action.invalid
        - rjct.action.not_supported
        - rjct.total_count.invalid
        - rjct.total_count.limit_exceeded
        - rjct.errors.too_many
    MsgSignature:
      type: string
      description: 'Signature of {header}+{message} body verified using sender''s signing public key'
      example: 'Signature:  namespace="g2p", kidId="{sender_id}|{unique_key_id}|{algorithm}", algorithm="ed25519", created="1606970629", expires="1607030629", headers="(created) (expires) digest", signature="Base64(signing content)'
    Pagination:
      description: 'Pagination definition, count starts with 1'
      type: object
      properties:
        page_size:
          type: number
          format: int32
          example: 2000
        page_number:
          type: number
          format: int32
          example: 5
        total_count:
          type: number
          format: int32
          example: 24250
      required:
        - page_size
        - page_number
        - total_count
    PaginationRequest:
      description: 'Pagination definition, count starts with 1'
      type: object
      properties:
        page_size:
          type: number
          format: int32
          example: 2000
        page_number:
          type: number
          format: int32
          default: 1
          example: 5
      required:
        - page_size
    PersonId:
      type: string
      description: '<br> 1. Beneficiary id is case insensitve normative represenation as id-type:id@provider <br> 2. This will enumerate foundational and functioanl id''s to easily resolvable addressess <br> 3. This property is intended to unambiguously refer to an object, such as a person, organization, etc., <br> 4. Few examples: <br> - id@identifier-type.id-provider e.g token:12345@mosip, vid:12345@philid <br> - id@civil-registry.issuing-agency e.g id:12345@rwanda, id:12345@ejanma.karnataka <br> - id@functional-identifier.issuing-agency e.g id:12345@voter.Rwanda, id:12345@DL.karnataka, mobile:12345@fruits.karnataka <br> Note: id provider should be made configurable and solutions should adapt to the local jurisdiction and policies.<br> e.g fruits.karnataka represents farmer registry in karnataka state govt.<br>'
      format: '^[a-zA-Z0-9.-]+@[a-zA-Z0-9.-]+$'
      example: 'vid:12345@mosip'
    ReferenceId:
      type: string
      description: Unique reference_id set by txn initiating system for each request in a batch
      example: '12345678901234567890'
    ReferenceIdList:
      items:
        $ref: '#/components/schemas/ReferenceId'
    RequestStatus:
      type: string
      description: 'Request (e.g disburse, link, unlink, resolve, issue, search, verify, etc.,) status: <br> 1. rcvd: Received; Request received <br> 2. pdng: Pending; Request initiated <br> 3. succ: Success; Request successful <br> 4. rjct: Rejected; Request rejected'
      enum:
        - rcvd
        - pdng
        - succ
        - rjct
    SearchSort:
      description: Sorting definition
      type: object
      properties:
        attribute_name:
          type: string
          description: attribute name
        sort_order:
          type: string
          enum:
            - asc
            - desc
    SearchSortList:
      items:
        $ref: '#/components/schemas/SearchSort'
    TransactionId:
      description: Unique transaction_id set by txn initiating system (i.e sender) to co-relate requests across processing systems/service end points
      type: string
      maxLength: 99
      example: 012345678901234567890
  parameters:
    accept-language:
      in: header
      name: accept-language
      description: 'Default value: en'
      required: false
      schema:
        type: string
        example: en
    timestamp:
      in: header
      name: timestamp
      description: 'request timestamp in HTTP Date format - Tue, 06 Mar 2020 21:00:00 GMT'
      required: true
      schema:
        type: string
        example: 'Tue, 06 Mar 2020 21:00:00 GMT'
    transaction_id:
      in: path
      name: transaction_id
      description: 'Unique transaction id set by sender as part of the initiating request to co-relate requests across interface end point, sessions, etc., For e.g transaction_id be used to find status using GET call or correlate the transaction as part of the callback call.'
      required: true
      schema:
        type: string
        maxLength: 99
        example: 012345678901234567890
    summary_only:
      in: path
      name: summary_only
      description: 'Optional. Defualt is false, If summary_only set to true then only the message header with stats / status to be returend as part of implementation'
      required: true
      schema:
        type: boolean
        default: true
    beneficiary_id:
      in: path
      name: beneficiary_id
      required: true
      description: '<br> 1. Beneficiary id is a normative represenation represented as id@id-provider <br> 2. This will enumerate foundational and functioanl id''s to easily resolvable addressess <br> 3. Few examples: <br> - id@id-provider e.g 12345@mosip, 12345@PhilID <br> - id@civil-registry.issuing-agency e.g 12345@crvs.rwanda, 12345@ejanma.karnataka - id@functional-identifier.issuing-agency e.g 12345@voter.Rwanda, 12345@DL.karnataka, 12345@fruits.karnataka <br> Note: id-provider should be made configurable and DPGs operating should adapt to the local jurisdiction and policies. e.g fruits.karnataka represents farmer registry in karnataka state govt.<br>'
      schema:
        type: string
        format: '^[a-zA-Z0-9.-]+@[a-zA-Z0-9.-]+$'
        example: 12345@mosip
  responses:
    HttpErrorResponse:
      description: HTTP layer error details
      content:
        application/json:
          schema:
            type: object
            description: 'HTTP transport layer error codes. Used by components like gateways, LB responding with HTTP status codes 1xx, 2xx, 3xx, 4xx and 5xx'
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    description: error code
                  message:
                    type: string
                    description: error message
    Response:
      description: Acknowledgement of message received after successful validation of message and signature
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: object
                properties:
                  ack_status:
                    $ref: '#/components/schemas/Ack'
                  timestamp:
                    $ref: '#/components/schemas/DateTime'
                  error:
                    $ref: '#/components/schemas/Error'
  securitySchemes:
    x-access-token:
      type: http
      scheme: bearer
      bearerFormat: jwt
      description: Authenticating using sessiong token issued by platfrom/system api gateway or auth services issuing session token apis using client id & secret
