openapi: 3.0.0
info:
  title: G2P Connect payment disbursement APIs
  description: "This is an adaptation of G2P Connect core version 0.1.0. <br><br>
   <b>Overview:</b> <br>  
    1. <b>G2P Connect</b> payment disbursement APIs intent is to enable standrdisation between  social protection and payment processing/rails systems integration<br>
    2. Payment and PaymentStatus are core entities to enable generation of payment instruction and reconcile payment processing status <br>
    3. These entites are common between API and File based data exchange <br>
    4. All dates represented in ISO 8601 format including timezone e.g., 2022-12-04T18:01:07+00:00 <br>
    5. All currency codes represented in ISO 4217 format <br><br>
     
    <b>API Security:</b> <br>  
    1. Considering countries operates G2P schemes using various payment systems for <b>e.g.,</b> central bank payment rails, mobile money networks, directly with govt/private operated financial instituations, etc., the network operating model may vary.<br>
    2. G2P Connect reccommends implementing systems to add <b>additional</b> security measures: <br>
      a. Transport layer security using TLS <br>
      b. End point security using x-access-token issued using client id / secret <br>
      c. Role based access controls <br>
      d. sFTP based solutions for file based exchange <br>
    3. Impelementing systems shall document these as part of operational manuals <br>

    <b>Digital Signatures:</b> <br>  
    1. x-signature-key shall hold hash value of the request payload for receiving end point to ensure integrity of the data. <br>
    2. x-signature-key in http header enables non-repudiability. <br><br>
    
    <b>Callback URLs:</b> <br>  
    1. */callback/* endpoints are to be implemented by the calling systems <br><br>

    <b>TODOs</b>: <br>
    1. Define reversal APIs <br>
    2. Error codes standardisation for each payment status <br>
    "
  version: 0.1.0
  contact:
    name: G2P Connect
    email: info@g2pconnect.global
  license:
   name: G2P Connect License
   url: 'https://github.com/G2P-Connect/specs/blob/main/LICENSE'
servers:
  - url: https://sandbox.dpg.org/v0.1.0
    description: Sandbox Server
tags:
- name: 1. Payment disbursement
- name: 2. Payment disbursement status
paths:
 /g2p/payment/disburse:
  post: 
    tags: 
      - 1. Payment disbursement
    summary: "Social protection system initiating g2p payments"
    description: ""
    operationId: post_g2p_payment_disburse
    parameters:
      - $ref: "../components/parameters/date.yaml"
      - $ref: "../components/parameters/x-request-id.yaml"
      - $ref: "../components/parameters/accept-language.yaml"
    requestBody:
      description: ""
      required: true
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Payment"
    responses:
      '200':
        $ref: "../components/responses/200Response.yaml"
      '400':
         $ref: "../components/responses/400Response.yaml"
      '401':
         $ref: "../components/responses/401Response.yaml"
      '500':
         $ref: "../components/responses/500Response.yaml"
    security:
      - x-access-token: [ ]
    deprecated: false
 /g2p/payment/batch-disburse:
  post: 
    tags: 
      - 1. Payment disbursement
    summary: "Social protection system initiating g2p payments in a batch. Supports both api and .csv file interfaces."
    description: ""
    operationId: post_g2p_payment_batch-disburse
    parameters:
      - $ref: "../components/parameters/x-request-id.yaml"
      - $ref: "../components/parameters/date.yaml"
      - $ref: "../components/parameters/accept-language.yaml"
    requestBody:
      description: ""
      required: true
      content:
        application/json:
          schema:
            $ref: '../components/schemas/PaymentBatch.yaml'
        multipart/form-data:
          schema:
            $ref: '../components/schemas/PaymentFile.yaml' 
    responses:
      '200':
        $ref: "../components/responses/200Response.yaml"
      '400':
         $ref: "../components/responses/400Response.yaml"
      '401':
         $ref: "../components/responses/401Response.yaml"
      '500':
         $ref: "../components/responses/500Response.yaml"
    security:
      - x-access-token: [ ]
    deprecated: false
 /g2p/payment/status/{transaction_id}:
   get: 
    tags: 
      - 2. Payment disbursement status
    summary: "Get payment disbursement status."
    description: ""
    operationId: get_g2p_payment_status
    parameters:
      - $ref: "../components/parameters/x-request-id.yaml"
      - $ref: "../components/parameters/date.yaml"
      - $ref: "../components/parameters/accept-language.yaml"
      - $ref: "../components/parameters/transaction_id.yaml"
    responses:
      '200':
        description: "Success"
        headers:
          x-request-id:
            $ref: '../components/headers/x-request-id.yaml'
          x-correlation-id:
            $ref: '../components/headers/x-correlation-id.yaml'
          date:
            $ref: "../components/headers/date.yaml"
          x-processing-time:
            $ref: "../components/headers/x-processing-time.yaml"
        content:
          application/json:
            schema:
              $ref: "../components/schemas/PaymentBatchStatus.yaml"
      '400':
         $ref: "../components/responses/400Response.yaml"
      '401':
         $ref: "../components/responses/401Response.yaml"
      '500':
         $ref: "../components/responses/500Response.yaml"
    security:
      - x-access-token: [ ]
    deprecated: false
 /g2p/payment/batch-status/{transaction_id}:
   get: 
    tags: 
      - 2. Payment disbursement status
    summary: "Get payment disbursement batch status."
    description: ""
    operationId: get_g2p_payment_batch-status
    parameters:
      - $ref: "../components/parameters/x-request-id.yaml"
      - $ref: "../components/parameters/date.yaml"
      - $ref: "../components/parameters/accept-language.yaml"
      - $ref: "../components/parameters/transaction_id.yaml"
    responses:
      '200':
        description: "Success"
        headers:
          x-request-id:
            $ref: '../components/headers/x-request-id.yaml'
          x-correlation-id:
            $ref: '../components/headers/x-correlation-id.yaml'
          date:
            $ref: "../components/headers/date.yaml"
          x-processing-time:
            $ref: "../components/headers/x-processing-time.yaml"
        content:
          application/json:
            schema:
              $ref: "../components/schemas/PaymentBatchStatus.yaml"
          multipart/form-data:
            schema:
              $ref: "../components/schemas/PaymentStatusFile.yaml"    
      '400':
         $ref: "../components/responses/400Response.yaml"
      '401':
         $ref: "../components/responses/401Response.yaml"
      '500':
         $ref: "../components/responses/500Response.yaml"
    security:
      - x-access-token: [ ]
    deprecated: false
 /g2p/callback/payment/on-status:
  post: 
    tags: 
      - 2. Payment disbursement status
    summary: "Social protection system hosted callback to receive payment status updates"
    description: "This end point is hosted by social protection system and called by payment processing/rails to push disbursement status notications"
    operationId: post_g2p_payment_status
    parameters:
      - $ref: "../components/parameters/x-request-id.yaml"
      - $ref: "../components/parameters/date.yaml"
      - $ref: "../components/parameters/accept-language.yaml"
    requestBody:
      description: ""
      required: true
      content:
        application/json:
          schema:
            $ref: '../components/schemas/PaymentStatus.yaml'
    responses:
      '200':
        $ref: "../components/responses/200Response.yaml"
      '400':
         $ref: "../components/responses/400Response.yaml"
      '401':
         $ref: "../components/responses/401Response.yaml"
      '500':
         $ref: "../components/responses/500Response.yaml"
    security:
      - x-access-token: [ ]
    deprecated: false
 /g2p/callback/payment/on-batch-status:
  post: 
    tags: 
      - 2. Payment disbursement status
    summary: "Social protection system hosted callback to receive status updates for batch payments. Supports both api and .csv file interfaces."
    description: "This end point is hosted by social protection system and called by payment processing/rails to push disbursement batch status notications"
    operationId: post_g2p_payment_batch-status
    parameters:
      - $ref: "../components/parameters/x-request-id.yaml"
      - $ref: "../components/parameters/date.yaml"
      - $ref: "../components/parameters/accept-language.yaml"
    requestBody:
      description: ""
      required: true
      content:
        application/json:
          schema:
            $ref: '../components/schemas/PaymentBatchStatus.yaml'
        multipart/form-data:
            schema:
              $ref: "../components/schemas/PaymentStatusFile.yaml"    
    responses:
      '200':
        $ref: "../components/responses/200Response.yaml"
      '400':
         $ref: "../components/responses/400Response.yaml"
      '401':
         $ref: "../components/responses/401Response.yaml"
      '500':
         $ref: "../components/responses/500Response.yaml"
    security:
      - x-access-token: [ ]
    deprecated: false
components:
  schemas:
    $ref: "../components/schemas/index.yaml"
  responses:
    $ref: "../components/responses/index.yaml"
  headers:
    $ref: "../components/headers/index.yaml"
  parameters:
    $ref: "../components/parameters/index.yaml"
  securitySchemes:
    $ref: "../components/security/index.yaml"