openapi: 3.0.0
info:
  title: G2P Connect payment disbursements
  description: "<br>
    <b>Reference Links:</b> <br>
      1. G2P Connect Specifications <a href=\"https://github.com/G2P-Connect/specs/wiki \" >wiki pages</a><br>
      2. G2P Connect GitHub <a href=\"https://github.com/G2P-Connect/specs/ \" >links</a><br>
      3. Disbursement feature relate <a href= \"https://github.com/G2P-Connect/.github/discussions\">discussion thread</a> <br>

    <br><b>TODOs</b>: <br>
    1. Standardisae <a href=\"https://github.com/G2P-Connect/specs/blob/draft/docs/specs-draft/G2PConnect-001-Error-Codes-Draft-01.md\">errror codes</a> <br>
    "
  version: 0.1.0
  contact:
    name: G2P Connect
    email: info@g2pconnect.global
  license:
   name: G2P Connect License
   url: 'https://github.com/G2P-Connect/specs/blob/main/LICENSE'
servers:
  - url: https://sandbox.dpg.org/v0.1.0
    description: Sandbox Server
tags:
- name: 1. Disbursement
paths:
 /g2p/disburse:
  post: 
    tags: 
      - 1. Disbursement
    summary: "DSBT-001 : Social protection platofrom initiating g2p disbursements. Supports api, events and file based messaging"
    description: ""
    operationId: post_g2p_disburse
    requestBody:
      description: ""
      required: true
      content:
        application/json:
          schema:
              type: object
              properties:
                header:
                  allOf:
                    - $ref: "#/components/schemas/MsgReqHeader"
                    - properties:
                        action:
                          enum:
                            - disburse
                message:
                  type: object
                  properties:
                    transaction_id: 
                      $ref: "#/components/schemas/TransactionId"
                    disburse:
                      type: array
                      items:
                        $ref: "#/components/schemas/DisburseRequest"
              required:
                - header
                - message
        multipart/form-data:
          schema:
            $ref: "#/components/schemas/DisburseFileInfo"
    responses:
        default:
          $ref: "#/components/schemas/Response"
        'XXX':
          $ref: "#/components/responses/SftpErrorResponse"
        'xxx':
          $ref: "#/components/responses/HttpErrorResponse"
    security:
      - x-access-token: [ ]
      - Signature: [ ]
    deprecated: false
 /g2p/on-disburse:
  post: 
    tags: 
      - 1. Disbursement
    summary: "DSBT-002 : Disbursement initiating systems receive disbursement status info through callback end points. Supports api, events and file based messaging"
    description: "The callback endpoint is called by disbursement processing systems upon completing all disbursement instructions or at regular intervals "
    operationId: post_g2p_on-disburse
    requestBody:
      description: ""
      required: true
      content:
        application/json:
          schema:
              type: object
              properties:
                header:
                  allOf:
                    - $ref: "#/components/schemas/MsgCallbackReqHeader"
                    - properties:
                        action:
                          enum:
                            - on-disburse
                message:
                  type: object
                  properties:
                    transaction_id: 
                      $ref: "#/components/schemas/TransactionId"
                    disburse_status:
                      type: array
                      items:
                        $ref: "#/components/schemas/DisburseResponse"
              required:
                - header
                - message
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/DisburseFileInfo'
    responses:
      default:
        $ref: "./io/Response.yaml"
      'x-*':
        $ref: "#/components/responses/SftpErrorResponse"
      'xxx':
        $ref: "#/components/responses/HttpErrorResponse"
    security:
      - x-access-token: [ ]
      - Signature: [ ]
    deprecated: false
 /g2p/disburse/status:
  post: 
    tags: 
      - 1. Disbursement
    summary: "DSBT-003 : Request for disbursement status from (e.g) social protection, Treasury systems"
    description: ""
    operationId: post_g2p_disburse_status
    requestBody:
      description: ""
      required: true
      content:
        application/json:
          schema:
              type: object
              properties:
                header:
                  allOf:
                    - $ref: "#/components/schemas/MsgReqHeader"
                    - properties:
                        action:
                          enum:
                            - status
                message:
                  type: object
                  properties:
                    transaction_id: 
                      $ref: "#/components/schemas/TransactionId"
                    request_ids:
                      type: array
                      items:
                        $ref: "#/components/schemas/StatusRequest"
              required:
                - header
                - message
        multipart/form-data:
          schema:
            $ref: "#/components/schemas/StatusFileInfo"
    responses:
      default:
        $ref: "#/components/schemas/Response"
      'x-*':
        $ref: "#/components/responses/SftpErrorResponse"
      'xxx':
        $ref: "#/components/responses/HttpErrorResponse"
    security:
      - x-access-token: [ ]
      - Signature: [ ]
    deprecated: false
 /g2p/disburse/on-status:
  post: 
    tags: 
      - 1. Disbursement
    summary: "DSBT-004 : Disbursement initating systems receive disbursement status info through callback end points. Supports api, events and file based messaging"
    description: "The callback endpoint is called by disbursement processing systems upon completing all disbursement instructions or at regular intervals "
    operationId: post_g2p_disburse_on-status
    requestBody:
      description: ""
      required: true
      content:
        application/json:
          schema:
              type: object
              properties:
                header:
                  allOf:
                    - $ref: "#/components/schemas/MsgCallbackReqHeader"
                    - properties:
                        action:
                          enum:
                            - on-status
                message:
                  type: object
                  properties:
                    transaction_id: 
                      $ref: "#/components/schemas/TransactionId"
                    disburse_status:
                      type: array
                      items:
                        $ref: "#/components/schemas/DisburseResponse"
              required:
                - header
                - message
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/StatusFileInfo'
    responses:
      default:
        $ref: "./io/Response.yaml"
      'x-*':
        $ref: "#/components/responses/SftpErrorResponse"
      'xxx':
        $ref: "#/components/responses/HttpErrorResponse"
    security:
      - x-access-token: [ ]
      - Signature: [ ]
    deprecated: false
 /g2p/disburse/status/{transaction_id}/{summary_only}:
   get: 
    tags: 
      - 1. Disbursement
    summary: "DSBT-005: Get disbursement processing status by polling"
    description: " <br>
        1. This end point is avaiable to poll disbursement processing status info. <br>
        2. It is recommended to fetch with default summay_only flag to reduce load on the systems. <br>
        3. Disbursement processing systems may chose to implement rate limiting at transaction_id level to avoid request flooding."
    operationId: get_g2p_disburse_status_by_msg_id
    parameters:
      - $ref: "#/components/parameters/accept-language"
      - $ref: "#/components/parameters/timestamp"
      - $ref: "#/components/parameters/transaction_id"
      - $ref: "#/components/parameters/summary_only"
    responses:
      default:
        description: "Acknowledgement of message received after successful validation of message and signature"
        content:
          application/json:
            schema:
              type: object
              properties:
                header:
                  allOf:
                    - $ref: "#/components/schemas/MsgCallbackReqHeader"
                    - properties:
                        action:
                          enum:
                            - status
                message:
                  type: object
                  properties:
                    disburse_status:
                      type: array
                      items:
                        $ref: "#/components/schemas/DisburseResponse"
              required:
                - header
                - message
      'x-*':
        $ref: "#/components/responses/SftpErrorResponse"
      'xxx':
        $ref: "#/components/responses/HttpErrorResponse"
    security:
      - x-access-token: [ ]
      - Signature: [ ]
    deprecated: false
 /g2p/disburse/status/{reference_id}:
   get: 
    tags: 
      - 1. Disbursement
    summary: "DSBT-005 : Get disbursement processing status by polling using reference_id"
    description: " <br>
        1. This end point is avaiable to poll disbursement processing status info. <br>
        2. Disbursement processing systems may chose to implement rate limiting at reference_id level to avoid request flooding."
    operationId: get_g2p_disburse_status_by_req_id
    parameters:
      - $ref: "#/components/parameters/accept-language"
      - $ref: "#/components/parameters/timestamp"
      - $ref: "#/components/parameters/reference_id"
    responses:
      default:
        description: "Acknowledgement of message received after successful validation of message and signature"
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: object
                  properties:
                    disburse_status:
                      $ref: "#/components/schemas/DisburseResponse"
              required:
                - message
      'x-*':
        $ref: "#/components/responses/SftpErrorResponse"
      'xxx':
        $ref: "#/components/responses/HttpErrorResponse"
    security:
      - x-access-token: [ ]
      - Signature: [ ]
    deprecated: false
components:
  schemas:
    $ref: "./schemas/index.yaml"
  parameters:
    accept-language:
      $ref: "../../../component/parameter/accept-language.yaml"
    timestamp:
      $ref: "../../../component/parameter/timestamp.yaml"
    transaction_id:
      $ref: "../../../component/parameter/transaction_id.yaml"
    summary_only:
      $ref: "../../../component/parameter/summary_only.yaml"
    reference_id:
      $ref: "./io/reference_id.yaml"
  responses:
    HttpErrorResponse:
      $ref: "../../../component/response/HttpErrorResponse.yaml"    
    SftpErrorResponse:
      $ref: "../../../component/response/SftpErrorResponse.yaml"    
  securitySchemes:
    $ref: "../../../component/security/index.yaml"