openapi: 3.0.0
info:
  title: Disbursement
  description: 'Discussions <a href= "https://github.com/G2P-Connect/.github/discussions/15">thread</a> <br><br> Social protection platform initiating G2P disbursements. Supports api, events and file based messaging'
  version: 0.1.0
  contact:
    name: G2P Connect
    email: info@g2pconnect.global
  license:
    name: G2P Connect License
    url: 'https://github.com/G2P-Connect/specs/blob/main/LICENSE'
servers:
  - url: 'https://sandbox.dpg.org/v0.1.0/{namespace}'
    description: Sandbox Server
paths:
  /disburse:
    post:
      summary: 'DSBT-DSBT : /disburse'
      description: Initiate payment through disbursement instructions
      operationId: post_g2p_dsbt_disburse
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgHeader'
                    - properties:
                        action:
                          enum:
                            - disburse
                message:
                  type: object
                  properties:
                    transaction_id:
                      $ref: '#/components/schemas/TransactionId'
                    disburse_request:
                      type: array
                      items:
                        $ref: '#/components/schemas/DisburseRequest'
                  required:
                    - transaction_id
                    - disburse_request
              required:
                - header
                - message
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - disburse
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /on-disburse:
    post:
      summary: 'DSBT-ON-DSBT : /on-disburse'
      description: The callback is called by /disburse end point processing systems upon completing all disbursement instructions
      operationId: post_g2p_dsbt_on-disburse
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgCallbackHeader'
                    - properties:
                        action:
                          enum:
                            - on-disburse
                message:
                  type: object
                  properties:
                    transaction_id:
                      $ref: '#/components/schemas/TransactionId'
                    disburse_response:
                      type: array
                      items:
                        $ref: '#/components/schemas/DisburseResponse'
                  required:
                    - transaction_id
                    - disburse_response
              required:
                - header
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - on-disburse
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /disburse/search:
    post:
      summary: 'DSBT-SRCH : /disbruse/search'
      description: Search disbursement by searchable attributes
      operationId: post_g2p_dsbt_search
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgHeader'
                    - properties:
                        action:
                          enum:
                            - search
                message:
                  type: object
                  properties:
                    transaction_id:
                      $ref: '#/components/schemas/TransactionId'
                    search_request:
                      $ref: '#/components/schemas/SearchRequest'
                  required:
                    - transaction_id
                    - search_request
              required:
                - header
                - message
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - search
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /disburse/on-search:
    post:
      summary: 'DSBT-ON-SRCH : /credential/on-search'
      description: Disbrusement search results through call back
      operationId: post_g2p_dsbt_on-search
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgCallbackHeader'
                    - properties:
                        action:
                          enum:
                            - on-search
                message:
                  type: object
                  properties:
                    transaction_id:
                      $ref: '#/components/schemas/TransactionId'
                    search_response:
                      type: array
                      items:
                        $ref: '#/components/schemas/SearchResponse'
                  required:
                    - transaction_id
                    - search_response
              required:
                - header
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - on-search'
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /disburse/txn/status:
    post:
      summary: 'DSBT-TXNSTS : /disburse/txn/status'
      description: Perform async status check of previous disbursement transanctions using searchable attributes
      operationId: post_g2p_dsbt_txnstatus
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgHeader'
                    - properties:
                        action:
                          enum:
                            - status
                message:
                  type: object
                  properties:
                    transaction_id:
                      $ref: '#/components/schemas/TransactionId'
                    txnstatus_request:
                      $ref: '#/components/schemas/TxnStatusRequest'
                  required:
                    - transaction_id
                    - txnstatus_request
              required:
                - header
                - message
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - status
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /disburse/txn/on-status:
    post:
      summary: 'DSBT-ON-TXNSTS : /disburse/txn/on-status'
      description: Response to async status check of previous disbursement transanctions using callback
      operationId: post_g2p_dsbt_on-txnstatus
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgCallbackHeader'
                    - properties:
                        action:
                          enum:
                            - on-status
                message:
                  type: object
                  properties:
                    transaction_id:
                      $ref: '#/components/schemas/TransactionId'
                    txnstatus_response:
                      type: array
                      items:
                        $ref: '#/components/schemas/TxnStatusResponse'
                  required:
                    - transaction_id
                    - txnstatus_response
              required:
                - header
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - status'
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  '/disburse/search/{transaction_id}/{summary_only}':
    get:
      summary: 'DSBT-SRCH-TXNID: /disburse/search/{transaction_id}/{summary_only}'
      description: Get disbursement processing status by polling <br> 1. This end point is avaiable to poll disbursement processing status info. <br> 2. It is recommended to fetch with default summay_only flag to reduce load on the systems. <br> 3. Disbursement processing systems may chose to implement rate limiting at transaction_id level to avoid request flooding.
      operationId: get_g2p_dsbt_search_by_txn_id
      parameters:
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/transaction_id'
        - $ref: '#/components/parameters/summary_only'
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          description: Acknowledgement of message received after successful validation of message and signature
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature:
                    $ref: '#/components/schemas/MsgSignature'
                  header:
                    allOf:
                      - $ref: '#/components/schemas/MsgCallbackHeader'
                      - properties:
                          action:
                            enum:
                              - search
                  message:
                    type: object
                    properties:
                      transaction_id:
                        $ref: '#/components/schemas/TransactionId'
                      disburse_response:
                        type: array
                        items:
                          $ref: '#/components/schemas/DisburseResponse'
                    required:
                      - transaction_id
                      - disburse_response
                required:
                  - header
      security:
        - x-access-token: []
      deprecated: false
  '/disburse/search/{reference_id}':
    get:
      summary: 'DSBT-SRCH-REFID : /disburse/search/{reference_id}'
      description: Get disbursement processing status by polling using reference_id <br> 1. This end point is avaiable to poll disbursement processing status info. <br> 2. Disbursement processing systems may chose to implement rate limiting at reference_id level to avoid request flooding.
      operationId: get_g2p_dsbt_search_by_ref_id
      parameters:
        - $ref: '#/components/parameters/accept-language'
        - $ref: '#/components/parameters/timestamp'
        - $ref: '#/components/parameters/reference_id'
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          description: Acknowledgement of message received after successful validation of message and signature
          content:
            application/json:
              schema:
                type: object
                properties:
                  signature:
                    $ref: '#/components/schemas/MsgSignature'
                  header:
                    allOf:
                      - $ref: '#/components/schemas/MsgCallbackHeader'
                      - properties:
                          action:
                            enum:
                              - search
                  message:
                    type: object
                    properties:
                      transaction_id:
                        $ref: '#/components/schemas/TransactionId'
                      disburse_response:
                        type: array
                        items:
                          $ref: '#/components/schemas/DisburseResponse'
                    required:
                      - transaction_id
                      - disburse_response
                required:
                  - header
      security:
        - x-access-token: []
      deprecated: false
components:
  schemas:
    DisburseRequest:
      type: object
      description: Describes payment schema that enable transfer from payer to payee accounts. This entity supports immediate and scheduling one time payment request into future. Recurring payments is not part of the scope of this entity.
      properties:
        reference_id:
          $ref: '#/components/schemas/ReferenceId'
        payer_fa:
          $ref: '#/components/schemas/FinancialAddress'
        payee_fa:
          $ref: '#/components/schemas/FinancialAddress'
        amount:
          $ref: '#/components/schemas/Amount'
        scheduled_timestamp:
          description: Disbursement initiation schedule timestamp in RFC3339 format. If not present the disbursement is for immediate purpose.
          type: string
          format: date-time
          example: '2022-12-04T17:00:00-04:00'
        payer_name:
          description: Payer account name for easy reference. Usually each scheme may have a seperate holding account.
          type: string
          example: Farmer draught relief scheme 2023
        payee_name:
          description: Payer name for easy reference. Usually beneficiary name as per scheme registration info
          type: string
          example: Joe John
        note:
          description: Note to payer/payee to reflect on statements
          type: string
          maxLength: 99
        purpose:
          $ref: '#/components/schemas/Purpose'
        instruction:
          description: 'Additional systems instruction for interfacing systems/platforms to integrate, reconcile'
          type: string
          maxLength: 999
        currency_code:
          $ref: '#/components/schemas/CurrencyCode'
        locale:
          $ref: '#/components/schemas/LanguageCode'
      required:
        - reference_id
        - payer_fa
        - payee_fa
        - amount
    DisburseResponse:
      type: object
      description: G2P Disbursement response i.e status of each disburemsent request for reconciliation by sender system
      properties:
        reference_id:
          $ref: '#/components/schemas/ReferenceId'
        timestamp:
          description: Disbursement response status datetime in RFC3339 format
          type: string
          format: date-time
          example: '2022-12-04T17:20:07-04:00'
        status:
          $ref: '#/components/schemas/RequestStatus'
        status_reason_code:
          $ref: '#/components/schemas/DisburseStatusReasonCode'
        status_reason_message:
          description: Status reason code message. Helps actionanble messaging for systems/end users
          type: string
          maxLength: 999
        instruction:
          description: 'Additional systems instruction for interfacing systems/platforms to integrate, reconcile'
          type: string
          maxLength: 999
        amount:
          $ref: '#/components/schemas/Amount'
        payer_fa:
          $ref: '#/components/schemas/FinancialAddress'
        payer_name:
          description: Payer account name for easy reference. Usually each scheme may have a seperate holding account.
          type: string
          example: Farmer draught relief scheme 2023
        payee_fa:
          $ref: '#/components/schemas/FinancialAddress'
        payee_name:
          description: Payer name for easy reference. Usually beneficiary name as per scheme registration info
          type: string
          example: Joe John
        currency_code:
          $ref: '#/components/schemas/CurrencyCode'
        locale:
          $ref: '#/components/schemas/LanguageCode'
      required:
        - reference_id
        - timestamp
        - status
    DisburseStatusReasonCode:
      type: string
      description: Disbursement status reason codes
      enum:
        - rjct.reference_id.invalid
        - rjct.reference_id.duplicate
        - rjct.timestamp.invalid
        - rjct.payer_fa.invalid
        - rjct.payee_fa.invalid
        - rjct.amount.invalid
        - rjct.schedule_ts.invalid
        - rjct.currency_code.invalid
    SearchRequest:
      type: object
      description: Request to search disbursement using payer or payee fa
      properties:
        reference_id:
          $ref: '#/components/schemas/ReferenceId'
        request_type:
          type: string
          enum:
            - disburse
        attribute:
          type: string
          enum:
            - transaction_id
            - reference_id_list
            - payer_fa
            - payee_fa
        attribute_value:
          oneOf:
            - $ref: '#/components/schemas/TransactionId'
            - $ref: '#/components/schemas/ReferenceIdList'
            - $ref: '#/components/schemas/FinancialAddress'
        locale:
          $ref: '#/components/schemas/LanguageCode'
      required:
        - reference_id
        - request_type
        - attribute
        - attribute_value
    SearchResponse:
      type: object
      description: Digital credential
      properties:
        reference_id:
          $ref: '#/components/schemas/ReferenceId'
        timestamp:
          $ref: '#/components/schemas/Timestamp'
        status:
          $ref: '#/components/schemas/RequestStatus'
        status_reason_code:
          $ref: '#/components/schemas/SearchStatusReasonCode'
        status_reason_message:
          description: Status reason code message. Helps actionanble messaging for systems/end users
          type: string
          maxLength: 999
        disbursements:
          items:
            $ref: '#/components/schemas/DisburseResponse'
        locale:
          $ref: '#/components/schemas/LanguageCode'
      required:
        - reference_id
        - timestamp
        - status
    SearchStatusReasonCode:
      type: string
      description: 'Credentail issuance status reason code with reason message: <br> - RJCT_REFERENCE_ID_INVALID; Invalid reference id <br> - RJCT_REFERENCE_ID_DUPLICATE; Duplicate reference id <br> - RJCT_TIMESTAMP_INVALID; Timestamp is invalid <br> - RJCT_TYPE_INVALID; Type is invalid <br> - RJCT_ISSUER_INVALID; Issuer is invalid <br> - RJCT_SUBJECT_INVALID; Subject is invalid <br> - RJCT_SHAREATTRIBUTES_INVALID; Share attributes invalid <br> - etc.,'
      enum:
        - RJCT_REFERENCE_ID_INVALID
        - RJCT_REFERENCE_ID_DUPLICATE
        - RJCT_TIMESTAMP_INVALID
        - RJCT_TYPE_INVALID
        - RJCT_ISSUER_INVALID
        - RJCT_SUBJECT_INVALID
        - RJCT_SHAREATTRIBUTES_INVALID
    TxnStatusRequest:
      type: object
      description: Request to search disbursement using payer or payee fa
      properties:
        reference_id:
          $ref: '#/components/schemas/ReferenceId'
        search_type:
          type: string
          enum:
            - transaction_id
            - reference_id_list
        search_attribute:
          oneOf:
            - $ref: '#/components/schemas/TransactionId'
            - $ref: '#/components/schemas/ReferenceIdList'
        locale:
          $ref: '#/components/schemas/LanguageCode'
      required:
        - reference_id
        - search_type
        - search_attribute
    TxnStatusResponse:
      type: array
      items:
        oneOf:
          - $ref: '#/components/schemas/DisburseResponse'
      example:
        on-txnstatus-response:
          reference_id: test
          timestamp: test
          status: SUCC
    Ack:
      type: string
      description: |
        1. ACK: If the request is valid (for basic checks) and async callback (i.e webhook) will be invoked by reciever back to the sender.
        2. NACK: If the request is valid (for basic checks) and there is no futher updates from reciever back to the sender.
        3. ERR: If the reuqest is invalid and reciver can't process the request. error object holds error code, message.
      enum:
        - ACK
        - NACK
        - ERR
    Amount:
      type: string
      description: Describes amount in decimal value format
      pattern: '^\d{1,13}\.\d{1,2}$'
    CurrencyCode:
      description: <br> 1. Currency code allocated as per ISO 4217 format.<br> 2. Codes for the representation of currencies and funds.
      type: string
      pattern: '^[A-Z]{3,3}$'
      example: SLL
    Error:
      description: |
        Describes an error object that is returned to standard post call request. <br>
        1. This object shall be sent when any request received by a participant is not parsable or message integrity check fails. <br>
        2. This object may be used across all transport protocols to acknowledge the receipt of a message i.e HTTPS, FTP, Messaging etc., <br>"
      type: object
      properties:
        code:
          type: string
          description: Standard error code
          enum:
            - err.request.bad
            - err.request.unauthorized
            - err.request.forbidden
            - err.request.not_found
            - err.request.timeout
            - err.version.not_supported
            - err.request.too_many_requests
            - err.sender_id.invalid
            - err.sender_uri.invalid
            - err.receiver_id.invalid
            - err.signature.missing
            - err.signature.invalid
            - err.encryption.invalid
            - err.service.unavailable
        message:
          type: string
          description: message to describe above error code
          maxLength: 999
    FileInfo:
      type: object
      description: File info. Used in file upload feature using HTTPS
      properties:
        action:
          description: G2P Connect specific actions. Usually verb from the URI should go here to help store and fwd kind of processing requirements.
          type: string
        fileName:
          description: Disbursement instruction file representing Disburse or OnDisburse end point elements i.e signature/header/message entities as a file record
          type: string
          format: binary
        fileFormat:
          description: 'File content format. e.g json, csv, etc.,'
          type: string
          default: json
          example: csv
      required:
        - action
        - fileName
    FinancialAddress:
      type: string
      description: '<br> 1. Financial address is a normative represenation of a store of value account represented as account@provider <br> 2. Every payer/payee financial address must be resolved to an actual store of value account number for processing the payment instruction <br> 3. Few examples: <br> - uid@pymt-rail e.g 12345@bsp <br> - uid@id-provider e.g 12345@PhilID <br> - mobile@mobile-provider e.g 12345@m-pesa <br> - account-id@bank-psp-code e.g 12345@gtbank.rwanda <br> - account-no@ifsc-code.ifsc.npci e.g 12345@HDFC0000001.ifsc.npci <br> - user-id@psp-code e.g. joeuser@mypsp <br> - token@psp-code e.g ot123456@mypsp <br> - code@purpose-code.voucher-provider.voucher e.g 12345@food.sodexo.voucher, 12345@medical.xyz.voucher <br> - cdbc-id@cdbc e.g. 12345@DCash'
      format: '^[a-zA-Z0-9.-]+@[a-zA-Z0-9.-]+$'
      example: 12345@PhilID
    FinancialAddressList:
      items:
        $ref: '#/components/schemas/FinancialAddress'
    LanguageCode:
      description: indicates language code. G2P Connect supports country codes as per ISO 639.3 standard
      type: string
      pattern: '^[a-z]{3,3}$'
      example: en
    MsgCallbackHeader:
      type: object
      description: Message header
      properties:
        version:
          description: g2p connect specification version being used
          type: string
          example: 0.1.0
        message_id:
          description: Unique message id to communicate between sender and receiver systems. Receiving system should echo the orignial message_id for correlations.
          type: string
          example: '123456789020211216223812'
        message_ts:
          description: Time of message generation in RFC3339 format
          type: string
          format: date-time
          example: '2022-12-04T18:02:35+00:00'
        action:
          description: G2P Connect specific action. Usually verb from the URI should go here to help store and fwd kind of processing requirements.
          type: string
        status:
          $ref: '#/components/schemas/RequestStatus'
        status_reason_code:
          $ref: '#/components/schemas/MsgHeaderStatusReasonCode'
        status_reason_message:
          description: 'Status reascon code message, if any, Helps actionanble messaging for system/end users'
          type: string
          maxLength: 999
        total_count:
          description: Total no of requests present in the message request
          type: integer
          example: 21800
        completed_count:
          description: No of requests in complteed state. Complete includes success and error requests due to funcational errors
          type: integer
          example: 50
        sender_id:
          description: 'send id registered with the receiving system. Used for authorization, encryption, digital sign verfication, etc., functions.'
          type: string
          example: '10089'
        sender_uri:
          description: sender url to accept callbacks
          type: string
          format: uri
          example: ''
        receiver_id:
          description: 'receiver id registered with the calling system. Used for authorization, encryption, digital sign verfication, etc., functions.'
          type: string
          example: '52077'
        receiver_uri:
          description: receiver url to accept callbacks
          type: string
          format: uri
          example: ''
      required:
        - message_id
        - message_ts
        - action
        - status
    MsgHeader:
      type: object
      description: Message header
      properties:
        version:
          description: g2p connect specification version being used
          type: string
          example: 0.1.0
        message_id:
          description: 'Unique message id to communicate between sender and receiver systems to realiable deliver the message over any transport layer i.e https, pub/sub, sftp etc.,'
          type: string
          example: '123456789020211216223812'
        message_ts:
          description: Time of message generation in RFC3339 format
          type: string
          format: date-time
          example: '2022-12-04T18:01:07+00:00'
        action:
          description: 'G2P Connect specific action. Usually verb from the URI. Helps in sync, async, store/fwd processing. Helps identity payload type in message property.'
          type: string
        sender_id:
          description: 'send id registered with the receiving system. Used for authorization, encryption, digital sign verfication, etc., functions.'
          type: string
          example: '10089'
        sender_uri:
          description: sender url to accept callbacks
          type: string
          format: uri
          example: 'https://pymts.sender.org/g2p/callback/on-disburse'
        receiver_id:
          description: 'receiver id registered with the calling system. Used for authorization, encryption, digital sign verfication, etc., functions.'
          type: string
          example: '52077'
        total_count:
          description: Total no of requests present in the message request
          type: integer
          example: 21800
      required:
        - message_id
        - message_ts
        - action
    MsgHeaderStatusReasonCode:
      type: string
      description: Message header related common status reason codes
      enum:
        - rjct.version.invalid
        - rjct.message_id.duplicate
        - rjct.message_ts.invalid
        - rjct.action.invalid
        - rjct.action.not_supported
        - rjct.total_count.invalid
        - rjct.total_count.limit_exceeded
        - rjct.errors.too_many
    MsgSignature:
      type: string
      description: 'Signature of {header}+{message} body verified using sender''s signing public key'
      example: 'Signature:  namespace="g2p", kidId="{sender_id}|{unique_key_id}|{algorithm}", algorithm="ed25519", created="1606970629", expires="1607030629", headers="(created) (expires) digest", signature="Base64(signing content)'
    Purpose:
      description: 'Payment disbursement purpose e.g Salary, Farmer Relief 2023, etc.,'
      type: string
      maxLength: 99
      example: Farmer Relief 2023
    ReferenceId:
      type: string
      description: Unique reference_id set by txn initiating system for each request in a batch
      example: '12345678901234567890'
    ReferenceIdList:
      items:
        $ref: '#/components/schemas/ReferenceId'
    RequestStatus:
      type: string
      description: 'Request (e.g disburse, link, unlink, resolve, issue, search, verify, etc.,) status: <br> 1. rcvd: Received; Request received <br> 2. pdng: Pending; Request initiated <br> 3. succ: Success; Request successful <br> 4. rjct: Rejected; Request rejected'
      enum:
        - rcvd
        - pdng
        - succ
        - rjct
    Timestamp:
      type: string
      description: datetime in RFC3339 format
      format: date-time
      example: '2022-12-04T17:20:07-04:00'
    TransactionId:
      description: Unique transaction_id set by txn initiating system (i.e sender) to co-relate requests across processing systems/service end points
      type: string
      maxLength: 99
      example: 012345678901234567890
  parameters:
    accept-language:
      in: header
      name: accept-language
      description: 'Default value: en'
      required: false
      schema:
        type: string
        example: en
    timestamp:
      in: header
      name: timestamp
      description: 'request timestamp in HTTP Date format - Tue, 06 Mar 2020 21:00:00 GMT'
      required: true
      schema:
        type: string
        example: 'Tue, 06 Mar 2020 21:00:00 GMT'
    transaction_id:
      in: path
      name: transaction_id
      description: 'Unique transaction id set by sender as part of the initiating request to co-relate requests across interface end point, sessions, etc., For e.g transaction_id be used to find status using GET call or correlate the transaction as part of the callback call.'
      required: true
      schema:
        type: string
        maxLength: 99
        example: 012345678901234567890
    summary_only:
      in: path
      name: summary_only
      description: 'Optional. Defualt is false, If summary_only set to true then only the message header with stats / status to be returend as part of implementation'
      required: true
      schema:
        type: boolean
        default: true
    reference_id:
      in: path
      name: reference_id
      description: Unique reference id set by business txn initiating system. Used for co-relating the callback requests and to get status info
      required: true
      schema:
        type: string
        example: '12345678901234567890'
  responses:
    HttpErrorResponse:
      description: HTTP layer error details
      content:
        application/json:
          schema:
            type: object
            description: 'HTTP transport layer error codes. Used by components like gateways, LB responding with HTTP status codes 1xx, 2xx, 3xx, 4xx and 5xx'
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    description: error code
                  message:
                    type: string
                    description: error message
    Response:
      description: Acknowledgement of message received after successful validation of message and signature
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: object
                properties:
                  ack_status:
                    $ref: '#/components/schemas/Ack'
                  timestamp:
                    $ref: '#/components/schemas/Timestamp'
                  error:
                    $ref: '#/components/schemas/Error'
  securitySchemes:
    x-access-token:
      type: http
      scheme: bearer
      bearerFormat: jwt
      description: Authenticating using sessiong token issued by platfrom/system api gateway or auth services issuing session token apis using client id & secret
