openapi: 3.0.0
info:
  title: G2P Connect id to financial address mapper APIs
  description: |-
    This is an adaptation of G2P Connect core version 0.1.0. <br><br> <b>Overview:</b> <br>   1. <b>G2P Connect</b> enables social protection systems to initiate payment disbursement instruction using financial account/address identifiers that is mapped to an individual identifier. <br> 2. Beneficiary identifier can be of national id, national id tokens, mobile number, email id, virtual payment ids, user id's etc that are supported by underlying payment processing/rails platforms. <br> 3. Country operational model shall decide the entity that manages one or more ID to Account Mapper registries. <br> 4. These APIs enable standradizing linking, unliking, status check capabilities between G2P enabling DPGS/Products. <br>
    <b>API Security:</b> <br>   1. Considering countries operates G2P schemes using various payment systems for <b>e.g.,</b> central bank payment rails, mobile money networks, directly with govt/private operated financial instituations, etc., the network operating model may vary.<br> 2. G2P Connect reccommends implementing systems to add <b>additional</b> security measures: <br> a. Transport layer security using TLS <br> b. End point security using x-access-token issued using client id / secret <br> c. Role based access controls <br> d. sFTP based solutions for file based exchange <br> 3. Impelementing systems shall document these as part of operational manuals <br>
    <b>Digital Signatures:</b> <br>   1. x-signature-key shall hold hash value of the request payload for receiving end point to ensure integrity of the data. <br> 2. x-signature-key in http header enables non-repudiability. <br><br>
    <b>Callback URLs:</b> <br>   1. */callback/* endpoints are to be implemented by the calling systems <br><br>
    <b>TODOs</b>: <br> 1. Error codes standardisation for each payment status <br> 
  version: 0.1.0
  contact:
    name: G2P Connect
    email: info@g2pconnect.global
  license:
    name: G2P Connect License
    url: 'https://github.com/G2P-Connect/specs/blob/main/LICENSE'
servers:
  - url: 'https://sandbox.dpg.org/v0.1.0'
    description: Sandbox Server
tags:
  - name: 1. Account mapper Linking/Unlinking
  - name: 2. Account mapper lookups
paths:
  /g2p/mapper/link:
    post:
      tags:
        - 1. Account mapper Linking/Unlinking
      summary: Social protection or Payment Processing/Rails or Banking systems initiated linking
      description: ''
      operationId: post_g2p_mapper_link
      parameters:
        - in: header
          name: date
          description: 'request timestamp in HTTP Date format - Tue, 06 Mar 2020 21:00:00 GMT'
          required: true
          schema:
            type: string
            example: 'Tue, 06 Mar 2020 21:00:00 GMT'
        - in: header
          name: x-request-id
          description: x-request-id to correlate every request across backend services
          required: true
          schema:
            type: string
            example: 18f484bd-3321-4754-b95e-8abed0c97b5d
        - in: header
          name: accept-language
          description: 'Default value: en'
          required: false
          schema:
            type: string
            example: en
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Beneficiary ID to Account link info
              properties:
                locale:
                  $ref: '#/components/schemas/LanguageCode'
                request_id:
                  description: Unique uuid set by social protect sytem while initiating the payment
                  type: string
                request_datetime:
                  description: Payment initiation request data time
                  type: string
                  format: date-time
                  example: '2022-12-04T18:01:07+00:00'
                beneficiary_info:
                  $ref: '#/components/schemas/Beneficiary'
                account_info:
                  $ref: '#/components/schemas/AccountInfo'
                scheme_codes:
                  $ref: '#/components/schemas/Schemes'
                additional_info:
                  description: 'Additional info for interfacing DPGs platforms to integrate, reconcile, etc., unstructured data'
                  type: string
                  maxLength: 1024
              required:
                - locale
                - request_id
                - request_datetime
                - beneficiary_info
                - account_info
      responses:
        '200':
          description: ''
          headers:
            x-request-id:
              $ref: '#/components/headers/x-request-id'
            x-correlation-id:
              $ref: '#/components/headers/x-correlation-id'
            date:
              $ref: '#/components/headers/date'
            x-processing-time:
              $ref: '#/components/headers/x-processing-time'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionId'
        '400':
          description: 'Syntactic errors <br> <b>code : message</b> <br> 400-INVALID_PYMT_ADDR : invalid payment address <br> 400-INVALID_TXN_ID    : invalid transaction id <br> 400-INVLAID_LINK_REQ  : Invalid linking request <br> 400-INVLAID_UNLINK_REQ  : Invalid linking request <br> '
          headers:
            x-request-id:
              $ref: '#/components/headers/x-request-id'
            x-correlation-id:
              $ref: '#/components/headers/x-correlation-id'
            date:
              $ref: '#/components/headers/date'
            x-processing-time:
              $ref: '#/components/headers/x-processing-time'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '401':
          description: 'Authorization errors due to invalid authorization / access token<br> <b>code : message</b> <br> 401-INVLAID_ACCESS-TOKEN : Invalid x-access-token <br> 401-EXPIRED_ACCESS-TOKEN : Expired x-access-token <br> '
          headers:
            x-request-id:
              $ref: '#/components/headers/x-request-id'
            x-correlation-id:
              $ref: '#/components/headers/x-correlation-id'
            date:
              $ref: '#/components/headers/date'
            x-processing-time:
              $ref: '#/components/headers/x-processing-time'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
        '500':
          description: 'Internal server error, Please retry with exponential backup strategies and contact tech support: <br> <b>code : message</b> <br> 500-1000 : tbd <br> 500-1001 : tbd <br>'
          headers:
            x-request-id:
              $ref: '#/components/headers/x-request-id'
            x-correlation-id:
              $ref: '#/components/headers/x-correlation-id'
            date:
              $ref: '#/components/headers/date'
            x-processing-time:
              $ref: '#/components/headers/x-processing-time'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
      security:
        - x-access-token: []
      deprecated: false
  /g2p/mapper/update:
    put:
      tags:
        - 1. Account mapper Linking/Unlinking
      summary: Social protection or Payment Processing/Rails or Banking systems initiated linking info update. Allows update to Account Info or Scheme details
      description: ''
      operationId: put_g2p_mapper_update
      parameters:
        - $ref: '#/paths/~1g2p~1mapper~1link/post/parameters/0'
        - $ref: '#/paths/~1g2p~1mapper~1link/post/parameters/1'
        - $ref: '#/paths/~1g2p~1mapper~1link/post/parameters/2'
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Beneficiary ID to Account link info updates - scheme or account info
              properties:
                locale:
                  $ref: '#/components/schemas/LanguageCode'
                request_id:
                  description: Unique uuid set by social protect sytem while initiating the payment
                  type: string
                request_datetime:
                  description: Payment initiation request data time
                  type: string
                  format: date-time
                  example: '2022-12-04T18:01:07+00:00'
                payment_address:
                  $ref: '#/components/schemas/PaymentAddress'
                account_info:
                  $ref: '#/components/schemas/AccountInfo'
                scheme_codes:
                  $ref: '#/components/schemas/Schemes'
                additional_info:
                  description: 'Additional info for interfacing DPGs platforms to integrate, reconcile, etc., unstructured data'
                  type: string
                  maxLength: 1024
              required:
                - locale
                - request_id
                - request_datetime
                - payment_address
      responses:
        '200':
          $ref: '#/paths/~1g2p~1mapper~1link/post/responses/200'
        '400':
          $ref: '#/paths/~1g2p~1mapper~1link/post/responses/400'
        '401':
          $ref: '#/paths/~1g2p~1mapper~1link/post/responses/401'
        '500':
          $ref: '#/paths/~1g2p~1mapper~1link/post/responses/500'
      security:
        - x-access-token: []
      deprecated: false
  '/g2p/mapper/unlink/payment_address/{payment_address}':
    delete:
      tags:
        - 1. Account mapper Linking/Unlinking
      summary: Social protection or Payment Processing/Rails or Banking systems initiated unlinking
      description: ''
      operationId: delete_g2p_mapper_unlink
      parameters:
        - $ref: '#/paths/~1g2p~1mapper~1link/post/parameters/0'
        - $ref: '#/paths/~1g2p~1mapper~1link/post/parameters/1'
        - $ref: '#/paths/~1g2p~1mapper~1link/post/parameters/2'
        - $ref: '#/paths/~1g2p~1mapper~1resolve~1payment_address~1%7Bpayment_address%7D/get/parameters/3'
      responses:
        '200':
          $ref: '#/paths/~1g2p~1mapper~1link/post/responses/200'
        '400':
          $ref: '#/paths/~1g2p~1mapper~1link/post/responses/400'
        '401':
          $ref: '#/paths/~1g2p~1mapper~1link/post/responses/401'
        '500':
          $ref: '#/paths/~1g2p~1mapper~1link/post/responses/500'
      security:
        - x-access-token: []
      deprecated: false
  '/g2p/mapper/resolve/beneficairy_id/{beneficiary_id}':
    get:
      tags:
        - 2. Account mapper lookups
      summary: Resolve payment address to store of value account provider details.
      description: ''
      operationId: get_g2p_mapper_resolve_beneficiaryid
      parameters:
        - $ref: '#/paths/~1g2p~1mapper~1link/post/parameters/1'
        - in: header
          name: date
          description: 'request timestamp in HTTP Date format - Tue, 06 Mar 2020 21:00:00 GMT'
          required: true
          schema:
            type: string
            example: 'Tue, 06 Mar 2020 21:00:00 GMT'
        - $ref: '#/paths/~1g2p~1mapper~1link/post/parameters/2'
        - in: path
          name: beneficiary_id
          required: true
          description: '<br> 1. Beneficiary id is a normative represenation represented as id@id-provider <br> 2. This will enumerate foundational and functioanl id''s to easily resolvable addressess <br> 3. Few examples: <br> - id@id-provider e.g 12345@mosip, 12345@PhilID <br> - id@civil-registry.issuing-agency e.g 12345@crvs.rwanda, 12345@ejanma.karnataka - id@functional-identifier.issuing-agency e.g 12345@voter.Rwanda, 12345@DL.karnataka, 12345@fruits.karnataka <br> Note: id-provider should be made configurable and DPGs operating should adapt to the local jurisdiction and policies. e.g fruits.karnataka represents farmer registry in karnataka state govt.<br>'
          schema:
            type: string
            format: '^[a-zA-Z0-9.-]+@[a-zA-Z0-9.-]+$'
            example: 12345@mosip
      responses:
        '200':
          description: 'TODO: <br> 1. Should payment_address be included? <br>  2. Should any additiona information be removed from the response?'
          headers:
            x-request-id:
              $ref: '#/components/headers/x-request-id'
            x-correlation-id:
              $ref: '#/components/headers/x-correlation-id'
            date:
              $ref: '#/components/headers/date'
            x-processing-time:
              $ref: '#/components/headers/x-processing-time'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountProviderInfo'
        '400':
          $ref: '#/paths/~1g2p~1mapper~1link/post/responses/400'
        '401':
          $ref: '#/paths/~1g2p~1mapper~1link/post/responses/401'
        '500':
          $ref: '#/paths/~1g2p~1mapper~1link/post/responses/500'
      security:
        - x-access-token: []
      deprecated: false
  '/g2p/mapper/resolve/payment_address/{payment_address}':
    get:
      tags:
        - 2. Account mapper lookups
      summary: Resolve payment address to store of value account details.
      description: ''
      operationId: get_g2p_mapper_resolve_pymtaddr
      parameters:
        - $ref: '#/paths/~1g2p~1mapper~1link/post/parameters/1'
        - $ref: '#/paths/~1g2p~1mapper~1resolve~1beneficairy_id~1%7Bbeneficiary_id%7D/get/parameters/1'
        - $ref: '#/paths/~1g2p~1mapper~1link/post/parameters/2'
        - in: path
          name: payment_address
          required: true
          description: '<br> 1. Payment address is a normative represenation of a financial address represented as account@provider <br> 2. Every payer/payee payment address must be resolved to an actual account number for processing the payment instruction <br> 3. Few examples: <br> - uid@pymt-rail e.g 12345@bsp <br> - uid@id-provider e.g 12345@PhilID <br> - mobile@mobile-provider e.g 12345@m-pesa <br> - account-id@bank-psp-code e.g 12345@gtbank.rwanda <br> - account-no@ifsc-code.ifsc.npci e.g 12345@HDFC0000001.ifsc.npci <br> - user-id@psp-code e.g. joeuser@mypsp <br> - token@psp-code e.g ot123456@mypsp <br> - code@purpose-code.voucher-provider.voucher e.g 12345@food.sodexo.voucher, 12345@medical.xyz.voucher <br> - cdbc-id@cdbc e.g. 12345@DCash'
          schema:
            type: string
            format: '^[a-zA-Z0-9.-]+@[a-zA-Z0-9.-]+$'
            example: 12345@PhilID
      responses:
        '200':
          description: 'TODO: <br> 1. Should payment_address be included? <br>  2. Should any additiona information be removed from the response?'
          headers:
            x-request-id:
              $ref: '#/components/headers/x-request-id'
            x-correlation-id:
              $ref: '#/components/headers/x-correlation-id'
            date:
              $ref: '#/components/headers/date'
            x-processing-time:
              $ref: '#/components/headers/x-processing-time'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountInfo'
        '400':
          $ref: '#/paths/~1g2p~1mapper~1link/post/responses/400'
        '401':
          $ref: '#/paths/~1g2p~1mapper~1link/post/responses/401'
        '500':
          $ref: '#/paths/~1g2p~1mapper~1link/post/responses/500'
      security:
        - x-access-token: []
      deprecated: false
  '/g2p/mapper/status/by/payment_address/{payment_address}':
    get:
      tags:
        - 2. Account mapper lookups
      summary: Get payment disbursement status.
      description: Beneficiary id to account map link status lookup using beneficiary payment address
      operationId: get_g2p_mapper_status_by_pymtaddr
      parameters:
        - $ref: '#/paths/~1g2p~1mapper~1link/post/parameters/1'
        - $ref: '#/paths/~1g2p~1mapper~1resolve~1beneficairy_id~1%7Bbeneficiary_id%7D/get/parameters/1'
        - $ref: '#/paths/~1g2p~1mapper~1link/post/parameters/2'
        - $ref: '#/paths/~1g2p~1mapper~1resolve~1payment_address~1%7Bpayment_address%7D/get/parameters/3'
      responses:
        '200':
          $ref: '#/paths/~1g2p~1mapper~1status~1by~1transaction_id~1%7Btransaction_id%7D/get/responses/200'
        '400':
          $ref: '#/paths/~1g2p~1mapper~1link/post/responses/400'
        '401':
          $ref: '#/paths/~1g2p~1mapper~1link/post/responses/401'
        '500':
          $ref: '#/paths/~1g2p~1mapper~1link/post/responses/500'
      security:
        - x-access-token: []
      deprecated: false
  '/g2p/mapper/status/by/transaction_id/{transaction_id}':
    get:
      tags:
        - 2. Account mapper lookups
      summary: Get payment disbursement status.
      description: Beneficiary id to account map link status lookup using link/unlink request transaction_id
      operationId: get_g2p_mapper_status_by_txnid
      parameters:
        - $ref: '#/paths/~1g2p~1mapper~1link/post/parameters/1'
        - $ref: '#/paths/~1g2p~1mapper~1link/post/parameters/0'
        - $ref: '#/paths/~1g2p~1mapper~1link/post/parameters/2'
        - in: path
          name: transaction_id
          description: transaction id
          required: true
          schema:
            type: string
            example: '123456789020211216223812'
      responses:
        '200':
          description: ''
          headers:
            x-request-id:
              $ref: '#/components/headers/x-request-id'
            x-correlation-id:
              $ref: '#/components/headers/x-correlation-id'
            date:
              $ref: '#/components/headers/date'
            x-processing-time:
              $ref: '#/components/headers/x-processing-time'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Beneficiary2AccountMapStatus'
        '400':
          $ref: '#/paths/~1g2p~1mapper~1link/post/responses/400'
        '401':
          $ref: '#/paths/~1g2p~1mapper~1link/post/responses/401'
        '500':
          $ref: '#/paths/~1g2p~1mapper~1link/post/responses/500'
      security:
        - x-access-token: []
      deprecated: false
components:
  schemas:
    Beneficiary2AccountMap:
      $ref: '#/paths/~1g2p~1mapper~1link/post/requestBody/content/application~1json/schema'
    Beneficiary2AccountMapStatus:
      type: object
      description: Beneficiary ID to Account map linking status
      properties:
        locale:
          $ref: '#/components/schemas/LanguageCode'
        payment_address:
          $ref: '#/components/schemas/PaymentAddress'
        scheme_codes:
          $ref: '#/components/schemas/Schemes'
        linking_status:
          description: 'Linking status definitions: <br> 1. RCVD: Received; linking request received <br> 2. PDNG: Pending; linking request pending <br> 3. RJCT: Rejected; linking request rejected  <br> 4. LNKD: Linked;  linking successful <br> 5. ULKD: Unlinked: unlinking successful <br> 5. UKWN: Unknown; Unknow error <br>'
          type: string
          enum:
            - RCVD
            - PDNG
            - RJCT
            - LNKD
        error_code:
          description: Additional error codes. Countries may enumerate detailed error / reason codes as g2p connect extension
          type: string
        error_message:
          description: Additional error messages. Countries may enumerate detailed error / reason codes as g2p connect extension
          type: string
        additional_info:
          description: 'Additional info for interfacing DPGs platforms to integrate, reconcile, etc., unstructured data.'
          type: string
          maxLength: 1024
      required:
        - locale
        - request_id
        - request_datetime
        - beneficiary_info
        - linking_status
    Beneficiary2AccountMapUpdate:
      $ref: '#/paths/~1g2p~1mapper~1update/put/requestBody/content/application~1json/schema'
    Payment:
      type: object
      description: Describes payment schema that enable transfer from payer to payee accounts. This entity supports immediate and scheduling one time payment request into future. Recurring payments is not part of the scope of this entity.
      properties:
        locale:
          $ref: '#/components/schemas/LanguageCode'
        request_id:
          description: Unique uuid set by social protect sytem while initiating the payment
          type: string
        request_datetime:
          description: Payment initiation request data time
          type: string
          format: date-time
          example: '2022-12-04T18:01:07+00:00'
        scheduled_datetime:
          description: 'For immediate payments, scheduled_datetime can be same as request_datetime'
          type: string
          format: date-time
          example: '2022-12-04T18:01:07+00:00'
        payer:
          $ref: '#/components/schemas/PaymentAddress'
        payee:
          $ref: '#/components/schemas/PaymentAddress'
        amount:
          $ref: '#/components/schemas/Amount'
        currency_code:
          $ref: '#/components/schemas/CurrencyCode'
        info:
          description: Info to payer/payee.
          type: string
          maxLength: 40
        scheme_code:
          description: G2P social protection system defined scheme short code for easy reference
          type: string
          maxLength: 40
        additional_info:
          description: 'Additional info for interfacing DPGs platforms to integrate, reconcile'
          type: string
          maxLength: 1024
      required:
        - locale
        - request_id
        - date
        - payer
        - payee
        - amount
        - currency_code
    PaymentAddress:
      type: string
      description: '<br> 1. Payment address is a normative represenation of a financial address represented as account@provider <br> 2. Every payer/payee payment address must be resolved to an actual account number for processing the payment instruction<br> 3. Few examples: <br> - uid@pymt-rail e.g 12345@bsp <br> - uid@id-provider e.g 12345@PhilID <br> - mobile@mobile-provider e.g 12345@m-pesa <br> - account-id@bank-psp-code e.g 12345@gtbank.rwanda <br> - account-no@ifsc-code.ifsc.npci e.g 12345@HDFC0000001.ifsc.npci <br> - user-id@psp-code e.g. joeuser@mypsp <br> - token@psp-code e.g ot123456@mypsp <br> - code@purpose-code.voucher-provider.voucher e.g 12345@food.sodexo.voucher, 12345@medical.xyz.voucher <br> - cdbc-id@cdbc e.g. 12345@DCash'
      format: '^[a-zA-Z0-9.-]+@[a-zA-Z0-9.-]+$'
      example: 12345@PhilID
    PaymentBatch:
      type: object
      description: Payment list as a collection for bulk processing
      properties:
        header:
          $ref: '#/components/schemas/PaymentBatchHeader'
        payments:
          type: array
          items:
            $ref: '#/components/schemas/Payment'
      required:
        - header
        - payments
    PaymentBatchHeader:
      type: object
      description: Header to manage payment disbursement cycle
      properties:
        batch_id:
          type: string
          description: Unique id to manage payment disbursement cycle
        datetime:
          description: Batch requested date-time
          type: string
          format: date-time
          example: '2022-12-04T18:01:07+00:00'
        total_count:
          description: Total no of payment instructions in the batch request
          type: integer
          example: 20800
      required:
        - batch_id
        - datetime
        - total_count
    PaymentBatchStatus:
      type: object
      description: Payments status list as a collection for bulk processing
      properties:
        header:
          $ref: '#/components/schemas/PaymentBatchStatusHeader'
        payments_status:
          type: array
          items:
            $ref: '#/components/schemas/PaymentStatus'
      required:
        - header
        - payments_status
    PaymentBatchStatusHeader:
      type: object
      description: Batch status header info to provide summary details on payment processing status
      properties:
        batch_id:
          type: string
          description: Unique id to manage payment disbursement cycle
        datetime:
          description: Batch response date-time
          type: string
          format: date-time
          example: '2022-12-04T18:01:07+00:00'
        total_count:
          description: Total no of payment instructions in the batch request
          type: integer
          example: 20800
        inprocess_count:
          description: 'No of payment instructions in process state. Status codes: RCVD, ACSP'
          type: integer
          example: 450
        success_count:
          description: 'Total no of payment instructions successfully processed. Status codes: ACSC, ACCC'
          type: integer
          example: 20300
        reject_count:
          description: 'Total no of payment instructions failed to process. Status codes: RJCT'
          type: integer
          example: 50
        error:
          $ref: '#/components/schemas/PaymentStatusError'
      required:
        - batch_id
        - datetime
        - total_count
        - inprocess_count
        - success_count
        - reject_count
    PaymentFile:
      type: object
      description: Payment disbursement file for bulk processing of Payment entity in csv format
      properties:
        batch_id:
          type: string
          description: Unique id to manage payment disbursement cycle
        datetime:
          description: Batch requested date-time
          type: string
          format: date-time
          example: '2022-12-04T18:01:07+00:00'
        total_count:
          description: Total no of payment instructions in the batch request
          type: integer
          example: 20800
        fileName:
          description: payment instruction file representing Payment entity in csv format as *.txt file
          type: string
          format: binary
      required:
        - batch_id
        - datetime
        - total_count
        - fileName
    PaymentStatus:
      type: object
      description: Payment disbursement status for reconciliation at social protection system end
      properties:
        locale:
          $ref: '#/components/schemas/LanguageCode'
        reference_code:
          description: Unique uuid set by payment sytem while processing the payment
          type: string
        request_id:
          description: Unique uuid set by social protect sytem while initiating the payment
          type: string
        datetime:
          description: Payment status as on date-time
          type: string
          format: date-time
          example: '2022-12-04T18:01:07+00:00'
        payer:
          $ref: '#/components/schemas/PaymentAddress'
        payee:
          $ref: '#/components/schemas/PaymentAddress'
        amount:
          $ref: '#/components/schemas/Amount'
        currency_code:
          $ref: '#/components/schemas/CurrencyCode'
        status:
          description: 'Status definitions: <br> 1. RCVD: Received; payment received <br> 2. PDNG: Pending; payment initiated <br> 3. RJCT: Rejected; payment initiated and has been rejected  <br> 4. ACSP: AcceptedSettlementInProcess; All preceding checks such as technical validation and customer profile are successful. Paymnet has been accepted for execution <br> 5. ACSC: AcceptedSettlementCompleted; Settlement on the Debtor''s account has been completed <br> 6. ACCC: AcceptedCreditSettlementCompleted; Settlement on the Creditor''s account has been completed'
          type: string
          enum:
            - RCVD
            - PDNG
            - RJCT
            - ACSP
            - ACSC
            - ACCC
        error:
          $ref: '#/components/schemas/PaymentStatusError'
        additional_info:
          description: 'Additional info for interfacing DPGs platforms to integrate, reconcile, etc., unstructured data.'
          type: string
          maxLength: 1024
      required:
        - locale
        - reference_code
        - request_id
        - datetime
        - payer
        - payee
        - amount
        - currency_code
        - status
    PaymentStatusError:
      type: object
      description: 'Payment status error code, message to track at individual payment instruction or at batch status header level'
      properties:
        code:
          description: 'Additional error codes. TODO: enumurate detailed error codes!'
          type: string
          enum:
            - '1000'
            - '2000'
            - '3000'
            - '4000'
            - '5000'
            - '6000'
            - '7000'
            - '8000'
            - '9000'
        message:
          description: Additional error messages
          type: string
          enum:
            - '1000: Payment request entity errors'
            - '2000: Payment address resolution errors of payer/payee'
            - '3000: Payment processing related errors on payer side'
            - '4000: Payment processing related errors on payee side'
            - '5000: Reserved for future use'
            - '6000: Reserved for future use'
            - '7000: Reserved for future use'
            - '8000: Reserved for future use'
            - '9000: Technical errors'
      required:
        - code
        - message
    PaymentStatusFile:
      type: object
      description: Payment disbursement status for reconciliation at social protection system end representing PaymentStatus entity in csv file format
      properties:
        batch_id:
          type: string
          description: Unique id to manage payment disbursement cycle
        datetime:
          description: Batch response date-time
          type: string
          format: date-time
          example: '2022-12-04T18:01:07+00:00'
        total_count:
          description: Total no of payment instructions in the batch request
          type: integer
          example: 20800
        inprocess_count:
          description: 'No of payment instructions in process state. Status codes: RCVD, ACSP'
          type: integer
          example: 450
        success_count:
          description: 'Total no of payment instructions successfully processed. Status codes: ACSC, ACCC'
          type: integer
          example: 20300
        reject_count:
          description: 'Total no of payment instructions failed to process. Status codes: RJCT'
          type: integer
          example: 50
        fileName:
          description: payment disbursement status file representing PaymentStatus entity in csv format as *.txt file
          type: string
          format: binary
      required:
        - batch_id
        - datetime
        - total_count
        - inprocess_count
        - success_count
        - reject_count
        - fileName
    Amount:
      type: string
      description: Describes amount in decimal value format
      pattern: '^\d{1,13}\.\d{1,2}$'
    AccountInfo:
      type: object
      description: Beneficiary store of value account info
      properties:
        name:
          $ref: '#/components/schemas/BeneficiaryName'
        contact_info:
          $ref: '#/components/schemas/BeneficiaryContact'
        account_info:
          type: object
          properties:
            type:
              type: string
              description: 'store of  value account type. e.g savings, checking, pre-paid, voucher, mobile-wallet, etc.,'
              example: savings
            number:
              type: string
              description: store of value account number
              example: '12345'
            privider_info:
              $ref: '#/components/schemas/AccountProviderInfo'
            additional_info:
              description: 'Additional info, if any'
              type: string
              maxLength: 1024
          required:
            - type
            - number
            - provider_info
      required:
        - name
        - contact_info
        - account_info
    AccountProviderInfo:
      type: object
      description: Store of value account provider info
      properties:
        name:
          type: string
          description: 'entity name like bank name, prepaid card/voucher issuing system, etc.,'
          example: GT Bank Rawanda
        code:
          type: string
          description: 'code to identify the entity like bank, prepaid card/voucher issuing system, etc.,'
          example: GTBIRWRKXXX
        subcode:
          type: string
          description: 'sub code like entity''s branch code, etc.,'
        additional_info:
          description: 'Additional info, if any'
          type: string
          maxLength: 1024
      required:
        - name
        - code
    Beneficiary:
      type: object
      description: Beneficiary indentity info
      properties:
        name:
          $ref: '#/components/schemas/BeneficiaryName'
        contact_info:
          $ref: '#/components/schemas/BeneficiaryContact'
        identity_info:
          $ref: '#/components/schemas/BeneficiaryId'
      required:
        - name
    BeneficiaryContact:
      type: object
      description: Beneficiary contact details
      properties:
        mobile_number:
          type: string
        email_address:
          type: string
        address:
          type: string
    BeneficiaryId:
      type: object
      description: Beneficiary identity info - foundational or functioanl id's
      properties:
        id_type:
          description: 'Identifier type or system to identify the beneficiary. Each country may enumerate the list as master data as an extension to g2p specifications. <br> examples: national_ids like PhilID, Aadhaar, SmartId, etc., or funcational_ids like voter_id, driving_license, tax_identification_no, etc.,'
          type: string
          example: PhilID
        id:
          description: Unique identifier number of the beneficairy
          type: string
          example: '1234567890'
        issue_date:
          description: Date of issue of ID
          type: string
          format: date-time
        expire_date:
          description: Date of expire of ID
          type: string
          format: date-time
        issuing_agency:
          description: ID issuing agency name. Each country may enumerate this list as master data as an extension to g2p specifications.
          type: string
        additional_info:
          description: 'Additional info, if any'
          type: string
          maxLength: 1024
    BeneficiaryName:
      type: object
      description: Beneficiary Name
      properties:
        name:
          type: object
          properties:
            first_name:
              type: string
            middle_name:
              type: string
            last_name:
              type: string
          required:
            - first_name
            - last_name
    CurrencyCode:
      description: <br> 1. Currency code allocated as per ISO 4217 format.<br> 2. Codes for the representation of currencies and funds.
      type: string
      pattern: '^[A-Z]{3,3}$'
      example: SLL
    ErrorResponse:
      type: object
      description: ''
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
      required:
        - code
        - message
    ErrorsResponse:
      type: object
      description: ''
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponse'
    LanguageCode:
      description: indicates language code. G2P Connect supports country codes as per ISO 639.3 standard
      type: string
      pattern: '^[a-z]{3,3}$'
      example: kri
    Schemes:
      description: G2P social protection system defined scheme codes. Countries may extend g2p specification to enumurate scehmes as master data
      items:
        type: string
        maxLength: 40
      example:
        - farmer_subsidy
        - earth_quake_2023_02_0001
    TransactionId:
      description: ''
      type: object
      properties:
        transaction_id:
          type: string
          minLength: 0
          maxLength: 40
          example: '123456789020211216223812'
    OAuth2ClientToken:
      type: object
      properties:
        access_token:
          description: Clients to share access_token in x-api-token HTTP header.
          type: string
          example: 2YotnFZFEjr1zCsicMWpAA
        token_type:
          description: ''
          type: string
          example: bearer
        expires_in:
          description: 'The lifetime in seconds of the access token.  <br> 1. For example, the value "3600" denotes that the access token will expire in one hour from the time the response was generated. <br> 2. If omitted, the authorization server SHOULD provide the expiration time via other means or document the default value.'
          type: string
          example: '36000'
      required:
        - access_token
        - token_type
      description: ''
    OAuth2ClientTokenRequest:
      type: object
      properties:
        grant_type:
          type: string
          description: Value must be set to client_credentials
          example: client_credentials
        client_id:
          type: string
          description: The client identifier issued to the client during the registration process described by RFC 6749 Section 2.2.
          example: '1001'
        client_secret:
          type: string
          description: client secret shared to clients as part of client registration process or regualar rotation of client_secret.
          example: 7Fjfp0ZBr1KtDRbnfVdmIw
        scope:
          $ref: '#/components/schemas/OidcScope'
      required:
        - grant_type
        - client_id
        - client_secret
      description: Request entity to obtain access token using gant_type = client_credential
    OidcScope:
      type: string
      description: 'Space delimited scopes requested or issued by an authorization service for OAuth2 client, OIDC complaint auth tokens. <br><br> <b>This is an indicative list... </b> <br> 1. payment-disburse <br> 2. paymnet-status <br> 3. id-account-link <br> 4. id-account-status'
      items:
        enum:
          - payment-disburse
          - payment-status
          - id-account-link
          - id-account-status
          - <etc>
      example:
        - payment-disburse
        - paymnet-status
        - id-account-link
        - id-account-status
  responses:
    200SuccessResponse:
      $ref: '#/paths/~1g2p~1mapper~1link/post/responses/200'
    400ErrorResponse:
      description: 'Syntactic errors <br> <b>code : message</b> <br> 400-1000 : tbd <br> 400-1001: tbd <br>'
      headers:
        x-request-id:
          $ref: '#/components/headers/x-request-id'
        x-correlation-id:
          $ref: '#/components/headers/x-correlation-id'
        date:
          $ref: '#/components/headers/date'
        x-processing-time:
          $ref: '#/components/headers/x-processing-time'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsResponse'
    401ErrorResponse:
      $ref: '#/paths/~1g2p~1mapper~1link/post/responses/401'
    500ErrorResponse:
      $ref: '#/paths/~1g2p~1mapper~1link/post/responses/500'
    200SuccessOAuth2ClientTokenResponse:
      description: ''
      headers:
        x-request-id:
          $ref: '#/components/headers/x-request-id'
        x-correlation-id:
          $ref: '#/components/headers/x-correlation-id'
        date:
          $ref: '#/components/headers/date'
        x-processing-time:
          $ref: '#/components/headers/x-processing-time'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OAuth2ClientToken'
    200AccountInfoResponse:
      $ref: '#/paths/~1g2p~1mapper~1resolve~1payment_address~1%7Bpayment_address%7D/get/responses/200'
    200LinkingStatusResponse:
      $ref: '#/paths/~1g2p~1mapper~1status~1by~1transaction_id~1%7Btransaction_id%7D/get/responses/200'
    400AccountMapperErrorResponse:
      $ref: '#/paths/~1g2p~1mapper~1link/post/responses/400'
  headers:
    cache-control-nostore:
      schema:
        type: string
        enum:
          - no-store
        example: no-store
      required: true
    cache-control-private:
      schema:
        type: string
        enum:
          - private
        example: private
      required: true
    date:
      schema:
        type: string
        example: 'Tue, 06 Mar 2020 21:00:00 GMT'
      description: HTTP header format
      required: true
    pragma:
      schema:
        type: string
        example: no-cache
      required: true
    x-correlation-id:
      schema:
        type: string
        example: f16115fa-6c4a-4a8a-9856-08ea467f131b
      description: 'unique correlation id for each request '
    x-processing-time:
      schema:
        type: string
        example: 12
      description: api process time in ms
    x-request-id:
      schema:
        type: string
        example: 18f484bd-3321-4754-b95e-8abed0c97b5d
      description: echo back from request
  parameters:
    accept-language:
      $ref: '#/paths/~1g2p~1mapper~1link/post/parameters/2'
    beneficiary_id:
      $ref: '#/paths/~1g2p~1mapper~1resolve~1beneficairy_id~1%7Bbeneficiary_id%7D/get/parameters/3'
    date:
      $ref: '#/paths/~1g2p~1mapper~1link/post/parameters/0'
    payment_address:
      $ref: '#/paths/~1g2p~1mapper~1resolve~1payment_address~1%7Bpayment_address%7D/get/parameters/3'
    transaction_id:
      $ref: '#/paths/~1g2p~1mapper~1status~1by~1transaction_id~1%7Btransaction_id%7D/get/parameters/3'
    x-request-id:
      $ref: '#/paths/~1g2p~1mapper~1link/post/parameters/1'
  securitySchemes:
    x-access-token:
      type: http
      scheme: bearer
      bearerFormat: jwt
      description: Authenticating using sessiong token issued by platfrom/system api gateway or auth services issuing session token apis using client id & secret
