openapi: 3.0.0
info:
  title: ID Mapper
  description: 'Discussions <a href= "https://github.com/G2P-Connect/.github/discussions/16">thread</a> <br><br> Manage ID to Financial Address mapper registry'
  version: 0.1.0
  contact:
    name: G2P Connect
    email: info@g2pconnect.global
  license:
    name: G2P Connect License
    url: 'https://github.com/G2P-Connect/specs/blob/main/LICENSE'
servers:
  - url: 'https://sandbox.dpg.org/v0.1.0'
    description: Sandbox Server
paths:
  /mapper/link:
    post:
      summary: 'FAMAP-001 : /mapper/link'
      description: Linking ID to Financial Address in the mapper registry
      operationId: post_g2p_mapper_link
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgReqHeader'
                    - properties:
                        action:
                          enum:
                            - link
                message:
                  type: object
                  properties:
                    transaction_id:
                      $ref: '#/components/schemas/TransactionId'
                    link:
                      type: array
                      items:
                        $ref: '#/components/schemas/LinkRequest'
              required:
                - header
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - link
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /mapper/on-link:
    post:
      summary: 'FAMAP-002 : /mapper/on-link'
      description: Linking id to fa response through callback end point
      operationId: post_g2p_mapper_on-link
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgReqHeader'
                    - properties:
                        action:
                          enum:
                            - on-link
                message:
                  type: object
                  properties:
                    transaction_id:
                      $ref: '#/components/schemas/TransactionId'
                    link-response:
                      type: array
                      items:
                        $ref: '#/components/schemas/LinkResponse'
              required:
                - header
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - on-link
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /mapper/update:
    post:
      summary: "FAMAP-003\t: /mapper/update"
      description: Updating fa or scheme details to mapper registry
      operationId: put_g2p_mapper_update
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgReqHeader'
                    - properties:
                        action:
                          enum:
                            - update
                message:
                  type: object
                  properties:
                    transaction_id:
                      $ref: '#/components/schemas/TransactionId'
                    update:
                      type: array
                      items:
                        $ref: '#/components/schemas/UpdateRequest'
              required:
                - header
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - update
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /mapper/on-update:
    post:
      summary: "FAMAP-004\t: /mapper/on-update"
      description: Update response through callback end point
      operationId: put_g2p_mapper_on-update
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgReqHeader'
                    - properties:
                        action:
                          enum:
                            - on-update
                message:
                  type: object
                  properties:
                    transaction_id:
                      $ref: '#/components/schemas/TransactionId'
                    update-response:
                      type: array
                      items:
                        $ref: '#/components/schemas/UpdateResponse'
              required:
                - header
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - on-update
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /mapper/unlink:
    post:
      summary: 'FAMAP-005 : /mapper/unlink'
      description: Unlinking id from mapper registry
      operationId: post_g2p_mapper_unlink
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgReqHeader'
                    - properties:
                        action:
                          enum:
                            - unlink
                message:
                  type: object
                  properties:
                    transaction_id:
                      $ref: '#/components/schemas/TransactionId'
                    unlink:
                      type: array
                      items:
                        $ref: '#/components/schemas/UnlinkRequest'
              required:
                - header
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - unlink
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /mapper/on-unlink:
    post:
      summary: 'FAMAP-006 : /mapper/on-unlink'
      description: Unlinking response through callback end point
      operationId: post_g2p_mapper_on-unlink
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgReqHeader'
                    - properties:
                        action:
                          enum:
                            - on-unlink
                message:
                  type: object
                  properties:
                    transaction_id:
                      $ref: '#/components/schemas/TransactionId'
                    unlink-response:
                      type: array
                      items:
                        $ref: '#/components/schemas/UnlinkResponse'
              required:
                - header
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - on-unlink
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /mapper/resolve:
    post:
      summary: 'FAMAP-007 : /mapper/resolve'
      description: Resolve fa / beneficiary id to a store of value
      operationId: post_g2p_mapper_resolve
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgReqHeader'
                    - properties:
                        action:
                          enum:
                            - resolve
                message:
                  type: object
                  properties:
                    transaction_id:
                      $ref: '#/components/schemas/TransactionId'
                    resolve:
                      type: array
                      items:
                        $ref: '#/components/schemas/ResolveRequest'
              required:
                - header
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - resolve
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /mapper/on-resolve:
    post:
      summary: 'FAMAP-008 : /mapper/on-resolve'
      description: Resolve response through callback end point
      operationId: post_g2p_mapper_on-resolve
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgReqHeader'
                    - properties:
                        action:
                          enum:
                            - on-resolve
                message:
                  type: object
                  properties:
                    transaction_id:
                      $ref: '#/components/schemas/TransactionId'
                    resolve-response:
                      type: array
                      items:
                        $ref: '#/components/schemas/ResolveResponse'
              required:
                - header
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - on-resolve
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /mapper/status:
    post:
      summary: 'FAMAP-009 : /mapper/status'
      description: Status check of any of the mapper actions using transaction_id or individual reference_id(s)
      operationId: post_g2p_mapper_status
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgReqHeader'
                    - properties:
                        action:
                          enum:
                            - link
                            - update
                            - resolve
                            - unlink
                message:
                  type: object
                  properties:
                    transaction_id:
                      $ref: '#/components/schemas/TransactionId'
                    status:
                      type: array
                      items:
                        oneOf:
                          - $ref: '#/components/schemas/LinkRequest'
                          - $ref: '#/components/schemas/ResolveRequest'
                          - $ref: '#/components/schemas/UpdateRequest'
                          - $ref: '#/components/schemas/UnlinkRequest'
                      example:
                        status:
                          reference_id: test
                          timestamp: test
                          beneficiary_info: test
                          account_info: test
              required:
                - header
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - status
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /mapper/on-status:
    post:
      summary: 'FAMAP-010 : /mapper/on-status'
      description: Status check response through callback end point
      operationId: post_g2p_mapper_on-status
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgReqHeader'
                    - properties:
                        action:
                          enum:
                            - on-link
                            - on-update
                            - on-resolve
                            - on-unlink
                message:
                  type: object
                  properties:
                    transaction_id:
                      $ref: '#/components/schemas/TransactionId'
                    status-response:
                      $ref: '#/components/schemas/StatusResponse'
              required:
                - header
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - on-status
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
components:
  schemas:
    LinkRequest:
      type: object
      description: Beneficiary ID to Store of value account linking request
      properties:
        reference_id:
          $ref: '#/components/schemas/ReferenceId'
        timestamp:
          $ref: '#/components/schemas/Timestamp'
        beneficiary_info:
          $ref: '#/components/schemas/Beneficiary'
        account_info:
          $ref: '#/components/schemas/AccountInfo'
        additional_info:
          description: 'Additional info for interfacing DPGs platforms to integrate, reconcile, etc., unstructured data'
          type: string
          maxLength: 999
        locale:
          $ref: '#/components/schemas/LanguageCode'
      required:
        - reference_id
        - timestamp
        - beneficiary_info
        - account_info
    LinkResponse:
      type: object
      description: Beneficiary ID to Store of value account linking response
      properties:
        reference_id:
          $ref: '#/components/schemas/ReferenceId'
        timestamp:
          $ref: '#/components/schemas/Timestamp'
        fa:
          $ref: '#/components/schemas/FinancialAddress'
        status:
          $ref: '#/components/schemas/RequestStatus'
        status_reason_code:
          $ref: '#/components/schemas/LinkStatusReasonCode'
        status_reason_message:
          description: Status reascon code message. Helps actionanble messaging for systems/end users
          type: string
          maxLength: 999
        additional_info:
          description: 'Additional info for interfacing DPGs platforms to integrate, reconcile, etc., unstructured data.'
          type: string
          maxLength: 999
        locale:
          $ref: '#/components/schemas/LanguageCode'
      required:
        - reference_id
        - timestamp
        - status
    LinkStatusReasonCode:
      type: string
      description: 'FA map link status reason code with reason message: <br> - RJCT_INVALID_TIMESTAMP; Timestamp is invalid <br> - RJCT_INVALID_BENEFICIARY_NAME; Beneficiary name is invalid <br> - RJCT_DUPLICATE_REFERENCE_ID; Duplicate reference id <br> - UKWN_NOT_FOUND_REFERENCE_ID; Reference id not found <br> - UKWN_NOT_FOUND_TRANSACTION_ID; Transaction id not found <br> - etc.,'
      enum:
        - RJCT_INVALID_TIMESTAMP
        - RJCT_INVALID_BENEFICIARY_NAME
        - RJCT_DUPLICATE_REFERENCE_ID
        - UKWN_NOT_FOUND_REFERENCE_ID
        - UKWN_NOT_FOUND_TRANSACTION_ID
    UnlinkStatusReasonCode:
      type: string
      description: 'FA map link status reason code with reason message: <br> - RJCT_TIMESTAMP_INVALID; Timestamp is invalid <br> - RJCT_BENEFICIARY_NAME_INVALID; Beneficiary name is invalid <br> - RJCT_REFERENCE_ID_DUPLICATE; Duplicate reference id <br> - UKWN_REFERENCE_ID_NOT_FOUND; Reference id not found <br> - UKWN_TRANSACTION_ID_NOT_FOUND; Transaction id not found <br> - etc.,'
      enum:
        - RJCT_TIMESTAMP_INVALID
        - RJCT_BENEFICIARY_NAME_INVALID
        - RJCT_REFERENCE_ID_DUPLICATE
        - UKWN_REFERENCE_ID_NOT_FOUND
        - UKWN_TRANSACTION_ID_NOT_FOUND
    ResolveRequest:
      type: object
      description: Resolve financial address to store of value account info
      properties:
        reference_id:
          $ref: '#/components/schemas/ReferenceId'
        timestamp:
          $ref: '#/components/schemas/Timestamp'
        resolve_type:
          description: Enumerated options for various resolution options
          type: string
          enum:
            - FA_TO_ACCOUNT_PROVIDER_INFO
            - FA_TO_ACCOUNT_INFO
            - FA_TO_BENEFICIARY_ID
            - BENEFICIARY_ID_TO_FA
            - BENEFICIARY_ID_TO_ACCOUNT_PROVIDER_INFO
            - BENEFICIARY_ID_TO_ACCOUNT_INFO
        fa:
          $ref: '#/components/schemas/FinancialAddress'
        beneficiary_id:
          $ref: '#/components/schemas/BeneficiaryId'
        additional_info:
          description: 'Additional info for interfacing DPGs platforms to integrate, reconcile, etc., unstructured data'
          type: string
          maxLength: 999
        locale:
          $ref: '#/components/schemas/LanguageCode'
      required:
        - reference_id
        - timestamp
        - resolve_type
    ResolveResponse:
      type: object
      description: Resolve financial address to store of value account info response
      properties:
        reference_id:
          $ref: '#/components/schemas/ReferenceId'
        timestamp:
          $ref: '#/components/schemas/Timestamp'
        fa:
          $ref: '#/components/schemas/FinancialAddress'
        beneficiary_id:
          $ref: '#/components/schemas/BeneficiaryId'
        account_provider_info:
          $ref: '#/components/schemas/AccountProviderInfo'
        account_info:
          $ref: '#/components/schemas/AccountInfo'
        status:
          $ref: '#/components/schemas/RequestStatus'
        status_reason_code:
          $ref: '#/components/schemas/ResolveStatusReasonCode'
        status_reason_message:
          description: Status reascon code message. Helps actionanble messaging for systems/end users
          type: string
          maxLength: 999
        additional_info:
          description: 'Additional info for interfacing DPGs platforms to integrate, reconcile, etc., unstructured data.'
          type: string
          maxLength: 999
        locale:
          $ref: '#/components/schemas/LanguageCode'
      required:
        - reference_id
        - timestamp
        - status
    ResolveStatusReasonCode:
      type: string
      description: 'FA map resolve status reason code with reason message: <br> - RJCT_TIMESTAMP_INVALID; Timestamp is invalid <br> - RJCT_BENEFICIARY_NAME_INVALID; Beneficiary name is invalid <br> - RJCT_DUPLICATE_REFERENCE_ID; Duplicate reference id <br> - RJCT_RESOLVE_TYPE_NOT_SUPPORTED; Resolve type not supported <br> - UKWN_REFERENCE_ID_NOT_FOUND; Reference id not found <br> - UKWN_TRANSACTION_ID_NOT_FOUND; Transaction id not found <br> - etc.,'
      enum:
        - RJCT_TIMESTAMP_INVALID
        - RJCT_BENEFICIARY_NAME_INVALID
        - RJCT_DUPLICATE_REFERENCE_ID
        - RJCT_RESOLVE_TYPE_NOT_SUPPORTED
        - UKWN_REFERENCE_ID_NOT_FOUND
        - UKWN_TRANSACTION_ID_NOT_FOUND
    StatusRequest:
      type: object
      description: Request to get latest linking status
      properties:
        reference_id:
          $ref: '#/components/schemas/ReferenceId'
        timestamp:
          $ref: '#/components/schemas/Timestamp'
        beneficiary_info:
          $ref: '#/components/schemas/Beneficiary'
        account_info:
          $ref: '#/components/schemas/AccountInfo'
        additional_info:
          description: 'Additional info for interfacing DPGs platforms to integrate, reconcile, etc., unstructured data'
          type: string
          maxLength: 999
        locale:
          $ref: '#/components/schemas/LanguageCode'
      required:
        - reference_id
        - timestamp
        - beneficiary_info
        - account_info
    StatusResponse:
      type: array
      items:
        oneOf:
          - $ref: '#/components/schemas/LinkResponse'
          - $ref: '#/components/schemas/ResolveResponse'
          - $ref: '#/components/schemas/UpdateResponse'
          - $ref: '#/components/schemas/UnlinkResponse'
      example:
        status-response:
          reference_id: test
          timestamp: test
          fa: test
          status: SUCC
    UnlinkRequest:
      type: object
      description: Beneficiary ID to Store of value account linking request
      properties:
        reference_id:
          $ref: '#/components/schemas/ReferenceId'
        timestamp:
          $ref: '#/components/schemas/Timestamp'
        fa:
          $ref: '#/components/schemas/FinancialAddress'
        additional_info:
          description: 'Additional info for interfacing DPGs platforms to integrate, reconcile, etc., unstructured data'
          type: string
          maxLength: 999
        locale:
          $ref: '#/components/schemas/LanguageCode'
      required:
        - reference_id
        - timestamp
        - fa
    UnlinkResponse:
      type: object
      description: Beneficiary ID to Store of value account linking response
      properties:
        reference_id:
          $ref: '#/components/schemas/ReferenceId'
        timestamp:
          $ref: '#/components/schemas/Timestamp'
        status:
          $ref: '#/components/schemas/RequestStatus'
        status_reason_code:
          $ref: '#/components/schemas/UnlinkStatusReasonCode'
        status_reason_message:
          description: 'Status reascon code message, if any, Helps actionanble messaging for systems/end users'
          type: string
          maxLength: 999
        fa:
          $ref: '#/components/schemas/FinancialAddress'
        additional_info:
          description: 'Additional info for interfacing DPGs platforms to integrate, reconcile, etc., unstructured data.'
          type: string
          maxLength: 999
        locale:
          $ref: '#/components/schemas/LanguageCode'
      required:
        - reference_id
        - timestamp
        - status
    UpdateRequest:
      type: object
      description: Beneficiary ID to Store of value account link info updates
      properties:
        reference_id:
          $ref: '#/components/schemas/ReferenceId'
        timestamp:
          $ref: '#/components/schemas/Timestamp'
        fa:
          $ref: '#/components/schemas/FinancialAddress'
        account_info:
          $ref: '#/components/schemas/AccountInfo'
        additional_info:
          description: 'Additional info for interfacing DPGs platforms to integrate, reconcile, etc., unstructured data'
          type: string
          maxLength: 999
        locale:
          $ref: '#/components/schemas/LanguageCode'
      required:
        - reference_id
        - timestamp
        - fa
    UpdateResponse:
      type: object
      description: Beneficiary ID to Store of value account link info updates response
      properties:
        reference_id:
          $ref: '#/components/schemas/ReferenceId'
        timestamp:
          $ref: '#/components/schemas/Timestamp'
        fa:
          $ref: '#/components/schemas/FinancialAddress'
        status:
          $ref: '#/components/schemas/RequestStatus'
        status_reason_code:
          $ref: '#/components/schemas/UpdateStatusReasonCode'
        status_reason_message:
          description: 'Status reascon code message, if any, Helps actionanble messaging for systems/end users'
          type: string
          maxLength: 999
        additional_info:
          description: 'Additional info for interfacing DPGs platforms to integrate, reconcile, etc., unstructured data'
          type: string
          maxLength: 999
        locale:
          $ref: '#/components/schemas/LanguageCode'
      required:
        - reference_id
        - timestamp
        - fa
        - status
    UpdateStatusReasonCode:
      type: string
      description: 'FA map update status reason code with reason message: <br> - RJCT_TIMESTAMP_INVALID; Timestamp is invalid <br> - RJCT_FA_INVALID; Financial Address is invalid <br> - RJCT_BENEFICIARY_NAME_INVALID; Beneficiary name is invalid <br> - RJCT_REFERENCE_ID_DUPLICATE; Duplicate reference id <br> - UKWN_REFERENCE_ID_NOT_FOUND; Reference id not found <br> - UKWN_TRANSACTION_ID_NOT_FOUND; Transaction id not found <br> - etc.,'
      enum:
        - RJCT_TIMESTAMP_INVALID
        - RJCT_FA_INVALID
        - RJCT_BENEFICIARY_NAME_INVALID
        - RJCT_REFERENCE_ID_DUPLICATE
        - UKWN_REFERENCE_ID_NOT_FOUND
        - UKWN_TRANSACTION_ID_NOT_FOUND
    AccountInfo:
      type: object
      description: Beneficiary store of value account info
      properties:
        name:
          type: object
          description: Beneficiary name
          properties:
            first_name:
              type: string
            middle_name:
              type: string
            last_name:
              type: string
          required:
            - first_name
        contact_info:
          type: object
          description: Beneficiary contact details
          properties:
            phone:
              type: string
            mobile_number:
              type: string
            alt_mobile_number:
              type: string
            email_address:
              type: string
            alt_email_address:
              type: string
            address:
              type: object
              properties:
                address_line_1:
                  type: string
                address_line_2:
                  type: string
                address_line_3:
                  type: string
                city:
                  type: string
                state_or_province:
                  type: string
                country_or_region:
                  type: string
                zip_or_postal_code:
                  type: string
        account_info:
          type: object
          properties:
            type:
              type: string
              description: 'store of  value account type. e.g savings, checking, pre-paid, voucher, mobile-wallet, etc.,'
              example: savings
            number:
              type: string
              description: store of value account number
              example: '12345'
            provider_info:
              $ref: '#/components/schemas/AccountProviderInfo'
            additional_info:
              description: 'Additional info, if any'
              type: string
              maxLength: 1024
          required:
            - type
            - number
            - provider_info
      required:
        - name
        - contact_info
        - account_info
    AccountProviderInfo:
      type: object
      description: Store of value account provider info
      properties:
        name:
          type: string
          description: 'entity name like bank name, prepaid card/voucher issuing system, etc.,'
          example: GT Bank Rawanda
        code:
          type: string
          description: 'code to identify the entity like bank, prepaid card/voucher issuing system, etc.,'
          example: GTBIRWRKXXX
        subcode:
          type: string
          description: 'sub code like entity''s branch code, etc.,'
        additional_info:
          description: 'Additional info, if any'
          type: string
          maxLength: 1024
      required:
        - name
        - code
    Ack:
      description: 'Acknowledgement sent in response to an API call. If the implementation uses HTTP/S, then Ack must be returned in the same session. If receiver intends to respond with a callback, status must be set ACK otherwise NACK'
      type: object
      properties:
        status:
          type: string
          description: 'The status of the acknowledgement.<br> 1. If the request passes the validation criteria of the receiver, then this is set to ACK. <br> 2. If a receiver responds with status = `ACK` to a request, it is required to respond with a callback. <br> 3. If the request fails the validation criteria, then this is set to NACK. <br> 4. Additionally, if a receiver does not intend to respond with a callback even after the request meets the validation criteria, it should set this value to `NACK`. '
          enum:
            - ACK
            - NACK
    Beneficiary:
      type: object
      description: Beneficiary indentity info
      properties:
        name:
          $ref: '#/components/schemas/AccountInfo/properties/name'
        contact_info:
          $ref: '#/components/schemas/AccountInfo/properties/contact_info'
        identity_info:
          type: object
          description: Beneficiary identity info - foundational or functioanl id's
          properties:
            id_type:
              description: 'Identifier type or system to identify the beneficiary. Each country may enumerate the list as master data as an extension to g2p specifications. <br> examples: national_ids like PhilID, Aadhaar, SmartId, etc., or funcational_ids like voter_id, driving_license, tax_identification_no, etc.,'
              type: string
              example: PhilID
            id:
              description: Unique identifier number of the beneficairy
              type: string
              example: '1234567890'
            issue_date:
              description: Date of issue of ID
              type: string
              format: date-time
            expire_date:
              description: Date of expire of ID
              type: string
              format: date-time
            issuing_agency:
              description: ID issuing agency name. Each country may enumerate this list as master data as an extension to g2p specifications.
              type: string
            additional_info:
              description: 'Additional info, if any'
              type: string
              maxLength: 1024
          required:
            - id_type
            - id
      required:
        - name
    BeneficiaryId:
      type: string
      description: '<br> 1. Beneficiary id is a normative represenation represented as id@id-provider <br> 2. This will enumerate foundational and functioanl id''s to easily resolvable addressess <br> 3. Few examples: <br> - id@id-provider e.g 12345@mosip, 12345@PhilID <br> - id@civil-registry.issuing-agency e.g 12345@crvs.rwanda, 12345@ejanma.karnataka <br> - id@functional-identifier.issuing-agency e.g 12345@voter.Rwanda, 12345@DL.karnataka, 12345@fruits.karnataka <br> Note: id-provider should be made configurable and DPGs operating should adapt to the local jurisdiction and policies. e.g fruits.karnataka represents farmer registry in karnataka state govt.<br>'
      format: '^[a-zA-Z0-9.-]+@[a-zA-Z0-9.-]+$'
      example: 12345@mosip
    Error:
      description: 'Describes an error object that is returned to standard post call request. <br> 1. This object shall be sent when any request received by a participant is not parsable and valid. <br> 2. This object may be used for all transport mechanism to acknowledge the receipt of a message i.e HTTPS, FTP, Messaging etc., <br>'
      type: object
      properties:
        code:
          type: string
          description: Standard error code
          enum:
            - ERR_ACCESS_DENIED
            - ERR_INVALID_REQUEST
            - ERR_INVALID_SENDER
            - ERR_INVALID_SENDER_URI
            - ERR_INVALID_RECEIVER
            - ERR_INVALID_RECEIVER_URI
            - ERR_MANDATORY_HEADER_MISSING
            - ERR_INVALID_MESSAGE_ID
            - ERR_INVALID_TIMESTAMP
            - ERR_INVALID_ACTION
            - ERR_INVALID_SIGNATURE
            - ERR_INVALID_ENCRYPTION
            - ERR_INVALID_MESSAGE
            - ERR_SERVICE_UNAVAILABLE
        message:
          type: string
          description: message to describe above error code
          maxLength: 999
    FileInfo:
      type: object
      description: File info. Used in file upload feature using HTTPS
      properties:
        action:
          description: G2P Connect specific actions. Usually verb from the URI should go here to help store and fwd kind of processing requirements.
          type: string
        fileName:
          description: Disbursement instruction file representing Disburse or OnDisburse end point elements i.e signature/header/message entities as a file record
          type: string
          format: binary
        fileFormat:
          description: 'File content format. e.g json, csv, etc.,'
          type: string
          default: json
          example: csv
      required:
        - action
        - fileName
    FinancialAddress:
      type: string
      description: '<br> 1. Financial address is a normative represenation of a store of value account represented as account@provider <br> 2. Every payer/payee financial address must be resolved to an actual store of value account number for processing the payment instruction <br> 3. Few examples: <br> - uid@pymt-rail e.g 12345@bsp <br> - uid@id-provider e.g 12345@PhilID <br> - mobile@mobile-provider e.g 12345@m-pesa <br> - account-id@bank-psp-code e.g 12345@gtbank.rwanda <br> - account-no@ifsc-code.ifsc.npci e.g 12345@HDFC0000001.ifsc.npci <br> - user-id@psp-code e.g. joeuser@mypsp <br> - token@psp-code e.g ot123456@mypsp <br> - code@purpose-code.voucher-provider.voucher e.g 12345@food.sodexo.voucher, 12345@medical.xyz.voucher <br> - cdbc-id@cdbc e.g. 12345@DCash'
      format: '^[a-zA-Z0-9.-]+@[a-zA-Z0-9.-]+$'
      example: 12345@PhilID
    LanguageCode:
      description: indicates language code. G2P Connect supports country codes as per ISO 639.3 standard
      type: string
      pattern: '^[a-z]{3,3}$'
      example: kri
    MsgCallbackReqHeader:
      type: object
      description: Message header
      properties:
        version:
          description: g2p connect specification version being used
          type: string
          example: 0.1.0
        message_id:
          description: Unique message id to communicate between sender and receiver systems. Receiving system should echo the orignial message_id for correlations.
          type: string
          example: '123456789020211216223812'
        timestamp:
          description: Time of request generation in RFC3339 format
          type: string
          format: date-time
          example: '2022-12-04T18:02:35+00:00'
        action:
          description: G2P Connect specific action. Usually verb from the URI should go here to help store and fwd kind of processing requirements.
          type: string
        status:
          description: Message processing status code
          type: string
          enum:
            - REJECTED
            - IN_PROGRESS
            - COMPLETED
        status_reason_code:
          description: 'Status reason code, if any. Helps for systems integration'
          type: string
          maxLength: 99
        status_reason_message:
          description: 'Status reascon code message, if any, Helps actionanble messaging for system/end users'
          type: string
          maxLength: 999
        total_count:
          description: Total no of requests present in the message request
          type: integer
          example: 21800
        completed_count:
          description: No of requests in complteed state. Complete includes success and error requests due to funcational errors
          type: integer
          example: 50
        sender_id:
          description: 'send id registered with the receiving system. Used for authorization, encryption, digital sign verfication, etc., functions.'
          type: string
          example: '10089'
        sender_uri:
          description: sender url to accept callbacks
          type: string
          format: uri
          example: ''
        receiver_id:
          description: 'receiver id registered with the calling system. Used for authorization, encryption, digital sign verfication, etc., functions.'
          type: string
          example: '52077'
        receiver_uri:
          description: receiver url to accept callbacks
          type: string
          format: uri
          example: ''
      required:
        - message_id
        - timestamp
        - action
        - status
    MsgReqHeader:
      type: object
      description: Message header
      properties:
        version:
          description: g2p connect specification version being used
          type: string
          example: 0.1.0
        message_id:
          description: Unique message id to communicate between sender and receiver systems and it's scope is restricted to transport layer only to successfully devier the message between sender and receiver.
          type: string
          example: '123456789020211216223812'
        timestamp:
          description: Time of request generation in RFC3339 format
          type: string
          format: date-time
          example: '2022-12-04T18:01:07+00:00'
        action:
          description: G2P Connect specific action. Usually verb from the URI should go here to help store and fwd kind of processing requirements.
          type: string
        sender_id:
          description: 'send id registered with the receiving system. Used for authorization, encryption, digital sign verfication, etc., functions.'
          type: string
          example: '10089'
        sender_uri:
          description: sender url to accept callbacks
          type: string
          format: uri
          example: 'https://pymts.sender.org/callback/g2p/on-disburse'
        receiver_id:
          description: 'receiver id registered with the calling system. Used for authorization, encryption, digital sign verfication, etc., functions.'
          type: string
          example: '52077'
        receiver_uri:
          description: receiver url to accept callbacks
          type: string
          format: uri
          example: ''
        total_count:
          description: Total no of requests present in the message request
          type: integer
          example: 21800
      required:
        - message_id
        - timestamp
    MsgSignature:
      type: string
      description: Signature of message body verified using sender's signing public key
      example: 'Signature: keyId="{sender_id}|{unique_key_id}|{algorithm}",algorithm="ed25519",created="1606970629",expires="1607030629",headers="(created) (expires) digest",signature="Base64(signing string)'
    ReferenceId:
      type: string
      description: Unique reference id set by business txn initiating system. Used for co-relating the callback requests and to get status info
      example: '12345678901234567890'
    RequestStatus:
      type: string
      description: 'Request (e.g disburse, link, unlink, resolve, etc.,) status: <br> 1. RCVD: Received; Request received <br> 2. PDNG: Pending; Request initiated <br> 3. SUCC: Success; Request successful <br> 4. RJCT: Rejected; Request rejected <br> 5. UKWN: Unknown; Unknown error'
      enum:
        - RCVD
        - PDNG
        - SUCC
        - RJCT
        - UKWN
    Timestamp:
      type: string
      description: datetime in RFC3339 format
      format: date-time
      example: '2022-12-04T17:20:07-04:00'
    TransactionId:
      description: 'Unique transaction id set by sender to co-relate requests across interface end point, sessions, etc.,'
      type: string
      maxLength: 99
      example: 012345678901234567890
  parameters:
    accept-language:
      in: header
      name: accept-language
      description: 'Default value: en'
      required: false
      schema:
        type: string
        example: en
    timestamp:
      in: header
      name: timestamp
      description: 'request timestamp in HTTP Date format - Tue, 06 Mar 2020 21:00:00 GMT'
      required: true
      schema:
        type: string
        example: 'Tue, 06 Mar 2020 21:00:00 GMT'
    transaction_id:
      in: path
      name: transaction_id
      description: 'Unique transaction id set by sender as part of the initiating request to co-relate requests across interface end point, sessions, etc., For e.g transaction_id be used to find status using GET call or correlate the transaction as part of the callback call.'
      required: true
      schema:
        type: string
        maxLength: 99
        example: 012345678901234567890
    summary_only:
      in: path
      name: summary_only
      description: 'Optional. Defualt is false, If summary_only set to true then only the message header with stats / status to be returend as part of implementation'
      required: true
      schema:
        type: boolean
        default: true
    beneficiary_id:
      in: path
      name: beneficiary_id
      required: true
      description: '<br> 1. Beneficiary id is a normative represenation represented as id@id-provider <br> 2. This will enumerate foundational and functioanl id''s to easily resolvable addressess <br> 3. Few examples: <br> - id@id-provider e.g 12345@mosip, 12345@PhilID <br> - id@civil-registry.issuing-agency e.g 12345@crvs.rwanda, 12345@ejanma.karnataka - id@functional-identifier.issuing-agency e.g 12345@voter.Rwanda, 12345@DL.karnataka, 12345@fruits.karnataka <br> Note: id-provider should be made configurable and DPGs operating should adapt to the local jurisdiction and policies. e.g fruits.karnataka represents farmer registry in karnataka state govt.<br>'
      schema:
        type: string
        format: '^[a-zA-Z0-9.-]+@[a-zA-Z0-9.-]+$'
        example: 12345@mosip
  responses:
    HttpErrorResponse:
      description: HTTP layer error details
      content:
        application/json:
          schema:
            type: object
            description: 'HTTP transport layer error codes. Used by components like gateways, LB responding with HTTP status codes 1xx, 2xx, 3xx, 4xx and 5xx'
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    description: error code
                  message:
                    type: string
                    description: error message
    Response:
      description: Acknowledgement of message received after successful validation of message and signature
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: object
                properties:
                  ack:
                    $ref: '#/components/schemas/Ack'
              error:
                $ref: '#/components/schemas/Error'
  securitySchemes:
    x-access-token:
      type: http
      scheme: bearer
      bearerFormat: jwt
      description: Authenticating using sessiong token issued by platfrom/system api gateway or auth services issuing session token apis using client id & secret
