openapi: 3.0.0
info:
  title: ID Mapper
  description: 'Discussions <a href= "https://github.com/G2P-Connect/.github/discussions/16">thread</a> <br><br> Manage ID to Financial Address mapper registry'
  version: 0.1.0
  contact:
    name: G2P Connect
    email: info@g2pconnect.global
  license:
    name: G2P Connect License
    url: 'https://github.com/G2P-Connect/specs/blob/main/LICENSE'
servers:
  - url: 'https://sandbox.dpg.org/v0.1.0/{namespace}'
    description: Sandbox Server
paths:
  /mapper/link:
    post:
      summary: 'FAMAP-LNK : /mapper/link'
      description: Linking ID to Financial Address in the mapper registry
      operationId: post_g2p_mapper_link
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgHeader'
                    - properties:
                        action:
                          enum:
                            - link
                message:
                  type: object
                  properties:
                    transaction_id:
                      $ref: '#/components/schemas/TransactionId'
                    link_request:
                      type: array
                      items:
                        $ref: '#/components/schemas/LinkRequest'
                  required:
                    - transaction_id
                    - link_request
              required:
                - header
                - message
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - link
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /mapper/on-link:
    post:
      summary: 'FAMAP-ON-LNK : /mapper/on-link'
      description: Linking id to fa response through callback end point
      operationId: post_g2p_mapper_on-link
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgCallbackHeader'
                    - properties:
                        action:
                          enum:
                            - on-link
                message:
                  type: object
                  properties:
                    transaction_id:
                      $ref: '#/components/schemas/TransactionId'
                    link_response:
                      type: array
                      items:
                        $ref: '#/components/schemas/LinkResponse'
                  required:
                    - transaction_id
                    - link_response
              required:
                - header
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - on-link
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /mapper/update:
    post:
      summary: "FAMAP-UPDT\t: /mapper/update"
      description: Updating fa details against an id in mapper registry
      operationId: put_g2p_mapper_update
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgHeader'
                    - properties:
                        action:
                          enum:
                            - update
                message:
                  type: object
                  properties:
                    transaction_id:
                      $ref: '#/components/schemas/TransactionId'
                    update_request:
                      type: array
                      items:
                        $ref: '#/components/schemas/UpdateRequest'
                  required:
                    - transaction_id
                    - update_request
              required:
                - header
                - message
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - update
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /mapper/on-update:
    post:
      summary: "FAMAP-ON-UPDT\t: /mapper/on-update"
      description: Update response through callback end point
      operationId: put_g2p_mapper_on-update
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgCallbackHeader'
                    - properties:
                        action:
                          enum:
                            - on-update
                message:
                  type: object
                  properties:
                    transaction_id:
                      $ref: '#/components/schemas/TransactionId'
                    update_response:
                      type: array
                      items:
                        $ref: '#/components/schemas/UpdateResponse'
                  required:
                    - transaction_id
                    - update_response
              required:
                - header
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - on-update
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /mapper/unlink:
    post:
      summary: 'FAMAP-ULNK : /mapper/unlink'
      description: Unlinking id from mapper registry
      operationId: post_g2p_mapper_unlink
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgHeader'
                    - properties:
                        action:
                          enum:
                            - unlink
                message:
                  type: object
                  properties:
                    transaction_id:
                      $ref: '#/components/schemas/TransactionId'
                    unlink_request:
                      type: array
                      items:
                        $ref: '#/components/schemas/UnlinkRequest'
                  required:
                    - transaction_id
                    - unlink_request
              required:
                - header
                - message
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - unlink
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /mapper/on-unlink:
    post:
      summary: 'FAMAP-ON-ULNK : /mapper/on-unlink'
      description: Unlinking response through callback end point
      operationId: post_g2p_mapper_on-unlink
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgCallbackHeader'
                    - properties:
                        action:
                          enum:
                            - on-unlink
                message:
                  type: object
                  properties:
                    transaction_id:
                      $ref: '#/components/schemas/TransactionId'
                    unlink_response:
                      type: array
                      items:
                        $ref: '#/components/schemas/UnlinkResponse'
                  required:
                    - transaction_id
                    - unlink_response
              required:
                - header
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - on-unlink
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /mapper/resolve:
    post:
      summary: 'FAMAP-RSLV : /mapper/resolve'
      description: Resolve fa / beneficiary id to a store of value
      operationId: post_g2p_mapper_resolve
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgHeader'
                    - properties:
                        action:
                          enum:
                            - resolve
                message:
                  type: object
                  properties:
                    transaction_id:
                      $ref: '#/components/schemas/TransactionId'
                    resolve_request:
                      type: array
                      items:
                        $ref: '#/components/schemas/ResolveRequest'
                  required:
                    - transaction_id
                    - resolve_request
              required:
                - header
                - message
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - resolve
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /mapper/on-resolve:
    post:
      summary: 'FAMAP-ON-RSLV : /mapper/on-resolve'
      description: Resolve response through callback end point
      operationId: post_g2p_mapper_on-resolve
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgCallbackHeader'
                    - properties:
                        action:
                          enum:
                            - on-resolve
                message:
                  type: object
                  properties:
                    transaction_id:
                      $ref: '#/components/schemas/TransactionId'
                    resolve_response:
                      type: array
                      items:
                        $ref: '#/components/schemas/ResolveResponse'
                  required:
                    - transaction_id
                    - resolve_response
              required:
                - header
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - on-resolve
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /mapper/search:
    post:
      summary: 'FAMAP-SRCH : /mapper/search'
      description: Search mapper by searchable attributes
      operationId: post_g2p_famap_search
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgHeader'
                    - properties:
                        action:
                          enum:
                            - search
                message:
                  type: object
                  properties:
                    transaction_id:
                      $ref: '#/components/schemas/TransactionId'
                    search_request:
                      $ref: '#/components/schemas/SearchRequest'
                  required:
                    - transaction_id
                    - search_request
              required:
                - header
                - message
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - search
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /mapper/on-search:
    post:
      summary: 'FAMAP-ON-SRCH : /mapper/on-search'
      description: Mapper search results through call back
      operationId: post_g2p_famap_on-search
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgCallbackHeader'
                    - properties:
                        action:
                          enum:
                            - on-search
                message:
                  type: object
                  properties:
                    transaction_id:
                      $ref: '#/components/schemas/TransactionId'
                    search_response:
                      type: array
                      items:
                        $ref: '#/components/schemas/SearchResponse'
                  required:
                    - transaction_id
                    - search_response
              required:
                - header
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - on-search'
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /mapper/txn/status:
    post:
      summary: 'FAMAP-TXNSTS : /mapper/txn/status'
      description: Perform async status check of previous mapper transanctions using searchable attributes
      operationId: post_g2p_mapper_txnstatus
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgHeader'
                    - properties:
                        action:
                          enum:
                            - link
                            - update
                            - resolve
                            - unlink
                message:
                  type: object
                  properties:
                    transaction_id:
                      $ref: '#/components/schemas/TransactionId'
                    txnstatus_request:
                      $ref: '#/components/schemas/TxnStatusRequest'
                  required:
                    - transaction_id
                    - txnstatus_request
              required:
                - header
                - message
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - status
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
  /mapper/txn/on-status:
    post:
      summary: 'FAMAP-ON-TXNSTS : /mapper/txn/on-status'
      description: Response to async status check of previous mapper transanctions using callback
      operationId: post_g2p_mapper_on-txnstatus
      requestBody:
        description: ''
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                signature:
                  $ref: '#/components/schemas/MsgSignature'
                header:
                  allOf:
                    - $ref: '#/components/schemas/MsgCallbackHeader'
                    - properties:
                        action:
                          enum:
                            - on-link
                            - on-update
                            - on-resolve
                            - on-unlink
                            - on-search
                message:
                  type: object
                  properties:
                    transaction_id:
                      $ref: '#/components/schemas/TransactionId'
                    txnstatus_response:
                      $ref: '#/components/schemas/TxnStatusResponse'
                  required:
                    - transaction_id
                    - txnstatus_response
              required:
                - header
          multipart/form-data:
            schema:
              allOf:
                - $ref: '#/components/schemas/FileInfo'
                - properties:
                    action:
                      enum:
                        - on-link
                        - on-update
                        - on-resolve
                        - on-unlink
                        - on-search
      responses:
        '401':
          $ref: '#/components/responses/HttpErrorResponse'
        '403':
          $ref: '#/components/responses/HttpErrorResponse'
        '500':
          $ref: '#/components/responses/HttpErrorResponse'
        default:
          $ref: '#/components/responses/Response'
      security:
        - x-access-token: []
      deprecated: false
components:
  schemas:
    LinkRequest:
      type: object
      description: ID to Store of value account linking request
      properties:
        reference_id:
          $ref: '#/components/schemas/ReferenceId'
        timestamp:
          $ref: '#/components/schemas/Timestamp'
        id:
          $ref: '#/components/schemas/PersonId'
        fa:
          $ref: '#/components/schemas/FinancialAddress'
        name:
          $ref: '#/components/schemas/Person/properties/name'
        mobile_number:
          type: string
        additional_info:
          $ref: '#/components/schemas/KeyValueInfo'
        locale:
          $ref: '#/components/schemas/LanguageCode'
      required:
        - reference_id
        - timestamp
        - id
        - fa
    LinkResponse:
      type: object
      description: Beneficiary ID to Store of value account linking response
      properties:
        reference_id:
          $ref: '#/components/schemas/ReferenceId'
        timestamp:
          $ref: '#/components/schemas/Timestamp'
        fa:
          $ref: '#/components/schemas/FinancialAddress'
        status:
          $ref: '#/components/schemas/RequestStatus'
        status_reason_code:
          $ref: '#/components/schemas/LinkStatusReasonCode'
        status_reason_message:
          description: Status reascon code message. Helps actionanble messaging for systems/end users
          type: string
          maxLength: 999
        additional_info:
          $ref: '#/components/schemas/KeyValueInfo'
        locale:
          $ref: '#/components/schemas/LanguageCode'
      required:
        - reference_id
        - timestamp
        - status
    LinkStatusReasonCode:
      type: string
      description: FA Mapper Link status reason codes
      enum:
        - rjct.reference_id.invalid
        - rjct.reference_id.duplicate
        - rjct.timestamp.invalid
        - rjct.id.invalid
        - rjct.fa.invalid
        - rjct.name.invalid
        - rjct.mobile_number.invalid
        - rjct.unknown.retry
        - rjct.other.error
    UnlinkStatusReasonCode:
      type: string
      description: FA Mapper Unlink status reason codes
      enum:
        - rjct.reference_id.invalid
        - rjct.reference_id.duplicate
        - rjct.timestamp.invalid
        - rjct.beneficiary_name.invalid
    ResolveRequest:
      type: object
      description: Resolve financial address or ID to a store of value - provider only or account info
      properties:
        reference_id:
          $ref: '#/components/schemas/ReferenceId'
        timestamp:
          $ref: '#/components/schemas/Timestamp'
        type:
          description: Enumerated options for various resolution options
          type: string
          enum:
            - fa_to_account_provider
            - fa_to_account_info
            - id_to_account_provider
            - id_to_account_info
        fa:
          $ref: '#/components/schemas/FinancialAddress'
        id:
          $ref: '#/components/schemas/Person'
        scope:
          description: Resolve scope to return only yes_no or account provider or id details. Additional authorization based on caller to be enforced by the implementing system to return any sensitive data.
          type: string
          enum:
            - yes_no
            - details
          default: yes_no
        additional_info:
          $ref: '#/components/schemas/KeyValueInfo'
        locale:
          $ref: '#/components/schemas/LanguageCode'
      required:
        - reference_id
        - timestamp
        - type
    ResolveResponse:
      type: object
      description: Resolve financial address to store of value account info response
      properties:
        reference_id:
          $ref: '#/components/schemas/ReferenceId'
        timestamp:
          $ref: '#/components/schemas/Timestamp'
        fa:
          $ref: '#/components/schemas/FinancialAddress'
        id:
          $ref: '#/components/schemas/PersonId'
        account_provider_info:
          $ref: '#/components/schemas/AccountProviderInfo'
        account_info:
          $ref: '#/components/schemas/AccountInfo'
        status:
          $ref: '#/components/schemas/RequestStatus'
        status_reason_code:
          $ref: '#/components/schemas/ResolveStatusReasonCode'
        status_reason_message:
          description: Status reascon code message. Helps actionanble messaging for systems/end users
          type: string
          maxLength: 999
        additional_info:
          $ref: '#/components/schemas/KeyValueInfo'
        locale:
          $ref: '#/components/schemas/LanguageCode'
      required:
        - reference_id
        - timestamp
        - status
    ResolveStatusReasonCode:
      type: string
      description: FA Mapper Resolve status reason codes
      enum:
        - rjct.reference_id.invalid
        - rjct.reference_id.duplicate
        - rjct.timestamp.invalid
        - rjct.id.invalid
        - rjct.fa.invalid
        - rjct.resolve_type.not_supported
        - succ.fa.active
        - succ.fa.inactive
        - succ.fa.not_found
        - succ.id.active
        - succ.id.inactive
        - succ.id.not_found
    SearchRequest:
      type: object
      description: Request to search mapper requests
      properties:
        reference_id:
          $ref: '#/components/schemas/ReferenceId'
        request_type:
          type: string
          enum:
            - link
            - unlink
            - update
            - resolve
        attribute_type:
          type: string
          enum:
            - payer_fa
            - payee_fa
        attribute_value:
          oneOf:
            - $ref: '#/components/schemas/FinancialAddressList'
        locale:
          $ref: '#/components/schemas/LanguageCode'
      required:
        - reference_id
        - request_type
        - attribute_type
        - attribute_value
    SearchResponse:
      type: object
      description: Digital credential
      properties:
        reference_id:
          $ref: '#/components/schemas/ReferenceId'
        timestamp:
          $ref: '#/components/schemas/Timestamp'
        status:
          $ref: '#/components/schemas/RequestStatus'
        status_reason_code:
          $ref: '#/components/schemas/SearchStatusReasonCode'
        status_reason_message:
          description: Status reason code message. Helps actionanble messaging for systems/end users
          type: string
          maxLength: 999
        mapper:
          items:
            oneOf:
              - $ref: '#/components/schemas/LinkResponse'
              - $ref: '#/components/schemas/UnlinkResponse'
              - $ref: '#/components/schemas/UpdateResponse'
              - $ref: '#/components/schemas/ResolveResponse'
        locale:
          $ref: '#/components/schemas/LanguageCode'
      required:
        - reference_id
        - timestamp
        - status
    SearchStatusReasonCode:
      type: string
      description: Financial mapper search reason codes
      enum:
        - rjct.reference_id.invalid
        - rjct.reference_id.duplicate
        - rjct.timestamp.invalid
        - rjct.request_type.invalid
        - rjct.attribute_type.invalid
        - rjct.srch_transaction_id.invalid
        - rjct.srch_transaction_id.not_found
        - rjct_srch_reference_id_invalid
        - rjct_srch_reference_id_not_found
        - rjct.reference_id.invalid
        - rjct.srch_payer_fa.invalid
        - rjct.srch_payee_fa.invalid
        - rjct.share_attributes.invalid
    TxnStatusRequest:
      type: object
      description: Request to search disbursement using payer or payee fa
      properties:
        reference_id:
          $ref: '#/components/schemas/ReferenceId'
        request_type:
          type: string
          enum:
            - link
            - unlink
            - update
            - resolve
        search_type:
          type: string
          enum:
            - transaction_id
            - reference_id_list
        search_attribute:
          oneOf:
            - $ref: '#/components/schemas/TransactionId'
            - $ref: '#/components/schemas/ReferenceIdList'
        locale:
          $ref: '#/components/schemas/LanguageCode'
      required:
        - reference_id
        - search_type
        - search_attribute
    TxnStatusResponse:
      type: array
      items:
        oneOf:
          - $ref: '#/components/schemas/LinkResponse'
          - $ref: '#/components/schemas/ResolveResponse'
          - $ref: '#/components/schemas/UpdateResponse'
          - $ref: '#/components/schemas/UnlinkResponse'
      example:
        status-response:
          reference_id: test
          timestamp: test
          fa: test
          status: SUCC
    UnlinkRequest:
      type: object
      description: ID to Store of value account unlinking request. Unlink request removes entry against requested id/fa pair.
      properties:
        reference_id:
          $ref: '#/components/schemas/ReferenceId'
        timestamp:
          $ref: '#/components/schemas/Timestamp'
        id:
          $ref: '#/components/schemas/PersonId'
        fa:
          $ref: '#/components/schemas/FinancialAddress'
        additional_info:
          $ref: '#/components/schemas/KeyValueInfo'
        locale:
          $ref: '#/components/schemas/LanguageCode'
      required:
        - reference_id
        - timestamp
        - fa
    UnlinkResponse:
      type: object
      description: ID to Store of value account unlinking response
      properties:
        reference_id:
          $ref: '#/components/schemas/ReferenceId'
        timestamp:
          $ref: '#/components/schemas/Timestamp'
        status:
          $ref: '#/components/schemas/RequestStatus'
        status_reason_code:
          $ref: '#/components/schemas/UnlinkStatusReasonCode'
        status_reason_message:
          description: 'Status reascon code message, if any, Helps actionanble messaging for systems/end users'
          type: string
          maxLength: 999
        fa:
          $ref: '#/components/schemas/FinancialAddress'
        additional_info:
          $ref: '#/components/schemas/KeyValueInfo'
        locale:
          $ref: '#/components/schemas/LanguageCode'
      required:
        - reference_id
        - timestamp
        - status
    UpdateRequest:
      type: object
      description: ID to Store of value account update request. ID can only unlinked.
      properties:
        reference_id:
          $ref: '#/components/schemas/ReferenceId'
        timestamp:
          $ref: '#/components/schemas/Timestamp'
        id:
          $ref: '#/components/schemas/PersonId'
        fa:
          $ref: '#/components/schemas/FinancialAddress'
        name:
          $ref: '#/components/schemas/Person/properties/name'
        mobile_number:
          type: string
        additional_info:
          description: 'Additional info for interfacing DPGs platforms to integrate, reconcile, etc., unstructured data'
          type: string
          maxLength: 999
        locale:
          $ref: '#/components/schemas/LanguageCode'
      required:
        - reference_id
        - timestamp
        - id
        - fa
    UpdateResponse:
      type: object
      description: ID to Store of value account update response
      properties:
        reference_id:
          $ref: '#/components/schemas/ReferenceId'
        timestamp:
          $ref: '#/components/schemas/Timestamp'
        fa:
          $ref: '#/components/schemas/FinancialAddress'
        status:
          $ref: '#/components/schemas/RequestStatus'
        status_reason_code:
          $ref: '#/components/schemas/UpdateStatusReasonCode'
        status_reason_message:
          description: 'Status reascon code message, if any, Helps actionanble messaging for systems/end users'
          type: string
          maxLength: 999
        additional_info:
          $ref: '#/components/schemas/KeyValueInfo'
        locale:
          $ref: '#/components/schemas/LanguageCode'
      required:
        - reference_id
        - timestamp
        - fa
        - status
    UpdateStatusReasonCode:
      type: string
      description: FA Mapper Update status reason codes
      enum:
        - rjct.reference_id.invalid
        - rjct.reference_id.duplicate
        - rjct.timestamp.invalid
        - rjct.beneficiary_name.invalid
    AccountInfo:
      type: object
      description: Beneficiary store of value account info
      properties:
        name:
          $ref: '#/components/schemas/Person/properties/name'
        contact_info:
          $ref: '#/components/schemas/Person/properties/contact_info'
        account_info:
          type: object
          properties:
            type:
              type: string
              description: 'store of  value account type. e.g savings, checking, pre-paid, voucher, mobile-wallet, etc.,'
              example: savings
            number:
              type: string
              description: store of value account number
              example: '12345'
            provider_info:
              $ref: '#/components/schemas/AccountProviderInfo'
            additional_info:
              description: 'Additional info, if any'
              type: string
              maxLength: 999
          required:
            - type
            - number
            - provider_info
      required:
        - name
        - contact_info
        - account_info
    AccountProviderInfo:
      type: object
      description: Store of value account provider info
      properties:
        name:
          type: string
          description: 'entity name like bank name, prepaid card/voucher issuing system, etc.,'
          example: GT Bank Rawanda
        code:
          type: string
          description: 'code to identify the entity like bank, prepaid card/voucher issuing system, etc.,'
          example: GTBIRWRKXXX
        subcode:
          type: string
          description: 'sub code like entity''s branch code, etc.,'
        additional_info:
          description: 'Additional info, if any'
          type: string
          maxLength: 999
      required:
        - name
        - code
    Ack:
      type: string
      description: |
        1. ACK: If the request is valid (for basic checks) and async callback (i.e webhook) will be invoked by reciever back to the sender.
        2. NACK: If the request is valid (for basic checks) and there is no futher updates from reciever back to the sender.
        3. ERR: If the reuqest is invalid and reciver can't process the request. error object holds error code, message.
      enum:
        - ACK
        - NACK
        - ERR
    Error:
      description: |
        Describes an error object that is returned to standard post call request. <br>
        1. This object shall be sent when any request received by a participant is not parsable or message integrity check fails. <br>
        2. This object may be used across all transport protocols to acknowledge the receipt of a message i.e HTTPS, FTP, Messaging etc., <br>"
      type: object
      properties:
        code:
          type: string
          description: Standard error code
          enum:
            - err.request.bad
            - err.request.unauthorized
            - err.request.forbidden
            - err.request.not_found
            - err.request.timeout
            - err.version.not_supported
            - err.request.too_many_requests
            - err.sender_id.invalid
            - err.sender_uri.invalid
            - err.receiver_id.invalid
            - err.signature.missing
            - err.signature.invalid
            - err.encryption.invalid
            - err.service.unavailable
        message:
          type: string
          description: message to describe above error code
          maxLength: 999
    FileInfo:
      type: object
      description: File info. Used in file upload feature using HTTPS
      properties:
        action:
          description: G2P Connect specific actions. Usually verb from the URI should go here to help store and fwd kind of processing requirements.
          type: string
        fileName:
          description: Disbursement instruction file representing Disburse or OnDisburse end point elements i.e signature/header/message entities as a file record
          type: string
          format: binary
        fileFormat:
          description: 'File content format. e.g json, csv, etc.,'
          type: string
          default: json
          example: csv
      required:
        - action
        - fileName
    FinancialAddress:
      type: string
      description: '<br> 1. Financial address is a normative represenation of a store of value account represented as account@provider <br> 2. Every payer/payee financial address must be resolved to an actual store of value account number for processing the payment instruction <br> 3. Few examples: <br> - uid@pymt-rail e.g 12345@bsp <br> - uid@id-provider e.g 12345@PhilID <br> - mobile@mobile-provider e.g 12345@m-pesa <br> - account-id@bank-psp-code e.g 12345@gtbank.rwanda <br> - account-no@ifsc-code.ifsc.npci e.g 12345@HDFC0000001.ifsc.npci <br> - user-id@psp-code e.g. joeuser@mypsp <br> - token@psp-code e.g ot123456@mypsp <br> - code@purpose-code.voucher-provider.voucher e.g 12345@food.sodexo.voucher, 12345@medical.xyz.voucher <br> - cdbc-id@cdbc e.g. 12345@DCash'
      format: '^[a-zA-Z0-9.-]+@[a-zA-Z0-9.-]+$'
      example: 12345@PhilID
    FinancialAddressList:
      items:
        $ref: '#/components/schemas/FinancialAddress'
    KeyValueInfo:
      type: object
      description: Key Value info
      properties:
        key:
          type: string
          maxLength: 99
        value:
          type: string
          maxLength: 999
      required:
        - key
        - value
    LanguageCode:
      description: indicates language code. G2P Connect supports country codes as per ISO 639.3 standard
      type: string
      pattern: '^[a-z]{3,3}$'
      example: en
    MsgCallbackHeader:
      type: object
      description: Message header
      properties:
        version:
          description: Messaing protocol specification version being used
          type: string
          example: 0.1.0
        message_id:
          description: Unique message id to communicate between sender and receiver systems. Receiving system should echo the orignial message_id for correlations.
          type: string
          example: '123456789020211216223812'
        message_ts:
          description: Time of message generation in RFC3339 format
          type: string
          format: date-time
          example: '2022-12-04T18:02:35+00:00'
        action:
          description: G2P Connect specific action. Usually verb from the URI should go here to help store and fwd kind of processing requirements.
          type: string
        status:
          $ref: '#/components/schemas/RequestStatus'
        status_reason_code:
          $ref: '#/components/schemas/MsgHeaderStatusReasonCode'
        status_reason_message:
          description: 'Status reascon code message, if any, Helps actionanble messaging for system/end users'
          type: string
          maxLength: 999
        total_count:
          description: Total no of requests present in the message request
          type: integer
          example: 21800
        completed_count:
          description: No of requests in complteed state. Complete includes success and error requests due to funcational errors
          type: integer
          example: 50
        sender_id:
          description: 'send id registered with the receiving system. Used for authorization, encryption, digital sign verfication, etc., functions.'
          type: string
          example: '10089'
        sender_uri:
          description: sender url to accept callbacks
          type: string
          format: uri
          example: ''
        receiver_id:
          description: 'receiver id registered with the calling system. Used for authorization, encryption, digital sign verfication, etc., functions.'
          type: string
          example: '52077'
        receiver_uri:
          description: receiver url to accept callbacks
          type: string
          format: uri
          example: ''
        is_encrypted:
          description: Is message encrypted?
          type: boolean
          default: true
      required:
        - message_id
        - message_ts
        - action
        - status
    MsgHeader:
      type: object
      description: Message header
      properties:
        version:
          description: Messaing protocol specification version being used
          type: string
          example: 0.1.0
        message_id:
          description: 'Unique message id to communicate between sender and receiver systems to realiable deliver the message over any transport layer i.e https, pub/sub, sftp etc.,'
          type: string
          example: '123456789020211216223812'
        message_ts:
          description: Time of message generation in RFC3339 format
          type: string
          format: date-time
          example: '2022-12-04T18:01:07+00:00'
        action:
          description: 'G2P Connect specific action. Usually verb from the URI. Helps in sync, async, store/fwd processing. Helps identity payload type in message property.'
          type: string
        sender_id:
          description: 'send id registered with the receiving system. Used for authorization, encryption, digital sign verfication, etc., functions.'
          type: string
          example: '10089'
        sender_uri:
          description: sender url to accept callbacks
          type: string
          format: uri
          example: 'https://pymts.sender.org/g2p/callback/on-disburse'
        receiver_id:
          description: 'receiver id registered with the calling system. Used for authorization, encryption, digital sign verfication, etc., functions.'
          type: string
          example: '52077'
        total_count:
          description: Total no of requests present in the message request
          type: integer
          example: 21800
        is_encrypted:
          description: Is message encrypted?
          type: boolean
          default: true
      required:
        - message_id
        - message_ts
        - action
    MsgHeaderStatusReasonCode:
      type: string
      description: Message header related common status reason codes
      enum:
        - rjct.version.invalid
        - rjct.message_id.duplicate
        - rjct.message_ts.invalid
        - rjct.action.invalid
        - rjct.action.not_supported
        - rjct.total_count.invalid
        - rjct.total_count.limit_exceeded
        - rjct.errors.too_many
    MsgSignature:
      type: string
      description: 'Signature of {header}+{message} body verified using sender''s signing public key'
      example: 'Signature:  namespace="g2p", kidId="{sender_id}|{unique_key_id}|{algorithm}", algorithm="ed25519", created="1606970629", expires="1607030629", headers="(created) (expires) digest", signature="Base64(signing content)'
    Person:
      type: object
      description: Person indentity info
      properties:
        name:
          type: string
          description: 'End-User''s full name in displayable form including all name parts, possibly including titles and suffixes, ordered according to the End-User''s locale and preferences.'
          example: Mr. John Smith
        contact_info:
          description: Person contact details
          properties:
            mobile_number:
              type: string
            alt_mobile_number:
              type: string
            phone:
              type: string
              description: landline
            email_id:
              type: string
            alt_email_id:
              type: string
        document_details:
          type: object
          description: |
            1. Person document detials as per OpenID <a href"https://openid.net/specs/openid-connect-4-identity-assurance-1_0-13.html#name-evidence-element">specs</a>
            2. JSON object representing the document used to perform the identity verification. 
          properties:
            type:
              description: 'String denoting the type of the document. The OP MAY use other than the predefined values in which case the RPs will either be unable to process the assertion, just store this value for audit purposes, or apply bespoken business logic to it.'
              type: string
            document_number:
              description: 'String Representing an identifier/number that uniquely identifies a document that was issued to the End-User. This is used on one document and will change if it is reissued, e.g., a passport number, certificate number, etc. Note, number can be used as an alias for ''document_number'' for backward compatibility purposes but will be deprecated in future releases, implementers are recommended to use document_number.'
              type: string
            personal_number:
              description: 'String representing an identifier that is assigned to the End-User and is not limited to being used in one document, for example a national identification number, personal identity number, citizen number, social security number, driver number, account number, customer number, licensee number, etc.'
              type: string
            serial_number:
              description: String representing an identifier/number that identifies the document irrespective of any personalization information (this usually only applies to physical artifacts and is present before personalization).
              type: string
            date_of_issuance:
              description: 'The date the document was issued as ISO 8601 [ISO8601] YYYY-MM-DD format.'
              type: string
            date_of_expiry:
              description: 'The date the document will expire as ISO 8601 [ISO8601] YYYY-MM-DD format.'
              type: string
            issuer:
              description: JSON object containing information about the issuer of this document. This object consists of the following properties
              type: object
              properties:
                name:
                  description: Designation of the issuer of the document
                  type: string
                address:
                  description: 'Person address info as per OpenID <a href="https://openid.net/specs/openid-connect-core-1_0.html#AddressClaim">specs</a>'
                  properties:
                    formatted:
                      description: 'Full mailing address, formatted for display or use on a mailing label. This field MAY contain multiple lines, separated by newlines. Newlines can be represented either as a carriage return/line feed pair ("\r\n") or as a single line feed character ("\n").'
                      type: string
                    street_address:
                      description: 'Full street address component, which MAY include house number, street name, Post Office Box, and multi-line extended street address information. This field MAY contain multiple lines, separated by newlines. Newlines can be represented either as a carriage return/line feed pair ("\r\n") or as a single line feed character ("\n").'
                      type: string
                    locality:
                      description: City or locality component.
                      type: string
                    region:
                      description: 'State, province, prefecture, or region component.'
                      type: string
                    postal_code:
                      description: Zip code or postal code component.
                      type: string
                    country:
                      description: 'state, province, region'
                      type: string
                    country_code:
                      description: 'OPTIONAL. country part of an address represented using an ISO 3-letter code [ISO3166-3], e.g., "USA" or "JPN". 2-letter ISO codes [ISO3166-1] MAY be used for compatibility reasons. country_code MAY be used as alternative to the existing country field.'
                      type: string
                country_code:
                  description: 'String denoting the country or supranational organization that issued the document as ISO 3166/ICAO 3-letter codes [ICAO-Doc9303], e.g., "USA" or "JPN". 2-letter ICAO codes MAY be used in some circumstances for compatibility reasons.'
                  type: string
                jurisdiction:
                  description: String containing the name of the region(s)/state(s)/province(s)/municipality(ies) that issuer has jurisdiction over (if this information is not common knowledge or derivable from the address).
                  type: string
          required:
            - type
      required:
        - name
    PersonId:
      type: string
      description: '<br> 1. Beneficiary id is a normative case insensitive represenation represented as id@id-provider <br> 2. This will enumerate foundational and functioanl id''s to easily resolvable addressess <br> 3. This property is intended to unambiguously refer to an object, such as a person, organization, etc., <br> 4. Few examples: <br> - id@identifier-type.id-provider e.g 12345@token.mosip, 12345@uid.aadhaar, 12345@vid.philid <br> - id@civil-registry.issuing-agency e.g 12345@crvs.rwanda, 12345@ejanma.karnataka <br> - id@functional-identifier.issuing-agency e.g 12345@voter.Rwanda, 12345@DL.karnataka, 12345@fruits.karnataka <br> Note: id-provider should be made configurable and DPGs operating should adapt to the local jurisdiction and policies. e.g fruits.karnataka represents farmer registry in karnataka state govt.<br>'
      format: '^[a-zA-Z0-9.-]+@[a-zA-Z0-9.-]+$'
      example: 12345@token.mosip
    ReferenceId:
      type: string
      description: Unique reference_id set by txn initiating system for each request in a batch
      example: '12345678901234567890'
    ReferenceIdList:
      items:
        $ref: '#/components/schemas/ReferenceId'
    RequestStatus:
      type: string
      description: 'Request (e.g disburse, link, unlink, resolve, issue, search, verify, etc.,) status: <br> 1. rcvd: Received; Request received <br> 2. pdng: Pending; Request initiated <br> 3. succ: Success; Request successful <br> 4. rjct: Rejected; Request rejected'
      enum:
        - rcvd
        - pdng
        - succ
        - rjct
    Timestamp:
      type: string
      description: datetime in RFC3339 format
      format: date-time
      example: '2022-12-04T17:20:07-04:00'
    TransactionId:
      description: Unique transaction_id set by txn initiating system (i.e sender) to co-relate requests across processing systems/service end points
      type: string
      maxLength: 99
      example: 012345678901234567890
  parameters:
    accept-language:
      in: header
      name: accept-language
      description: 'Default value: en'
      required: false
      schema:
        type: string
        example: en
    timestamp:
      in: header
      name: timestamp
      description: 'request timestamp in HTTP Date format - Tue, 06 Mar 2020 21:00:00 GMT'
      required: true
      schema:
        type: string
        example: 'Tue, 06 Mar 2020 21:00:00 GMT'
    transaction_id:
      in: path
      name: transaction_id
      description: 'Unique transaction id set by sender as part of the initiating request to co-relate requests across interface end point, sessions, etc., For e.g transaction_id be used to find status using GET call or correlate the transaction as part of the callback call.'
      required: true
      schema:
        type: string
        maxLength: 99
        example: 012345678901234567890
    summary_only:
      in: path
      name: summary_only
      description: 'Optional. Defualt is false, If summary_only set to true then only the message header with stats / status to be returend as part of implementation'
      required: true
      schema:
        type: boolean
        default: true
    beneficiary_id:
      in: path
      name: beneficiary_id
      required: true
      description: '<br> 1. Beneficiary id is a normative represenation represented as id@id-provider <br> 2. This will enumerate foundational and functioanl id''s to easily resolvable addressess <br> 3. Few examples: <br> - id@id-provider e.g 12345@mosip, 12345@PhilID <br> - id@civil-registry.issuing-agency e.g 12345@crvs.rwanda, 12345@ejanma.karnataka - id@functional-identifier.issuing-agency e.g 12345@voter.Rwanda, 12345@DL.karnataka, 12345@fruits.karnataka <br> Note: id-provider should be made configurable and DPGs operating should adapt to the local jurisdiction and policies. e.g fruits.karnataka represents farmer registry in karnataka state govt.<br>'
      schema:
        type: string
        format: '^[a-zA-Z0-9.-]+@[a-zA-Z0-9.-]+$'
        example: 12345@mosip
  responses:
    HttpErrorResponse:
      description: HTTP layer error details
      content:
        application/json:
          schema:
            type: object
            description: 'HTTP transport layer error codes. Used by components like gateways, LB responding with HTTP status codes 1xx, 2xx, 3xx, 4xx and 5xx'
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    description: error code
                  message:
                    type: string
                    description: error message
    Response:
      description: Acknowledgement of message received after successful validation of message and signature
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: object
                properties:
                  ack_status:
                    $ref: '#/components/schemas/Ack'
                  timestamp:
                    $ref: '#/components/schemas/Timestamp'
                  error:
                    $ref: '#/components/schemas/Error'
  securitySchemes:
    x-access-token:
      type: http
      scheme: bearer
      bearerFormat: jwt
      description: Authenticating using sessiong token issued by platfrom/system api gateway or auth services issuing session token apis using client id & secret
